<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>协议</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<!--<link rel="stylesheet" href="../../css/global.css"/>-->
		<link rel="stylesheet" href="../../css/style_zhr.css"/>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">湖北银行电子银行个人客户服务协议</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<!--<div class="tip">
				<div class="tip-title">
					温馨提示：
				</div>
				<ul class='tip-group'>
					<li class='tip-item'>1、凡我行发行的有效信用卡，一元有效消费即累积一积分，积分永久有效。</li>
					<li class='tip-item'>2、信用卡消费累积的积分在有效消费入账日的次日生效，发生信用卡退款，将扣除该笔消费的积分。</li>
					<li class='tip-item'>3、具有特殊积分有效期限制的信用卡详见相应信用卡的具体规定。</li>
					<li class='tip-item'>4、营销活动奖励积分有效期以具体活动公告为准。</li>
					<li class='tip-item'>5、持卡人如有下述任一情形：所持信用卡被停用或管制、自行注销信用卡、 违反《湖北银行信用卡领用合约》、《湖北银行信用卡章程》或其他相关规定的，我行有权取消其参加积分奖励活动资格。</li>
				</ul>
			</div>-->
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_6" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为明确双方的权利和义务，规范双方业务行为，甲方（客户）、乙方（湖北银行）本着平等互利的原则，就电子银行服务相关事宜达成本协议。</p>
				<p class="hint_con color_3">第一条　定义</p>
				<p class="hint_con fz_12 color_6">下列用语在本协议中的含义为：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"电子银行"是指乙方通过面向社会公众开放的通讯通道或开放型公众网络，以及为特定自助服务设施或客户建立的专用网络等方式，为甲方提供的离柜金融服务</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"密码"指客户自行设定并用于验证客户身份的字符信息。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"动态口令"是指按照特定规则动态产生并用于识别客户身份的字符组合，动态口令的载体包括动态令牌、手机等。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"客户证书"指用于存放客户身份标识，并对客户发送的电子银行交易信息进行数字签名的电子文件。乙方为甲方提供的客户证书存放介质为USBKEY。</p>
				<p class="hint_con color_3">第二条  甲方权利、义务</p>
				<p class="hint_con fz_12 color_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一、权利</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）甲方自愿申请注册乙方电子银行，经乙方同意后，将有权根据注册项目的不同享受不同的服务
			
				
				</p>
				<p class="hint_con fz_12 color_6">　　（二）甲方在注册期内有权办理电子银行注销手续。</p>
            <p class="hint_con fz_12 color_6">　　（三）甲方对乙方电子银行服务如有疑问、建议或意见时，可拨打电话"96599（湖北省）、400-85-96599（全国）"、登录乙方网站（http://www.hubeibank.cn）或到乙方各营业网点咨询。</p>
            <p class="hint_con fz_12 color_3">　　二、义务</p>
            <p class="hint_con fz_12 color_6">　　（一）甲方办理电子银行业务，应遵守《湖北银行电子银行章程》和乙方制定的交易规则。</p>
            <p class="hint_con fz_12 color_6">　　（二）甲方到乙方营业网点办理电子银行注册、注销、变更等手续，应按乙方要求提供相关申请资料，甲方应对所申请事项签章确认。甲方签章确认的业务申请资料是本协议不可分割的组成部分。甲方应保证所提供资料真实、准确、完整，对于因甲方提供信息不真实、不准确或不完整所造成的损失由甲方承担。</p>
            <p class="hint_con fz_12 color_6">　　（三）甲方办理网上银行业务应直接登录乙方网站（http://www.hubeibank.cn），而不要通过邮件或其他网站提供的链接登录；甲方办理电话银行业务，应直接拨打乙方服务电话96599（湖北省）、400-85-96599（全国）或湖北银行网站公布的指定客户服务号码，而不要拨打其他电话；甲方使用通过客户端登录的电子银行，客户端软件应从湖北银行网站或指定软件下载网站下载。</p>
            <p class="hint_con fz_12 color_6">　　（四）甲方必须妥善保管本人注册卡号（客户号、账号、登录ID或注册手机号码）、密码、电子口令卡、USBKEY、动态令牌及接收短信动态码的手机。乙方执行通过安全程序的电子支付指令后，甲方不得要求变更或撤销电子支付指令。</p>
            <p class="hint_con fz_12 color_6">　　（五）甲方应按照机密的原则设置和保管密码：避免使用姓名、生日、电话号码等与本人明显相关的信息作为密码，不得将本人自设密码提供给除法律规定外的任何人；通过网上银行或手机银行办理业务后，须将自设密码从浏览器或手机上删除或采取其他合理的保护措施，防止本人密码被窃取。由于密码泄露造成的后果由甲方承担。</p>
            <p class="hint_con fz_12 color_6">　　甲方应该妥善保管预留信息，除在乙方办理业务时使用外，不要向任何其他人、其他网站、电话或短信的问询提供预留信息内容。</p>
            <p class="hint_con fz_12 color_6">　　甲方申领动态令牌后，应妥善保管动态令牌，不得将动态令牌及其产生的动态口令交由他人使用，否则由此造成的后果由甲方承担。</p>
            <p class="hint_con fz_12 color_6">　　（六）甲方使用手机动态码功能，应确保向乙方提供的手机号正确，乙方向该手机号发送可用于支付甲方账户资金的动态口令，甲方应在交易过程中认真核对短信发送号码及发送内容、收款方账号和交易金额等信息是否与正在进行的交易事项一致，因甲方提供手机号有误、未认真核对信息而造成的一切损失，乙方不承担责任。</p>
            <p class="hint_con fz_12 color_6">　　（七）发生以下情况时，甲方应及时到乙方营业网点办理相应手续，否则可能产生甲方无法正常使用乙方电子银行功能或甲方账户资金安全性降低等风险。甲方应承担未办妥相应手续所产生的一切后果。</p>
            <p class="hint_con fz_12 color_3">　　1、甲方的密码泄露、遗忘，应办理密码重置手续。</p>
            <p class="hint_con fz_12 color_3">　　2、甲方领取的USBKEY或动态令牌序列号与申请表上银行打印的序列号不一致，应当场办理更换手续。</p>
            <p class="hint_con fz_12 color_3">　　3、甲方的动态令牌遗失、损毁、无法正常使用或使用期届满，应及时到乙方营业网点办理重新申领手续。</p>
            <p class="hint_con fz_12 color_3">　　4、甲方的客户证书在有效期内损毁、锁码、遗失或证书密码遗忘，应办理证书更换、解锁或密码重置手续。</p>
            <p class="hint_con fz_12 color_3">　　5、甲方输错密码、动态口令、手机动态码信息超过乙方规定的次数，其交易可能被限制，甲方应及时与乙方办理解除相应限制的手续。</p>
            <p class="hint_con fz_12 color_3">　　6、甲方手机号遗失或变更，应及时取消或变更手机银行、余额变动提醒、手机动态码等业务的绑定手机号码。</p>
            <p class="hint_con fz_12 color_6">　　（八）甲方在使用电子银行服务过程中，所提供的注册信息如有更改，应及时到乙方办理有关变更手续，未办妥有关手续所产生的一切后果由甲方承担。</p>
            <p class="hint_con fz_12 color_6">　　（九）甲方应保证办理电子支付业务账户的支付能力，并严格遵守支付结算业务的相关法律法规。</p>
            <p class="hint_con fz_12 color_6">　　（十）甲方不得以与第三方发生纠纷为理由拒绝支付应付乙方的款项。</p>
            <p class="hint_con fz_12 color_6">　　（十一）甲方不得有意诋毁、损害乙方声誉或恶意攻击乙方电子银行系统。</p>
            <p class="hint_con fz_12 color_6">　　（十二）甲方办理电子银行业务时，如其使用的服务功能涉及到乙方其他业务规定或规则的需同时遵守。</p>
            <p class="hint_con fz_12 color_6">　　（十三）甲方长期不使用电子银行，应主动申请办理注销手续。</p>
            <p class="hint_con fz_12 color_6">　　（十四）甲方不具备完全民事行为能力的，甲方监护人应妥善保管甲方的注册卡号（客户号账号、登录ID或注册手机号码）、USBKEY、动态令牌、接受手机动态码和支付信息的手机及相关密码，并对通过以上信息完成的金融交易负责。</p>
            <p class="hint_con fz_12 color_6">　　（十五）甲方使用乙方电子银行服务的，应按照乙方制定并公布的相应收费标准支付服务费用。</p>
            <p class="hint_con fz_12 color_6">
            <p class="hint_con color_3">   第三条  乙方权利、义务</p>
            <p class="hint_con fz_12 color_3">　　一、权利</p>
            <p class="hint_con fz_12 color_6">　　（一）乙方有权根据甲方资信情况，决定是否受理甲方的注册申请。</p>
            <p class="hint_con fz_12 color_6">　　（二）乙方有权制定电子银行业务收费标准，并在网站及营业网点进行公布。</p>
            <p class="hint_con fz_12 color_6">　　（三）乙方具有对电子银行系统进行升级、改造的权利。</p>
            <p class="hint_con fz_12 color_6">　　（四）甲方存在未按时支付有关费用、不遵守乙方有关业务规定、存在恶意操作或诋毁、损害乙方声誉等情况的，乙方有权单方终止对甲方提供电子银行服务，并保留追究甲方责任的权利。甲方利用乙方电子银行从事违反国家法律法规活动的，乙方将按照有权部门的要求停止为其办理电子银行业务。</p>
            <p class="hint_con fz_12 color_6">　　（五）乙方根据甲方的电子银行业务指令办理业务，对所有使用甲方在乙方设定的身份标识信息（包括账户账号、卡号、客户编号、电话或手机号码、客户名称、终端设备信息等），并按照甲方在乙方设定的身份认证方式（包括密码、客户证书、动态口令等）通过身份验证的操作均视为甲方所为，该操作所产生的电子信息记录均为乙方处理电子银行业务的有效凭据。</p>
            <p class="hint_con fz_12 color_6">　　（六）乙方因以下情况没有正确执行甲方提交的电子银行业务指令，不承担任何责任：</p>
            <p class="hint_con fz_12 color_3">　　1、乙方接收到的指令信息不明、存在乱码、不完整等。</p>
            <p class="hint_con fz_12 color_3">　　2、甲方账户存款余额或信用额度不足。</p>
            <p class="hint_con fz_12 color_3">　　3、甲方账户内资金被依法冻结或扣划。</p>
            <p class="hint_con fz_12 color_3">　　4、甲方未能按照乙方的有关业务规定正确操作的。</p>
            <p class="hint_con fz_12 color_3">　　5、甲方的行为出于欺诈或其他非法目的。</p>
            <p class="hint_con fz_12 color_3">　　6、由于不可抗力、计算机黑客袭击、系统故障、通讯故障、网络拥堵、供电系统故障、电脑病毒、恶意程序攻击及其它不可归因于乙方的原因，导致甲方未收到或延迟收到乙方发出的与交易相关的认证信息，以及导致乙方无法正常处理甲方的电子银行业务指令的。</p>
            <p class="hint_con fz_12 color_6">　　（七）协议终止或服务有效期内中止时，乙方不退回甲方已支付的有关费用。</p>
            <p class="hint_con fz_12 color_6">　　（八）如甲方因乙方电子银行系统差错、故障或其他原因获得不当得利的，乙方有权从甲方账户中扣划甲方的不当得利所得或暂停对甲方的银行服务。</p>
            <p class="hint_con fz_12 color_3">　　二、义务</p>
            <p class="hint_con fz_12 color_6">　　（一）在乙方系统正常运行情况下，乙方负责及时准确地处理甲方发送的电子银行业务指令，并及时向甲方提供查询交易记录、资金余额、账户状态等服务。</p>
            <p class="hint_con fz_12 color_6">　　（二）乙方对于电子银行所使用的相关软件的合法性承担责任。</p>
            <p class="hint_con fz_12 color_6">　　（三）乙方负责及时为甲方办理电子银行注册手续，并按甲方注册功能的不同为甲方提供相应的电子银行服务。</p>
            <p class="hint_con fz_12 color_6">　　（四）乙方负责向甲方提供电子银行业务咨询服务，并在乙方网站公布功能介绍、热点解答、交易规则等内容。</p>
            <p class="hint_con fz_12 color_6">　　（五）乙方在法律法规许可和甲方授权的范围内使用甲方的资料和交易记录。乙方对甲方提供的申请资料和其他信息有保密的义务，但法律法规另有规定的除外。</p>
            <p class="hint_con fz_12 color_6">　　（六）因工作失误导致支付结算处理延误，乙方按中国人民银行《支付结算办法》的有关规定赔偿。</p>
            
            <p class="hint_con color_3">第四条  法律适用条款</p>
            <p class="hint_con fz_12 color_6">　　本协议的成立、生效、履行和解释，均适用中华人民共和国法律；法律无明文规定的，可适用通行的金融惯例。</p>
            <p class="hint_con fz_12 color_6">　　本协议是乙方的其他既有协议和约定的补充而非替代文件，如本协议与其他既有协议和约定有冲突，涉及电子银行业务内容的，应以本协议为准。</p>
           
            <p class="hint_con color_3">第五条  差错和争议的解决</p>
            <p class="hint_con fz_12 color_6">　　甲方发现自身未按规定操作，或由于自身其他原因造成电子银行业务指令未执行、未适当执行、延迟执行的，应及时通过拨打服务热线"96599（湖北省）、400-85-96599（全国）"或到营业网点通知乙方。乙方应积极调查并告知甲方调查结果。</p>
            <p class="hint_con fz_12 color_6">　　双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向乙方所在地人民法院提起诉讼。</p>
            <p class="hint_con fz_12 color_6">
            <p class="hint_con color_3">第六条  协议的中止和终止</p>
            <p class="hint_con fz_12 color_6">　　乙方提供的电子银行服务受甲方注册卡（个人结算账户）状态的制约，如该卡（账户）挂失、止付、注销等原因不能使用，相关服务自动中止。甲方注册卡（账户）状态恢复正常时，乙方重新提供相应服务。</p>
            <p class="hint_con fz_12 color_6">　　甲方电子银行注销手续办理完毕，本协议即为终止。</p>
            <p class="hint_con fz_12 color_6">　　在甲方违反本协议规定或其他乙方业务规定的情况下，乙方有权中止或终止本协议。协议终止并不意味着终止前所发生的未完成交易指令的撤销，也不能消除因终止前的交易所带来的任何法律后果。</p>
            <p class="hint_con fz_12 color_6">
            <p class="hint_con color_3">第七条  协议的效力和生效</p>
            <p class="hint_con fz_12 color_6">　　本协议的任何条款如因任何原因而被确认无效，都不影响本协议其他条款的效力。本协议自乙方在电子银行系统为甲方完成注册起生效。</p>
            <p class="hint_con color_3">第八条  其它</p>
            <p class="hint_con fz_12 color_6">　　本协议未尽事宜及相关词语的定义适用《湖北银行电子银行章程》及乙方公布的网上银行有关规定。甲方确认已仔细阅读并接受上述有关规定，甲方使用个人网上银行或手机银行即视为甲方已了解并完全接受乙方上述有关规定。</p>
            <p class="hint_con color_3">第九条  本协议由甲乙双方签署。甲乙双方确认，在签署本协议前，已就全部条款进行了详细地说明和讨论，双方对合同的全部条款均无疑义，并对协议涉及的权利义务、责任限制及免责条款的法律含义有了准确无误的理解。</p>
           
			</div>
			
			
			
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
	
	</body>
</html>
