<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>注册</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">注册</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall reg_stepbox hb_cont">
			<ul>
				<li>
					<span><img src="../../img/sing1_1.png" /></span>
					<span style="display: none;"></span>
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing2.png" /></span>
					<span style="display: none;"></span>
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing3_2.png" /></span>
					<span style="display: none;"></span>
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing4_1.png" /></span>
					<span style="display: none;"></span>
				</li>
			</ul>
		</div>
		<div class="content_box5px">
			<p class="teg_tit color_9 fz_12"><span class="reg_dot"></span>手机号将作为登录用户名</p>
		    <div class="backbox_th p_lr10px m_top5px">
			    <ul>
				    <li>
					    <span class="input_lbg">手机号</span> 
					    <input id="mobileNo"  type="tel" class="input_m12px"  placeholder="请输入手机号" maxlength="11"></input>	    	    
				    </li>
				    <li> 
					    <span class="input_lbg">验证码</span>
				        <input id="checkCode" class="input_m12px" type="text"  placeholder="请输入验证码"></input>
					    	<button class="but_rh28px" id="getCheckCode">获取验证码</button>   
				    </li>
			    </ul>
		    </div>
		</div>
		<div class="but_bottom20px">
			<a class="fz_12 color_b" id="protocol" path="protocol.html" noCheck="true">《湖北银行电子银行个人客户服务协议》</a>
			<button class="but_315px but_red m_top14px" id="submitBtn">同意协议并下一步</button>
		</div> 
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/core/support.js"></script>
		<script src="../../js/core/utils.js"></script>  
		<script type="text/javascript">
			seajs.config({
				base:"../../js/controllers/"
			}) 
			seajs.use('register/register_input.js');
		</script> 
	</body>
</html>
