<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>注册</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">注册</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall reg_stepbox hb_cont">
			<ul>
				<li>
					<span><img src="../../img/sing1_1.png" /></span>					
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing2_2.png" /></span>
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing3_1.png" /></span>
				</li>
				<li class="step_line"></li>
				<li>
					<span><img src="../../img/sing4_1.png" /></span>
				</li>
			</ul>
		</div>
		<div class="content_box5px p_down66px">
			<p class="teg_tit color_9 fz_12"><span class="reg_dot"></span>设置密码和预留信息</p>
		    <div class="backbox_th p_lr10px m_top5px">
			    <ul>
				    <li>
					    <span class="input_lbg">账号</span>
					    <input class="input_m14px" type="number" pattern="\d*" id="accountNo" placeholder="请输入账号" maxlength="19"></input>	    	    
				    </li>
				    <li>
					    <span class="input_lbg">取款密码</span>
					    <input class="input_m14px" type="password" id="accountPassword" placeholder="请输入取款密码"></input>
					    <input class="" type="hidden" id="_accountPassword"></input>  
				    </li>
				    <!--<li>
				    	   <span class="input_lbg">取款密码</span>
				    	   <span class="">二代身份证</span>
				    	   <a class="link_rbg"></a>
				    </li>-->
			    </ul>   
		    </div>
		    <div class="backbox_th p_lr10px m_top10px">
		    	    <ul>
			     	<li> 
					    <span class="input_lbg">登录密码</span>
				        <input class="input_m14px" type="password" id="password" placeholder="请输6～12位的数字和字母组合" maxlength="12"></input> 
				        <input class="" type="hidden" id="_password"></input> 
				        <input class="" type="hidden" id="_password_md5"></input> 
				    </li>
				    <li>
					    <span class="input_lbg">确认密码</span>
				        <input class="input_m14px" type="password" id="confirmPassword" placeholder="请输入登录密码" maxlength="12"></input> 
				        <input class="" type="hidden" id="_confirmPassword"></input> 
				        <input class="" type="hidden" id="_confirmPassword_md5"></input> 
				    </li>
				    <li>
					    <span class="input_lbg">预留信息</span>
				        <input class="input_m14px" type="text" id="customerMessage" maxlength="10" placeholder="请输入1～10位的字符"></input> 
				    </li>
			    </ul>
		    </div>
		</div>	
		<div class="btn_bg_f2">
			<button class="but_315px but_red" id="next_Btn">提&nbsp;&nbsp;交</button>
		</div>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.enterfocus.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/core/support.js"></script>
		<script src="../../js/core/utils.js"></script>    
		<script src="../../js/core/param.js"></script>     
		<script src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script>    
			seajs.config({ 
				base:"../../js/controllers/"
			}) 
			seajs.use('register/register_confirm.js');
		</script>
	</body>
</html>
