<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>开立通知存款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">开立通知存款</h1>
		    </div>
		</header>	
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认开立通知存款信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	    <span class="detail_left">账号</span><span class="detail_right" id="accountNo"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">币种</span><span class="detail_right" id="currencyType"></span>
		    	        </li>	    	        
		    	        <li>
		    	    	    <span class="detail_left">通知存款类型</span><span class="detail_right" id="savingPeriod"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">存款金额</span><span class="detail_right"><span id="amount"></span>元</span>
		    	        </li>	    	        
		   </div>
		   <div class="btn_bg_f2">
		     	<button class="but_150px but_w" id="preStep">上一步</button>&nbsp;&nbsp;
				<button class="but_150px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		   </div>
		</div>	
	<body>  

			
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('savings/demand2NotifyConfirm');
		</script>			
	</body>
</html>
