<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的储蓄</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">我的储蓄</h1>
		    </div>
		</header>
        <div class="content_BOXall p_down66px hb_cont">
        	    <div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary" id="menuDiv">
					<a class="mui-control-item fz_15 mui-active" id="demandFixed">定活通</a>
					<a class="mui-control-item fz_15" id="notifyDeposit">通知存款</a>
					<a class="mui-control-item fz_15" id="intelligentNotifyDeposit">智能通知存款</a>
			</div>
        </div>	
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/core/param.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('savings/mySavings');
		</script>			
	</body>
</html>
