<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>支取通知存款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">支取通知存款</h1>
		    </div>
		</header>
		<div class="content_BOXall">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">操作成功！</p>
			<div class="backbox_fo m_top20px" style="display:none;">
			    <ul class="p_lr30px">
		    	        <li>
		    	    	    <span class="detail_left">账号</span><span class="detail_right" id="accountNo"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">子账号</span><span class="detail_right" id="subAccountNo"></span>
		    	        </li>		    	        			    	        
		    	        <li>
		    	    	    <span class="detail_left">币种</span><span class="detail_right" id="currencyType"></span>
		    	        </li>	    	        
		    	        <li>
		    	    	    <span class="detail_left">通知存款类型</span><span class="detail_right" id="savingPeriod"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">开户日期</span><span class="detail_right" id="openDate"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">支取类型</span><span class="detail_right" id="drawType"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">支取方式</span><span class="detail_right" id="drawFlag"></span>
		    	        </li>			    	        
		    	        <li>
		    	    	    <span class="detail_left">支取金额</span><span class="detail_right"><span id="drawAmount"></span>元</span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">利息收入</span><span class="detail_right"><span id="interest"></span>元</span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">本息合计</span><span class="detail_right"><span id="principalAndInterest"></span>元</span>
		    	        </li>		    	        
		       </ul>
		   </div>			
		</div>
		<div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>

		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('savings/notify2DemandResult');
		</script>		
	</body>
</html>
