<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>定活互转</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>  
		<div class="content_BOXall p_down66px">
			<div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary banner_bg_boxshw">
					<a class="mui-control-item mui-active fz_15" href="#item1">定活通</a>
					<a class="mui-control-item fz_15" href="#item2">通知存款</a>
					<a class="mui-control-item fz_15" href="#item3">智能通知存款</a>
			</div>
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li class="b_das" id="changeAccount">
					    	    <span class="input_lbg">请选择账号</span>
					    	    <span class="input_m14px" id="accountNo">0000****0000</span>
					    	    <a class="link_rbg_red_d"></a>
					    </li>
				    </ul>
				</div>
				<!--定活通-->
				<div id="subAccountList">
			        <ul class="bg_h113px m_top10px bg_br2px">
				    	    <li>
				    	    	    <p class="sav_tit">整存整取<span class="sav_type">转存</span></p>
					    	    <a class="link_rbg link_top5px"></a>
					    </li>
					    <li class="money_box">
					    	    <p class="pub_li_left m_left10px color_6">金额&nbsp;&nbsp;<span class="fz_17 color_red">¥880,435.56</span></p>
					    	    <p class="pub_li_right_branch m_right5px m_top5px fz_12 color_9">到期&nbsp;2017-10-10</p>
					    </li>
					    <li class="pub_btnbox">
					    	    <a class="sav_a"><img src="../../img/icon19.png" /><span>定转活</span></a>
					    	    <a class="sav_a"><img src="../../img/icon10_2.png" /><span class="color_ddd">账户明细</span></a>
					    </li>
				    </ul>
				    <ul class="bg_h113px m_top10px bg_br2px">
				    	    <li>
				    	    	    <p class="sav_tit">整存整取<span class="sav_type">不转存</span></p>
					    	    <a class="link_rbg link_top5px"></a>
					    </li>
					    <li class="money_box">
					    	    <p class="pub_li_left m_left10px color_6">金额&nbsp;&nbsp;<span class="fz_17 color_red">¥880,435.56</span></p>
					    	    <p class="pub_li_right_branch m_right5px m_top5px fz_12 color_9">到期&nbsp;2017-10-10</p>
					    </li>
					    <li class="pub_btnbox">
					    	    <a class="sav_a"><img src="../../img/icon19_1.png" /><span class="color_ddd">定转活</span></a>
					    	    <a class="sav_a"><img src="../../img/icon10.png" /><span>账户明细</span></a>
					    </li>
				    </ul>
				    
			    </div>
			    <!--通知存款-->
				<div id="subAccountList">
			        <ul class="bg_h113px m_top10px bg_br2px">
				    	    <li>
				    	    	    <p class="sav_tit">整存整取<span class="sav_type">转存</span></p>
					    	    <a class="link_rbg link_top5px"></a>
					    </li>
					    <li class="money_box">
					    	    <p class="pub_li_left m_left10px color_6">金额&nbsp;&nbsp;<span class="fz_17 color_red">¥880,435.56</span></p>
					    	    <p class="pub_li_right_branch m_right5px m_top5px fz_12 color_9">到期&nbsp;2017-10-10</p>
					    </li>
					    <li class="pub_btnbox">
					    	    <a class="sav_a"><img src="../../img/icon20.png" /><span>取消预约</span></a>
					    	    <a class="sav_a"><img src="../../img/icon21_1.png" /><span class="color_ddd">支取通知存款</span></a>
					    </li>
				    </ul>
				    <ul class="bg_h113px m_top10px bg_br2px">
				    	    <li>
				    	    	    <p class="sav_tit">整存整取<span class="sav_type">不转存</span></p>
					    	    <a class="link_rbg link_top5px"></a>
					    </li>
					    <li class="money_box">
					    	    <p class="pub_li_left m_left10px color_6">金额&nbsp;&nbsp;<span class="fz_17 color_red">¥880,435.56</span></p>
					    	    <p class="pub_li_right_branch m_right5px m_top5px fz_12 color_9">到期&nbsp;2017-10-10</p>
					    </li>
					    <li class="pub_btnbox">
					    	    <a class="sav_a"><img src="../../img/icon20_1.png" /><span class="color_ddd">取消预约</span></a>
					    	    <a class="sav_a"><img src="../../img/icon21.png" /><span>支取通知存款</span></a>
					    </li>
				    </ul>
				    
			    </div>
			    <!--智能通知存款-->
				<div id="subAccountList">
			        <ul class="backbox_th m_top10px bg_br2px">
				    	    <li>
				    	    	    <p class="sav_tit">整存整取</p>
					    	   
					    </li>
					    <li class="money_box">
					    	    <p class="pub_li_left m_left10px color_6">类型&nbsp;&nbsp;<span class="color_6">AAAAAAA</span></p>
					    	    <p class="sav_iconbg"><a class="sav_a"><img src="../../img/icon22.png" /><span>签约</span></a></p>
					    </li>
				    </ul>
			    </div>
			    
			</div>
       </div>
       <!--<div class="but_bg_f">
       	 <button class="but_315px but_red pic_add">存定期</button>
       </div>-->
			
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('savings/demandFixed');
		</script>			
	</body>
</html>