<!--
	作者：chencming520@sina.com
	时间：2017-04-18
	描述：
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<h1 class="mui-title hb-title" id="title">温馨提醒</h1>
		    </div>
		</header>
		<div class="content_BOXall">
			<div class="fail_icon1 suc_top7px" ></div>
			<p class="fz_18 text_m" id="context"></p>
		</div>

		<div class="" style="width: 80%; margin: 0 auto;">尊敬的客户，若使用此功能请到柜面升级为专业版手机银行用户。</div>

		<div class="but_bottom20px">
				<button class="but_315px but_red" id="returnBtn" >返&nbsp;&nbsp;回</button>
		</div>
		
		<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('public/upgrate_warn');
		</script>
	</body>
</html>
