<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">抽奖</h1>
				<a class="nav_qrcode hb-nav" id="myPrizes">我的奖品</a>
		    </div>
		</header>
     	<div class="content_color">
     		<p class="pd_time" id="activityTime">活动时间：</p>
     		<div class="pd_box">
     			<span class="pd_boxpic"></span>
     			<div class="prizes_bg">
     				<div class="prizes_bg_absolute">
	 					<ul class="pd_p_top">
				      	    <li class="prize_bg_g" id="prize1">
			      	    	    <p class="pd_flash" style="display:none;"></p>
			      	    	    <p class="pd_prizes" style="display:none;">
			      	    	    	<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
			      	    	    </p>
			      	    	    <p class="prizes_word">
			     	     		    <img src="../../img/pd_word1.png" />
			     	     	    </p>
				      	    </li>
				     	    <li class="prize_bg_y" id="prize2" >
				     	    	<p class="pd_flash" style="display: none;"></p>
				     	     	<p class="pd_prizes" style="display: none;">
				     	     		<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
				     	     	</p>
				     	    	<p class="prizes_word"> 
				     	     		<img src="../../img/pd_word2.png" />
				     	     	</p>
				     	     	
				     	    </li>
				     	    <li class="prize_bg_b" id="prize3">
				     	    	<p class="pd_flash" style="display: none;"></p>
			      	    	    <p class="pd_prizes" style="display:none;">
			      	    	    	<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
			      	    	    </p>
				     	    	<p class="prizes_word"> 
				     	     		<img src="../../img/pd_word3.png" />
				     	     	</p>				     	     	
				     	    </li>
			            </ul>
				        <ul>
				      	    <li class="prize_bg_y" id="prize8">
				      	     	<p class="pd_flash" style="display: none;"></p>
			      	    	    <p class="pd_prizes" style="display:none;">
			      	    	    	<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
			      	    	    </p>				      	     	
				          	    <p class="prizes_word"> 
				     	     		<img src="../../img/pd_word2.png" />
				     	     	</p>
				      	    </li>
				     	    <li>
				     	    	    <button class="btn_start"></button>
				     	    </li>
				     	    <li class="prize_bg_g" id="prize4">
				     	      	<p class="pd_flash" style="display: none;"></p>
				     	     	<p class="pd_prizes" style="display:none;">
				     	     		<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
				     	     	</p>
			      	    	    <p class="prizes_word">
			     	     		    <img src="../../img/pd_word1.png" />
			     	     	    </p>				     	     	
				     	    </li>
				        </ul>
				        <ul>
				      	    <li class="pd_prizes prize_four prize_bg_g" id="prize7">
				      	    	<p class="pd_flash" style="display: none;"></p>
				      	     	<p class="pd_prizes" style="display:none;">
				     	     		<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
				     	     	</p>
			      	    	    <p class="prizes_word">
			     	     		    <img src="../../img/pd_word1.png" />
			     	     	    </p>				     	     	
				      	    </li>
				     	    <li class="prize_bg_b" id="prize6">
				     	    	    <p class="pd_flash" style="display: none;"></p>
				      	    	    <p class="pd_prizes" style="display:none;">
					      	    	    <img src="" class="priceImg"/>
				      	     	    	<span class="levelName"></span><br/>
				      	     	    	<span class="prizeName"></span>
				      	    	    </p>				     	    	    
				     	    		<p class="prizes_word"> 
				     	     		<img src="../../img/pd_word3.png" />
				     	     	</p>
				     	    </li>
				     	    <li class="prize_bg_y" id="prize5">
				     	    	<p class="pd_flash" style="display: none;"></p>
				     	     	<p class="pd_prizes" style="display: none;">
				     	     		<img src="" class="priceImg"/>
			      	     	    	<span class="levelName"></span><br/>
			      	     	    	<span class="prizeName"></span>
				     	     	</p>
				          	    <p class="prizes_word"> 
				     	     		<img src="../../img/pd_word2.png" />
				     	     	</p>				     	     	
				     	    </li>
				        </ul>	
     				</div>
 					
     			</div>
     		</div>
     		<div class="m_top10px">
     			<p class="pd_gzbg"></p>
     			<div class="pd_gzcontent_bg">
     				<p class="pd_time">活动规则</p>
     				<p class="pd_gztit">活动内容</p>
	     			<div class="pd_gzcontent" id="content"></div>		
     			    <!--<p class="pd_gztit">活动奖品</p>
     			    <div id="lottery">
	     				<p class="pd_gzcontent">一等奖   1名，价值3500元的三洋空调机一台；</p>  			    	
     			    </div>-->
     			</div>
     		</div>
     	</div>

		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script src="../../js/core/param.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('lottery/lottery');
		</script>			
	</body>
</html>
