<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>详情</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
			<div class="text-center">
				<div class="p_lr10px">
					<tr>
						<td>
							<div class="fz_16 m_top20px" style="text-align: center;" id="adTitle"></div>
						</td>
					</tr>
					 
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="fz_20" style="line-height: 24px;margin: 0 auto 30px auto;word-wrap: break-word;word-break: break-all;text-align: left;" id="adContent"></div>
						</td>
					</tr>
				</div>
			</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('adView/adViewDetail_sub');
		</script>
	</body>
</html>
