<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>生活</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/index.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<h1 class="mui-title hb-title">生活</h1>
				<a class="nav_code hb-title" id="messagelist" path="../message/messageList.html" noCheck="true"></a>
		    </div>
		</header>
		<div id="life_scroll" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="content_BOXall ove_hid p_down20px hb_cont">
					<div class="life_topbg" id="qrcodeDiv">
						<a id="barcode_scan" path="../qrcodePay/barcode_scan.html" noCheck="false"><span class="qr_icon2"></span><br /><span class="color_fff">扫码</span></a>
						<a id="scannedQRCode" path="../qrcodePay/scannedQRCode.html" noCheck="false"><span class="qr_icon1"></span><br /><span class="color_fff">付款</span></a>
						<a id="scannedQRc2c" path="../qrcodePay/scannedQRc2c.html" noCheck="false"><span class="billsicon"></span><br /><span class="color_fff">收款</span></a>
					</div>
					<div class="mui-slider-item p_td5px banner_bg_boxshw" id="chargeList">
			         	<ul class="main_menu_ul main_w25">
				            <li id="phoneFeePayInput" path="../feePayment/phoneFeePayInput.html" noCheck="false"><a class="customer_pay_mobile_home"><p class="color_6">手机话费</p></a></li>
				         	<li id="telecomFeePayQuery" path="../feePayment/telecomFeePayQuery.html" noCheck="false"><a class="customer_pay_ctcc_home"><p class="color_6">中国电信费</p></a></li>
				         	<li id="waterFeePayQuery" path="../feePayment/waterFeePayQuery.html" noCheck="false"><a class="customer_pay_w_home"><p class="color_6">水费</p></a></li>
				         	<li id="electricityFeePayQuery" path="../feePayment/electricityFeePayQuery.html" noCheck="false"><a class="customer_pay_ele_home"><p class="color_6">电费</p></a></li>					
				        </ul>
			          	<ul class="main_menu_ul main_w25">
			          		<li id="tuitionFeePayQuery" path="../feePayment/tuitionFeePayQuery.html" noCheck="false"><a class="customer_pay_t_home"><p class="color_6">学杂费</p></a></li>
				         	<!--<li id="etcFeePayQuery" path="../feePayment/etcFeePayQuery.html" noCheck="false"><a class="customer_pay_etc_home"><p class="color_6">ETC</p></a></li>-->
				          	<li id="chinaGasFeePayQuery" path="../feePayment/chinaGasFeePayQuery.html" noCheck="false"><a class="customer_pay_gas_home"><p class="color_6">燃气费</p></a></li>
				         	<li id="feePaymentSet" path="../feePayment/feePaymentSet.html" noCheck="false"><a class="customer_pay_set_home"><p class="color_6">缴费设置</p></a></li>
				         	<li id="feePaymentHome" path="../feePayment/feePaymentHome.html" noCheck="true"><a class="customer_hm_menuall_home"><p class="color_6">全部</p></a></li>
			         	</ul>
	                </div>
	                <div id="showLifeAdC" style="display: none;">
				        <div class="banner_bg" id="showLifeAd">
					     	<!--<div class="banner_imgbox"><a><img src="../../img/f_banner.jpg"/></a></div>-->
				     	</div>
			        </div>
	                <div id="showLifeQRC" class="contentbox" style="display: none;">
	                	<ul id="latelyUL"></ul>
                	</div>
		         	<div id="showAdS" style="display: none;">
		             	<div class="backbox_tit_bg" style="margin-left: 20px;">
			                <p class="file_tit_ico"></p>
			     	        <p class="backbox_tit">特惠商户</p>
		                </div>
                        <div class="banking_box" id="showAdSpe">
			          	    <ul class="f_shbg">
		    	          	    <li class="f_sh_l f_shpic1"></li>
		    	         	    <li class="f_sh_r f_shpic2"></li>
		    	            </ul>
			            </div>
		         	</div>
		        </div>
		    </div>
		</div>    
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
	    <script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script src="../../js/controllers/adView/ad_load_html.js"></script>
		<script>
			mui('.mui-scroll-wrapper').scroll({
				deceleration:0.005,
				indicators:false 
			})
			
			mui('header')[0].addEventListener('touchmove',function(e){e.preventDefault();})
		</script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('life/lifeHome');		
		</script>
	</body>
</html>
