<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄金定投</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
		<style type="text/css">
		.gold_but{
			display: block;
			width: 25%;
			padding: 4% 0;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			background: none;
			color: #666;
		}
	</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">随时买</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">随时买信息</p>
			    </div>
			    <div class="backbox_th p_lr10px">
					<ul>
						<li>
					    	<span class="input_lbg">账号</span>
					    	<span class="input_m12px" id="accountNo"></span>
						</li>
						<li>
					    	<span class="input_lbg">账号余额</span>
					    	<span class="input_m12px" id="balance"></span>
						</li>
					    <li>
							<span class="input_lbg">当前金价</span>
					    	<span class="input_m12px" id="goldUnitPrice"></span>
						</li>
						<li>
							<span class="input_lbg">预计克数</span>
					    	<span class="input_m12px" id="expectWeight"></span>
						</li>
						<li>
							<span class="input_lbg">预计手续费</span>
					    	<span class="input_m12px" id="expectCharge"></span>
						</li>
						<li id="amtChange">
					    	<span class="input_lbg">购买金额/元</span>	  	
					    	<p class="phone_butbox m_top10px" style="text-align: center;">
					     		<a class="gold_but border_red fz_14" id="amt1" value="200" style="margin-left: 5%;">200</a>
					     	    <a class="gold_but border_f fz_14 phone_but_m_left2" id="amt2" value="500">500</a>
					     	    <a class="gold_but border_f fz_14 phone_but_m_left2" id="amt3" value="1000">1000</a>
					     	</p>
					     	<p class="phone_butbox m_top10px">
					     		<a class="gold_but border_f fz_14" id="userDefine" value="0" style="margin-left: 5%">自定义</a>
					     		<input class="input_m14px" type="text" id="payAmount" placeholder="请输入购买金额" style="padding-left: 20px;margin-top: 10px; display: none;"></input>
					     	</p>
						</li>
						<!--<li>
					    	<span class="input_lbg">购买金额</span>
					    	<input class="input_m14px" type="number" id="payAmount" placeholder="请输入金额"></input>
						</li>-->
						<!--<li>
							<span class="input_lbg">预计克数</span>
					    	<span class="input_m12px" id="expectWeight"></span>
						</li>-->
					</ul>
				</div>
			</div>
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">1、16:00-18:00为黄金系统资金通道关闭时间,请在此时间段外发起请求。</p>
		   	</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextBtn">下一步</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('gold/goldBuyNowInput');
		</script>
	</body>
</html>
