<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>黄金定投</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">计划买</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">计划买信息</p>
			    <ul class="p_lr30px">
		    	    <li>
		    	    	<span class="detail_left">账号</span>
		    	    	<span class="detail_right" id="accountNo"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">定投周期</span>
		    	    	<span class="detail_right" id="investPeriod"></span>
		    	    </li>
		    	    <li id="liInvestDate">
		    	    	<span class="detail_left">定投日期</span>
		    	    	<span class="detail_right" id="investDate"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">定投金额</span>
		    	    	<span class="detail_right" id="payAmount"></span>
		    	    </li>
		       </ul>
		  	</div>
		  	<div class="backbox_tit_bg">
			    <p class="backbox_tit_ico"></p>
			    <p class="backbox_tit">密码及验证码</p>
	    	</div>
	    	<div class="backbox_th p_lr10px ove_hid" data-security="needPassword|needAuth">
	    		<ul>
	    			
	    		</ul>
	    	</div>
		   	<div class="but_m20px">
				<button class="but_150px but_w" id="preBtn">上一步</button>
				<button class="but_150px but_red" id="nextBtn" data-checkAuth='true'>确&nbsp;&nbsp;定</button>
				<!--<button class="but_150px but_red" id="nextBtn">确&nbsp;&nbsp;定</button>-->
		   	</div>
		</div>	
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript"src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('gold/goldBuyPlanConfirm');
		</script>
	</body>
</html>
