<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>黄金定投</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style>
			.mui-table-view:after {
				height: 0px;
			}
			.mui-table-view:before {
				height: 0px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">黄金定投</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="fundpro_topbg">
				<p class="notice_btn" id="myGold">
					<span class="gold_set_btn">我的</span>
				</p>
				<p class="p_top20px fz_16">
					<span style="color: #fff;">总价值(元)</span>
					<br/>
					<span class="fz_28" id="goldTotalVal">0.00</span>
				</p>
				<div class="fundpro_topbox_my">
				    <ul>
				    	<li class="fundpro_toptwo"><span class="color_ddd">当前金价(元/克)</span><br/><span class="color_ddd fz_17" id="goldUnitPrice">0.00</span></li>
				    	<li class="fundpro_toptwo"><span class="color_ddd">总克数(克)</span><br/><span class="color_ddd fz_17" id="goldTotalWeight">0.00</span></li>
				    	<li class="fundpro_toptwo"><span class="color_ddd">浮动盈亏(元)</span><br/><span class="color_ddd fz_17" id="goldProfigLoss">0.00</span></li>
				    </ul>
		     	</div>
			</div>
			<div class="content_box5px m_top10px">
				<div class="backbox_th">
					<div class="fund_zst_tab" style="width: 96%;left: 2%;">
						<a class="fund_tab_onbox" style="width: 100%;">
							<p class="fund_tab_onpicl" style="left: 50%;"></p>
							<span class="fund_tab_on">历史金价走势(元/克)</span>
						</a>
					</div>
					<!--走势图区域-->
					<div class="fund_zst_picbg">
						<div id="productChart">
							
						</div>
					</div>
					<div class="fund_zst_tad2">
						<a id="chartBtn1"><span class="zst_tab tab_on" id="chartBtnShow1">一个月</span></a>
						<a id="chartBtn2"><span class="zst_tab" id="chartBtnShow2">三个月</span></a>
						<a id="chartBtn3"><span class="zst_tab" id="chartBtnShow3">半年</span></a>
						<a id="chartBtn4"><span class="zst_tab" id="chartBtnShow4">一年</span></a>
					</div>
				</div>
			</div>
			<div class="content_box5px m_top10px">
				<div class="backbox_fo" style="border-radius: 4px;-webkit-border-radius: 4px;">
				    <ul class="p_lr30px">
			    	    <li>
			    	    	<span class="detail_left">起购金额</span>
			    	    	<span class="detail_right" id="goldBuyStartAmt"></span>
			    	    </li>
			    	    <li>
			    	    	<span class="detail_left">风险提示</span>
			    	    	<span class="detail_right" id="goldRiskPrompt"></span>
			    	    </li>
			    	    <li>
			    	    	<span class="detail_left">投资期限</span>
			    	    	<span class="detail_right" id="goldInvestTerm"></span>
			    	    </li>
			    	    <li>
			    	    	<span class="detail_left">买入手续费</span>
			    	    	<span class="detail_right" id="goldBuyFee"></span>
			    	    </li>
			    	    <li>
			    	    	<span class="detail_left">卖出手续费</span>
			    	    	<span class="detail_right" id="goldSellFee"></span>
			    	    </li>
			       	</ul>
		   		</div>
			</div>
			<div class="content_box5px m_top10px p_down66px">
		   		<ul class="mui-table-view ">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" style="padding-left: 25px;color: #666666;" href="#">产品介绍</a>
						<div class="mui-collapse-content">
							<div style="line-height: 30px;"">
								<div id="goldIntroduct" class="color_6"></div>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" style="padding-left: 25px;color: #666666;" href="#">扣款来源</a>
						<div class="mui-collapse-content">
							<div style="line-height: 30px;"">
								<div id="goldPaySource" class="color_6"></div>
							</div>
						</div>
					</li>
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" style="padding-left: 25px;color: #666666;" href="#">交易规则</a>
						<div class="mui-collapse-content">
							<div style="line-height: 30px;"">
								<div id="goldTradeRule" class="color_6"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="btn_bg_f">
		       <button class="btn_105px but_w" id="sellBtn" disabled="disabled">卖金</button>
			   <button class="btn_105px but_red" id="buyPlanBtn">计划买</button>
			   <button class="btn_105px but_red" id="buyNowBtn">随时买</button>
		    </div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/echarts.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('gold/goldHome');
		</script>
	</body>
</html>
