<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄金定投业务协议书</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">风险揭示书</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_3" style="text-align: center;font-size: 15px;">深圳金融电子结算中心有限公司风险揭示书</p>
				<p class="hint_con fz_12 color_6">尊敬的客户：</p>
				<p class="hint_con fz_12 color_6">由于黄金定投业务收益与风险并存，为使您（以下简称“甲方”）全面了解交易风险，在此郑重提醒，黄金定投业务存在以下风险但不仅限于以下风险，请谨慎投资： </p>
				<p class="hint_con fz_12 color_6">一、&nbsp;&nbsp;&nbsp;&nbsp;深圳金融电子结算中心有限公司（以下简称“结算中心”）及湖北银行股份有限公司不对甲方做出获利保证或与甲方约定分享利润或者共担风险的承诺，甲方须对自己的交易结果负责。</p>
				<p class="hint_con fz_12 color_6">二、&nbsp;&nbsp;&nbsp;&nbsp;甲方应当充分认识黄金定投业务由于市场价格波动造成的风险，随着黄金价格的上涨和下跌，甲方可能面临潜在的收益或风险，甲方应自主判断并谨慎交易。</p>
				<p class="hint_con fz_12 color_6">三、&nbsp;&nbsp;&nbsp;&nbsp;因受国内国际各种政治、经济因素，以及各种突发事件的影响，黄金价格可能会发生波动。甲方承诺已充分了解黄金定投业务的风险，充分认识到由此可能遭受的损失，并自愿承担这些风险和损失。</p>
				<p class="hint_con fz_12 color_6">四、&nbsp;&nbsp;&nbsp;&nbsp;由于上海黄金交易所交易中断、黄金价格出现涨跌停板、技术故障、市场不存在对手交易等原因，可能存在当个交易日结算中心向上海黄金交易所的交易报单无法成交、无法按甲方预定的数量成交的风险，由此产生的一切损失由甲方自行承担。</p>
				<p class="hint_con fz_12 color_6">五、&nbsp;&nbsp;&nbsp;&nbsp;甲方须妥善保管黄金定投账户密码，以及开户资料等信息，甲方自行承担因甲方原因引起信息泄露或遗失导致的风险和损失，甲方应自行承担。</p>
				<p class="hint_con fz_12 color_6">六、&nbsp;&nbsp;&nbsp;&nbsp;甲方须承担因不可抗力或突发性技术故障等原因造成的经济损失。</p>
				<p class="hint_con fz_12 color_6">七、&nbsp;&nbsp;&nbsp;&nbsp;甲方应及时查看交易记录，定期核对账务，确认资金、黄金交易资金账户余额及当日发生额准确无误。如有异常情况，请及时与结算中心或湖北银行联系。</p>
				<p class="hint_con fz_12 color_6">八、&nbsp;&nbsp;&nbsp;&nbsp;甲方在交易过程中应随时掌握资金余额，承担由于资金余额不足导致的损失。</p>
				<p class="hint_con color_3" style="font-size: 14px;padding-top: 20px;">您确认对本风险揭示说明书的条款的含义及其相应法律后果已全部通晓并充分理解，并愿意承担相应风险和损失。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
	</body>
</html>