<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄金定投业务协议书</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
		<style>
			.underl{
				text-decoration: underline;
			}
		</style>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">黄金定投产品业务协议</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_3" style="text-align: center;font-size: 15px;">深圳金融电子结算中心有限公司黄金定投产品业务协议（三方）</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据深圳金融电子结算中心有限公司黄金定投产品规则（以下简称“产品规则”），甲乙丙三方本着平等协商、诚实信用的原则，就湖北银行股份有限公司（丙方）代深圳金融电子结算中心有限公司（乙方）为客户（甲方）办理黄金定投业务（以下简称“黄金定投业务”）的有关事项订立本协议。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本协议所指黄金定投产品（以下简称“黄金定投”），是指在一定投资期间内，甲方委托乙方在约定的时间，以约定的金额，购买上海黄金交易所（以下简称“上金所”）约定品种的黄金，并有权将定投账户内的黄金兑换成一定规格标准的实物黄金直接提取，或按照一定价格兑换成现金的一种投资方式。其中，甲方委托乙方购入黄金的过程称为买金；甲方将定投账户内积存的黄金兑换成实物黄金或现金的过程称为提金或卖金。</p>
				<p class="hint_con color_3" style="font-size: 14px;text-align: center;">第一章 交易管理</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;甲方进行黄金定投交易，须开立黄金定投账户。甲方须通过丙方网银、手机银行或丙方认可的其他渠道提出开户申请，并须在丙方开立银行账户（仅限借记卡或存折）作为黄金定投业务的银行绑定账户，乙丙双方对甲方进行身份验证后开立黄金定投账户。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;甲方保证所提供的开户资料真实、准确、完整、有效，并保证当资料发生变化时，及时向乙方或丙方申请变更。如因甲方未及时申请资料变更产生的损失由甲方自行承担。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;丙方审核甲方资料后向乙方提交，乙方为甲方办理开户，乙方及丙方均有权因甲方提供的开户资料不符合要求拒绝甲方开户申请。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;账户开通后，甲方须妥善保管办理开户的有关资料或信息，如甲方证件、资料、银行卡、手机等遗失或被盗以及密码遗忘或被盗而导致的一切责任或损失由甲方自行承担。</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;甲方黄金定投账户密码是甲方的电子签名形式，甲方应妥善保管黄金定投账户密码，凡使用该账户密码进行的一切交易活动均视为甲方亲自办理。</p>
				<p class="hint_con fz_12 color_6">第六条&nbsp;&nbsp;&nbsp;&nbsp;甲方通过丙方网银、手机银行或丙方指定的其他渠道进行黄金定投的开户、买/卖/提金、销户、密码修改、信息变更等业务。甲方办理黄金定投业务须遵守乙方及丙方产品规则。</p>
				<p class="hint_con fz_12 color_6">第七条&nbsp;&nbsp;&nbsp;&nbsp;甲方须按乙方及丙方产品规则下达交易指令，包括但不限于：新增、取消“计划买”定投计划，申请“随时买”买金，申请卖金以及提金。</p>
				<p class="hint_con fz_12 color_6">第八条&nbsp;&nbsp;&nbsp;&nbsp;乙方及丙方按照甲方指令为甲方进行黄金定投交易办理、并进行资金清算。甲方对委托交易结果承担全部责任。</p>
				<p class="hint_con fz_12 color_6">第九条&nbsp;&nbsp;&nbsp;&nbsp;乙方及丙方对甲方交易指令进行审核，包括甲方黄金定投账户的资金或实物是否足够等，用于确定甲方指令是否有效。当确定甲方指令无效时，乙方及丙方有权拒绝接受。</p>
				<p class="hint_con fz_12 color_6">第十条&nbsp;&nbsp;&nbsp;&nbsp;乙方汇总客户的黄金定投交易指令，在每日的交易时段，根据定投需求总额集中向上金所下达交易报单。甲方认可乙方集中买入或卖出的黄金定投价格。</p>
				<p class="hint_con fz_12 color_6">第十一条&nbsp;&nbsp;&nbsp;&nbsp;甲方的交易内容以乙方记录为准，甲方对其委托的各项交易活动的结果承担全部责任。甲方对交易结果有异议的应在交易发生日起的五个工作日内向乙方提出，乙方应及时予以核实确认。</p>
				<p class="hint_con fz_12 color_6">第十二条&nbsp;&nbsp;&nbsp;&nbsp;甲方有权查询其名下黄金定投账户中的资金、黄金余额和交易情况，其中，黄金余额按克记录，按四舍五入法精确到小数点后四位。乙方及丙方对于甲方进行的查询操作予以配合。</p>
				<p class="hint_con fz_12 color_6">第十三条&nbsp;&nbsp;&nbsp;&nbsp;甲方有权提取其名下黄金定投账户中的资金和黄金。甲方可提取的黄金实物产品，以乙方公示的可提取实物产品为准。</p>
				<p class="hint_con fz_12 color_6">第十四条&nbsp;&nbsp;&nbsp;&nbsp;甲方对其名下黄金定投账户中的资金和实物拥有所有权，乙方或丙方因破产或其他原因无法从事黄金定投业务时，甲方的资金和实物不得用于抵偿乙方或丙方的债务。</p>
				<p class="hint_con fz_12 color_6">第十五条&nbsp;&nbsp;&nbsp;&nbsp;出现以下情形，乙方及丙方有权对甲方黄金定投账户资金和实物进行冻结：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（1）甲方申请买金、卖金或提金；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（2）遇国家有权机关依法要求冻结的；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（3）其他应予以冻结的情形。</p>
				<p class="hint_con color_3" style="font-size: 14px;text-align: center;">第二章 费用与资金划转</p>
				<p class="hint_con fz_12 color_6">第十六条&nbsp;&nbsp;&nbsp;&nbsp;乙方及丙方按产品规则的标准向甲方收取交易相关费用，包括但不限于：买/卖金手续费、提金手续费、提货费等。乙方及丙方有权对收费标准进行调整，并以网站公示的方式进行公告，调整后的收费标准一经公布即刻生效，如甲方不接受乙方及丙方所做调整，甲方可选择向乙方及丙方进行销户，甲方继续使用黄金定投账户的，视为对调整后收费标准的认可。</p>
				<p class="hint_con fz_12 color_6">第十七条&nbsp;&nbsp;&nbsp;&nbsp;甲方未足额缴纳费用，乙方及丙方有权拒绝为甲方办理黄金定投业务交易，重新办理需甲方重新发起申请。</p>
				<p class="hint_con fz_12 color_6">第十八条&nbsp;&nbsp;&nbsp;&nbsp;买金手续费率为交易金额的0.5%，卖金手续费率为交易金额的1%，并在甲方申请买/卖金的交易金额中收取或在甲方申请提金时在甲方银行账户进行划扣。</p>
				<p class="hint_con fz_12 color_6">第十九条&nbsp;&nbsp;&nbsp;&nbsp;甲方申请提金时，提取的实物黄金规格为上金所Au100。乙方会在甲方发起提金申请后从甲方的绑定银行账户收取提金手续费3元/克、提货费3元/克。</p>
				<p class="hint_con fz_12 color_6">第二十条&nbsp;&nbsp;&nbsp;&nbsp;在下列情况下，乙方及丙方有权从甲方的绑定银行账户划扣资金：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（1）根据甲方的黄金定投交易指令进行扣款；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（2）甲方发起向黄金定投账户转入资金的指令；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（3）为甲方支付黄金定投交易产生费用；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;（4）甲乙双方认可的其他划转事项。</p>
				<p class="hint_con fz_12 color_6">第二十一条&nbsp;&nbsp;&nbsp;&nbsp;丙方根据甲方制订的黄金定投计划于规定时间内完成资金的划扣。“计划买”的周期扣款时间固定在指定买金日上午<span class="underl">9</span>点。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;1. 若甲方新增“计划买”订单“定投周期”包含当天，且下单时间在<span class="underl">14:30</span>之前，结算中心将对首轮买金即时扣款、当日购金；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;2. 若甲方新增“计划买”订单“定投周期”包含当天，且下单时间在<span class="underl">14:30</span>之后，结算中心将对首轮买金即时扣款、次日购金。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;“随时买”将在订单下达后实时扣款，并纳入当日买金任务批次。<span class="underl">14:30</span>后下单的“随时买”将纳入下一个交易日任务批次。</p>
				<p class="hint_con fz_12 color_6">第二十二条&nbsp;&nbsp;&nbsp;&nbsp;如果甲方银行账户资金余额不足，导致以上资金划转失败，乙方及丙方有权拒绝为甲方办理相应的业务，直至甲方补足银行账户资金余额并成功完成资金划转。</p>
				<p class="hint_con color_3" style="font-size: 14px;text-align: center;">第三章 免责条款</p>
				<p class="hint_con fz_12 color_6">第二十三条&nbsp;&nbsp;&nbsp;&nbsp;由于政策风险或技术风险的存在，包括但不限于国家有关法律、法规、规章、政策或者上金所交易规则的更改、紧急措施的出台、或者因发生系统及通讯故障等乙方及丙方不可预测、不可控制且不可克服因素，乙方或丙方可能无法履行或无法适当履行本协议项下的有关义务。以上风险造成甲方的任何损失，乙方及丙方不承担任何责任。</p>
				<p class="hint_con fz_12 color_6">第二十四条&nbsp;&nbsp;&nbsp;&nbsp;由于台风、自然灾害、地震、火灾、战争等不可抗力因素导致的交易中断、延误等风险，乙方及丙方不承担责任，但应在条件允许的情况下，采取一切必要的补救措施以减少因不可抗力造成的损失。</p>
				<p class="hint_con fz_12 color_6">第二十五条&nbsp;&nbsp;&nbsp;&nbsp;因受国内国际各种政治、经济因素，以及各种突发事件的影响，黄金价格可能会发生波动。甲方承诺已充分了解黄金定投交易业务的风险，充分认识到由此可能遭受的损失，并自愿承担这些风险和损失。甲方确认其交易指令是根据自身判断所做出，由此产生的一切风险和导致的损失均由甲方自行承担，乙方及丙方不承担任何责任。</p>
				<p class="hint_con fz_12 color_6">第二十六条&nbsp;&nbsp;&nbsp;&nbsp;由于上金所交易中断、黄金价格出现涨跌停板、技术故障、市场不存在对手交易等原因，可能存在当个交易日乙方向上金所的交易报单无法成交、无法按甲方预期的价格或预定的数量成交的风险，乙方及丙方对此不承担任何责任。</p>
				<p class="hint_con fz_12 color_6">第二十七条&nbsp;&nbsp;&nbsp;&nbsp;甲方须妥善保管黄金定投账户信息和密码，以及开户资料等信息，甲方自行承担因甲方原因引起信息泄露或遗失导致的风险和损失，乙方及丙方不承担任何责任。</p>
				<p class="hint_con color_3" style="font-size: 14px;text-align: center;">第四章 纠纷处理</p>
				<p class="hint_con fz_12 color_6">第二十八条&nbsp;&nbsp;&nbsp;&nbsp;甲乙丙三方在本协议项下发生任何交易纠纷或者其他争议，应本着诚实信用的原则通过友好协商解决，协商不成的，双方均可向乙方所在地人民法院起诉。</p>
				<p class="hint_con color_3" style="font-size: 14px;text-align: center;">第五章 协议生效、修订及解除</p>
				<p class="hint_con fz_12 color_6">第二十九条&nbsp;&nbsp;&nbsp;&nbsp;本协议以电子形式签署，自甲方点击确认本协议起生效。</p>
				<p class="hint_con fz_12 color_6">第三十条&nbsp;&nbsp;&nbsp;&nbsp;本协议的附件、乙方及丙方有关黄金定投交易所产生的交易文件是本协议的有效组成部分，与本协议具有同等法律效力。</p>
				<p class="hint_con fz_12 color_6">第三十一条&nbsp;&nbsp;&nbsp;&nbsp;乙方有权对本协议及产品规则进行修订，并以网站公示的方式进行公告，修订后的协议及产品规则一经公布即刻生效，如甲方不同意相关变更，可选择向乙方进行销户，继续使用黄金定投账户的，视为对修订后协议及产品规则的认可。修订后的协议及产品规则内容对其生效后发生的交易有效。</p>
				<p class="hint_con fz_12 color_6">第三十二条&nbsp;&nbsp;&nbsp;&nbsp;乙方或丙方因故不再经营黄金定投交易业务时，乙方及丙方须对甲方黄金定投账户的资金和实物进行清算，甲乙丙三方自清算结束之日起解除本协议。</p>
				<p class="hint_con fz_12 color_6">第三十三条&nbsp;&nbsp;&nbsp;&nbsp;甲方可以通过对其黄金定投账户进行销户的方式来提前解除本协议，乙方及丙方按甲方的销户申请及时为甲方办理销户手续。甲方须在黄金定投账户资金和实物余额为零的情况下方可进行销户。</p>
				<p class="hint_con color_3" style="font-size: 14px;padding-top: 20px">提示：乙方及丙方已提请甲方注意对本协议各条款作全面、准确的理解，并应甲方要求作了相应的条款说明。签约三方对本协议书条款的含义及其相应法律后果已全部通晓并充分理解。同时，甲方声明，对涉及其义务及对其不利的条款已经作了特别的注意，并确认接受。</p>
				<p class="hint_con color_3" style="font-size: 14px;padding-top: 20px;">本人已仔细阅读本协议并确认接受。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
	</body>
</html>