<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄金定投业务协议书</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
		<style>
			.underl{
				text-decoration: underline;
			}
		</style>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">黄金定投业务规则</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_3" style="text-align: center;font-size: 18px;">深圳金融电子结算中心有限公司黄金定投产品规则</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第一章 总则</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;为规范深圳金融电子结算中心有限公司（以下简称结算中心）的黄金定投业务，保障参与各方的合法权益，根据国家有关法律法规制定本规则。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;黄金定投是指在一定投资期间内，客户委托结算中心在约定的时间，以约定的金额，购买约定品种的黄金，并有权将定投账户内的黄金兑换成一定规格标准的实物黄金直接提取，或按照一定价格兑换成现金的一种长期投资方式。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;交易日是指上海黄金交易所正常开市的营业日。除本业务规则特别说明为自然日外，其余的约定均为交易日。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第二章 开销户</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;办理黄金定投业务的客户须先开户。客户对《深圳金融电子结算中心有限公司黄金定投业务协议书》、《风险揭示书》等法律文书进行确认后，由结算中心为客户开立黄金定投账户。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;代理银行须在客户开户前核实其身份有效性，包含且不限于客户姓名、身份证号码、银行卡号码、手机号码等。开户成功即建立客户黄金定投账户与银行账户的绑定关系。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;客户开立的黄金定投账户包括黄金账户和资金账户。黄金账户用于记录客户黄金库存及买卖提引起的黄金库存变动情况；资金账户用于记录客户资金余额以及在进行买卖提过程中相应资金的变动情况。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;客户可更换与黄金定投账户绑定的银行账户。更换前同样需核实其身份有效性。新账户必须属于客户本人，且不能跨行更改绑定。</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;在定投协议有效期内，客户可主动解除与结算中心的黄金定投业务协议，即办理销户。客户提出销户申请前，须取消所有定投计划，并将黄金账户里的黄金全部卖出或提取。结算中心在结清客户的资金、费用，并完成相关的资金划扣或资金返还后，为客户办理销户手续。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第三章 买金</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;客户买金有“计划买”、“随时买”两种买金方式选择。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;“计划买”买金时，可选择“定投周期”和“买金金额”。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.“定投周期”可选择“按日买”、“按周买”、“按月买”三种方式之一。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“按日买”指定每天都进行定投交易；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“按周买”每周选择一天进行定投交易。例如周一；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“按月买”每月的任意一天或几天进行定投交易。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上计划买金若遇节假日（上金所休市）则顺延至节假日后第一个交易日。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.“买金金额”起点为<span class="underl">200</span>元，并以<span class="underl">100</span>元为单位来递增，上限以结算中心和银行双方约定为准；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.买金计划管理：客户可申请新增、取消原买金计划，均当日生效。已扣款的买金任务正常情况下将不可取消。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;“随时买”买金时，客户只用选择“买金金额”。“随时买”买金指令一旦提交便不可撤回或更改。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;买金扣款金额即客户买金金额，扣款默认从资金账户扣款，支持从银行卡扣款，买金手续费率为交易金额的<span class="underl">0.5</span>%。</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;关于买金扣款时间有以下说明：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">下单时间</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">首轮扣款时间</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">周期扣款时间</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">购金</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="15%" rowspan="3" align="center">“计划买”</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center"><span class="underl">14:30</span>之前</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">即时扣款</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">上午<span class="underl">9</span>点</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="25%" align="center">当日购金</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center"><span class="underl">14:30</span>之后</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">即时扣款</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">上午<span class="underl">9</span>点</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="25%" align="center">次日购金</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">非当日新增</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">/</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">上午<span class="underl">9</span>点</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="25%" align="center">当日购金</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="15%" rowspan="2" align="center">“随时买”</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center"><span class="underl">14:30</span>之前</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">即时扣款</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">/</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="25%" align="center">当日购金</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center"><span class="underl">14:30</span>之后</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">即时扣款</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="23%" align="center">/</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="25%" align="center">次日购金</td>
						</tr>
					</table>
				</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“计划买”的周期扣款时间固定在指定买金日上午<span class="underl">9</span>点。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 若客户新增“计划买”订单“定投周期”包含当天，且下单时间在<span class="underl">14:30</span>之前，结算中心将对首轮买金即时扣款、当日购金；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 若客户新增“计划买”订单“定投周期”包含当天，且下单时间在<span class="underl">14:30</span>之后，结算中心将对首轮买金即时扣款、次日购金。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“随时买”将在订单下达后实时扣款，并纳入当日买金任务批次。<span class="underl">14:30</span>后下单的“随时买”将纳入下一个交易日任务批次。</p>
				<p class="hint_con fz_12 color_6">第六条&nbsp;&nbsp;&nbsp;&nbsp;买金成功后，按照公式“记账重量=买金金额/价格 ” 计算记账重量，用四舍五入法精确到小数点后四位，计入客户定投账户的黄金账户中。</p>
				<p class="hint_con fz_12 color_6">第七条&nbsp;&nbsp;&nbsp;&nbsp;若客户银行账户余额不足导致买金扣款不成功，则本次买金执行失败，不予重做。</p>
				<p class="hint_con fz_12 color_6">第八条&nbsp;&nbsp;&nbsp;&nbsp;因客户扣款银行系统故障、通讯故障、对账错误等原因，导致扣款银行无法在约定的时间或无法按约定的金额将客户资金划转至结算中心指定账户，结算中心有权不予执行客户的定投计划。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第四章 卖金</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;卖金是指客户将定投账户内黄金按照一定价格兑换成现金。卖金当日或次日成交，结算中心按照卖金成交批次结算价与客户进行资金清算，并将扣除手续费后的剩余资金返至客户的资金账户中。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;卖金返款金额按照公式“返款金额=价格*重量*（1-手续费率）”计算，四舍五入精确到0.01元。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;结算中心向客户收取卖金手续费率为交易金额的<span class="underl">1</span>%。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;<span class="underl">14:30</span>之前下单的卖金需求于当日成交，否则次日成交。返还资金于实际成交日返款。</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;客户卖金指令一旦提交便不可撤回或更改。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第五章 集中交易</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;结算中心负责汇总客户的买卖金需求，集中向上海黄金交易所进行交易报单。交易标的为上海黄金交易所标准金条：Au99.99和Au100g。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;结算中心根据客户需求于后台集中分批交易，并以每批交易加权平均价作为该批次的黄金定投价格，凡是该批次内的客户买卖均按此价格进行清算。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;如果当日没有发生集中交易，则以当日上海黄金交易所Au99.99的结算价作为系统报价与客户进行清算。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;因国际政治经济因素或突发事件导致价格异常波动（以上海黄金交易所公告为准），或因系统故障、通讯故障、电力故障、网络故障等不可抗力因素导致交易无法进行，结算中心不进行定投交易，同时不对此期间可能发生的任何损失承担任何经济或法律责任。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第六章 充值提现</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;客户可向其资金账户按一定金额充值。结算中心将按客户充值需求实时从银行账户划扣资金。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;客户可将其资金账户中的金额提现。结算中心将按提现需求实时将资金返还至客户银行账户。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;提现暂时不收取手续费。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第七章 提金</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;客户可申请将其定投账户内全部或部分黄金进行实物提取。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;提金是指客户将定投账户的黄金兑换成一定规格标准的实物黄金，直接提取出来。提取的重量不得超过定投账户中的黄金总重量，提取的实物黄金规格目前为上海黄金交易所的Au100g。Au100g标准金条以100克为提取单位，客户只能按照提取单位的整数倍进行提取。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;结算中心在成功扣除客户提金费用后，为客户办理相应的提金事宜。提金费用按照公式“提金费用=提金克重*手续费率”计算，四舍五入精确到0.01元。若提金客户银行账户余额不足导致费用扣款不成功，则本次提金申请失败。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;提金手续费<span class="underl">3</span>元每克。提货费<span class="underl">3</span>元每克，其中已包含邮费、运保费。</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;提金采取指定日提取的方式。目前暂定每月<span class="underl">10</span>号、<span class="underl">25</span>号为提货日，若提货日遇节假日则顺延至节假日后第一个交易日。根据业务发展的情况，结算中心有权调整或增减提货日。</p>
				<p class="hint_con fz_12 color_6">第六条&nbsp;&nbsp;&nbsp;&nbsp;申请提金的客户在提货日携本人身份证到其选择的提货网点办理提货手续后可当场提货。或由结算中心直接邮寄到客户手中。</p>
				<p class="hint_con fz_12 color_6">第七条&nbsp;&nbsp;&nbsp;&nbsp;申请提取上金所标准金条不提供发票。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第八章 账户管理</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;定投账户包括黄金账户和资金账户，两者均包括可用部分和冻结部分。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;买金对定投账户的影响。客户发起买金申请，处理规则如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">资金划扣成功</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">集中交易成功</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">银行资金确认成功</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="10%" align="center">买金</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="30%" align="center">资金账户增加并冻结</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="30%" align="center">资金账户解冻并减少<br/>黄金账户增加并冻结</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="30%" align="center">黄金账户解冻为可用</td>
						</tr>
					</table>
				</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;卖金对定投账户的影响。客户发起卖金申请，处理规则如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">申请卖金</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">集中交易成功</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="10%" align="center">卖金</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="45%" align="center">黄金账户冻结</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="45%" align="center">黄金账户解冻并减少<br/>资金账户增加为可用</td>
						</tr>
					</table>
				</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;提金对定投账户的影响。客户发起提金申请，处理规则如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">费用划扣申请</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">资金划扣成功</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">银行资金确认成功</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">提金成功</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="10%" align="center">提金</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">黄金账户冻结</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">资金账户增加并冻结</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">资金账户减少为费用</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">黄金账户解冻并减少 进入提货跟踪流程</td>
						</tr>
					</table>
				</p>
				<p class="hint_con fz_12 color_6">第五条&nbsp;&nbsp;&nbsp;&nbsp;客户申请向资金账户充值，处理规则如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">资金划扣成功</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">充值</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="80%" align="center">资金账户增加为可用</td>
						</tr>
					</table>
				</p>
				<p class="hint_con fz_12 color_6">第六条&nbsp;&nbsp;&nbsp;&nbsp;客户申请从资金账户提现，处理规则如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">类型</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">提现成功</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%" align="center">提现</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="80%" align="center">资金账户可用减少</td>
						</tr>
					</table>
				</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第九章 清算对账</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;买卖提和充值提现涉及资金划扣交易时段实时发起。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;银行接收资金划扣报文后实时划转客户资金，完成后实时返回结果报文。</p>
				<p class="hint_con fz_12 color_6">第三条&nbsp;&nbsp;&nbsp;&nbsp;每日下午16:00开始结算中心端系统进行资金清算，完成清算后下发资金对账文件到银行，银行根据对账文件进行对账，对账结果以中心端对账文件为准。</p>
				<p class="hint_con fz_12 color_6">第四条&nbsp;&nbsp;&nbsp;&nbsp;中心端每日将人工核对定投系统对账文件数据与银行账户实体资金是否一致。当出现不一致的情形下，联系银行进行调账。</p>
				<p class="hint_con color_3" style="font-size: 15px;text-align: center;">第十章 附则</p>
				<p class="hint_con fz_12 color_6">第一条&nbsp;&nbsp;&nbsp;&nbsp;本业务规则解释权属深圳金融电子结算中心有限公司。</p>
				<p class="hint_con fz_12 color_6">第二条&nbsp;&nbsp;&nbsp;&nbsp;本业务规则自二〇一七年一月一日起执行。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
	</body>
</html>