<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>黄金定投</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />	
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>
        <div id="pullrefresh" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="content_box5px m_top10px">
					<div class="backbox_th2 p_lr10px">
						<ul id="queryList">
						</ul>
					</div>
	       		</div>
  			</div>
		</div>
		
		<div class="content_BOXall" id="noContent" style="display: none;">
			<div class="fail_icon1 suc_top7px"></div>
			<p class="fz_15 text_m" id="msgSpan">没有符合条件的记录</p>
		</div>
        <script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('gold/goldTranHisWithdraw');
		</script>
	</body>
</html>
