<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>金融</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<style>
			.mui-control-content {
				background-color: white;
				min-height: 125px;
			}
			.main_w25 li{
				position: relative;
			}
			.main_menu_ul{
				overflow: visible;
				clear: both;
			}
			.jicon{
				position: absolute;
				display: block;
				width: 30px;
				height: 30px;
				background: url(../../img/price.png);
				background-size: 100%;
				right: 1px;
				top: 0;
			}
			.jtop5{
				top:-5px;
			}
			.jtop{
				top:0;
			}
			/*.mui-android .hb-header{ 
				height: 44px;
			}
			.mui-android .hb-title{ 
				top: 0px;
			}
			.mui-android .nav_code.hb-nav{ 
				top: 0px;
			}
			.mui-android .content_BOXall.hb-adv{ 
				padding-top: 44px;
			}
			.mui-android .hb-adv-content{ 
				margin-top: 44px;
			}
			.mui-ios .hb-adv-content{ 
				margin-top: 64px;
			}*/
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">	
		        <h1 class="mui-title hb-title" id="test">金融</h1>
		        <a class="nav_code hb-nav" id="messagelist" path="../message/messageList.html" noCheck="true"></a>
		</header>
		<div id="banking_scroll" class="mui-scroll-wrapper">
			<!--<div style="width: 100%; height: 64px;"></div>-->
			<div class="mui-scroll p_down66px">
				<div id="frameBlockC" class="hb-adv-content" >
					  <div id="frameBlock">
						<div id="slider" class="banner_bg mui-slider">
							<div class="mui-slider-group mui-slider-loop">
								<div class="mui-slider-item mui-slider-item-duplicate">
									<a href="#"><img src="../../img/card_banner.png" ></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
					<!--<div id="adHtmlArea"class="banner_bg">
						<div class="banner_imgbox">
							<a><img src="../../img/bank_img.png"/></a>
						</div>
					</div>-->
			<div class="mui-slider p_td5px banner_bg_boxshw" style="position: relative; background: #fff;">
				<div class="mui-slider-group">
					<div class="mui-slider-item">
						<ul class="main_menu_ul main_w25">
						    <li id="clientHome" path="../myOwn/clientHome.html" noCheck="false"><a class="customer_myOwn_home"><p class="color_6">我的账户</p></a></li>
							<li id="transfer" path="../transfer/transfer.html" noCheck="false"><a class="customer_transfer_home"><p class="color_6">转账汇款</p></a><span id="transferSpan" ></span></li>
							<li id="mySavings" path="../savings/mySavings.html" noCheck="false"><a class="customer_savings_my_home"><p class="color_6">我的储蓄</p></a></li>
							<li id="fundHome" path="../fund/fundHome.html" noCheck="true"><a class="customer_funds_home"><p class="color_6">基金</p></a><span id="fundSpan"></span></li>					
						</ul>
						<ul class="main_menu_ul main_w25">
							<li id="productMarket" path="../productList/productMarket.html" noCheck="true"><a class="customer_productmarket_home"><p class="color_6">投资理财</p></a><span id="productSpan"></span></li>
							<li id="personalLoan" path="../loan/personalLoanQuery.html" noCheck="false"><a class="customer_loans_home"><p class="color_6">个人贷款</p></a></li>
							<li class="" id="creditCarHome" path="../creditCard/creditCarHome.html" noCheck="true"><a class="customer_card_home"><p class="color_6">信用卡</p></a></li>
							<li class="" id="bankingHome" path="../banking/bankingHome.html" noCheck="true"><a class="customer_hm_menuall_home"><p class="color_6">全部</p></a></li>
						</ul>
			        </div>
			   </div>
		        <!--<div class="mui-slider-indicator" style="bottom: 0;">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
				</div>-->
			</div>
			<div class="mui-content"> 
			    <div id="sliderBox" class="banking_box mui-slider">
			        	<div  class="banking_nav" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			        		<a class="mui-control-item" href="#item1"><p  id="fiancing">精选理财<span class="m_tab" id="fiancingPoint"></span></p></a>
			        		<a class="mui-control-item" href="#item2"><p class="color_9" id="fund">热销基金<span class="m_tab" id="fundPoint"></span></p></a>
			        	</div> 
			        	<div class="mui-slider-group">
			        		<div id="item1"  class="mui-slider-item mui-control-content mui-active" style="background: rgba(255,255,255,0);">
			        			<div id="fiancingProduct" class="">
				        		</div>
			        		</div>
			        		<div id="item2" class="mui-slider-item mui-control-content" style="background: rgba(255,255,255,0);">
				        		<div id="fundProduct" class="">
			        			</div>
			        		</div>
			        	</div>
			    </div>
		    </div>
				
			</div>
		
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/controllers/adView/ad_load_html.js"></script>
		<script type="text/javascript">
			var divH = jQuery("#frameBlock > div > div > div > a > img").width() * 294/750;
			jQuery("#frameBlock").height(divH);
			jQuery("#slider").hide();
			
			document.getElementById("sliderBox").addEventListener('touchmove',function(e){
				e.preventDefault();
			});
			document.getElementById("banking_scroll").addEventListener('touchmove',function(e){
				e.preventDefault();
			});
			//页面弹性滚动  
			mui('.mui-scroll-wrapper').scroll({
				deceleration:0.005,
				indicators:false
			});
			 mui('header')[0].addEventListener('touchmove',function(e){e.preventDefault();})
		</script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('banking/banking_home'); 
		</script>
	</body>
</html>
