<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>全部</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style>
			.div_b_m {
				background-color: #fff;
				margin-bottom: 8px;
			}
		
			.backbox_th{
			width: 100%;
			background: #ffffff;
			position: relative;
			box-shadow: 0 1px 1px #ddd;
			-webkit-box-shadow: 0 1px 1px #ddd;
}
		
		.cust_titbox{
			padding: 10px 0 0 10px;
			overflow: hidden;
			line-height: 20px;
		}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">全部</h1>
			</div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="main_wraper no_margin_bottom">
				<div class="m_top10px">
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">我的账户</p>
							</div>
							<ul class="custommenuset_ul cust_w25">
								<li>
									<a class="customer_myOwn" style="margin-top: 0px;" id="clientHome" path="../myOwn/clientHome.html" nocheck="false">
										<p class="color_6 fz_12">我的账户</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">转账汇款</p>
							</div>
							<ul class="custommenuset_ul cust_w25">
								<li style="border: 0px;">
									<a class="customer_transfer_inner" style="margin-top: 0px;" id="innerTranInput" path="../transfer/innerTranInput.html" nocheck="false">
										<p class="color_6 fz_12">行内转账</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_transfer_inter" style="margin-top: 0px;" id="interTranInput" path="../transfer/interTranInput.html" nocheck="false">
										<p class="color_6 fz_12">跨行转账</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_transfer_pho" style="margin-top: 0px;" id="mobileTranInput" path="../transfer/mobileTranInput.html" nocheck="false">
										<p class="color_6 fz_12">手机号转账</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_transfer_appo" style="margin-top: 0px;" id="mobileTranInput" path="../transfer/scheduleDetail.html" nocheck="false">
										<p class="color_6 fz_12">预约管理</p>
									</a>
								</li>
								
								<li style="border: 0px;">
									<a class="customer_transfer_name" style="margin-top: 0px;" id="receiverPro" path="../transfer/receiverPro.html" nocheck="false">
										<p class="color_6 fz_12">收款人名册</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_transfer_soso" style="margin-top: 0px;" id="transferDetail"  path="../transfer/transferDetail.html" nocheck="false">
										<p class="color_6 fz_12">转账明细</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">我的储蓄</p>
							</div>
							<ul class="custommenuset_ul cust_w25">
								<li>
									<a class="customer_savings_my" style="margin-top: 0px;" id="mySavings"  path="../savings/mySavings.html" nocheck="false">
										<p class="color_6 fz_12">我的储蓄</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">基金</p>
							</div>
							<ul class="custommenuset_ul cust_w25" >
								<li style="border: 0px;">
									<a class="customer_fund_xjb" style="margin-top: 0px;" id="cashFundProductList" path="../fund/cashFundProductList.html" nocheck="true">
										<p class="color_6 fz_12">臻心宝</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_fund_mydt" style="margin-top: 0px;" id="myInvestment" path="../fund/myInvestment.html" nocheck="false">
										<p class="color_6 fz_12">我的定投</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_fund_ycc" style="margin-top: 0px;" id="myFund" path="../fund/myFund.html" nocheck="false">
										<p class="color_6 fz_12">我的持仓</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_fund_zntg" style="margin-top: 0px;" id="myRoboAdvisor" path="../fund/myRoboAdvisor.html" nocheck="false">
										<p class="color_6 fz_12">我的智能投顾</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">投资理财</p>
							</div>
							<ul class="custommenuset_ul cust_w25" >
								<li style="border: 0px;">
									<a class="customer_productmarket" style="margin-top: 0px;" id="productMarket" path="../productList/productMarket.html" nocheck="ture">
										<p class="color_6 fz_12">投资理财</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_product_my" style="margin-top: 0px;" id="myProductQuery" path="../productList/myProductQuery.html" nocheck="false">
										<p class="color_6 fz_12">我的理财</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_product_soso" style="margin-top: 0px;" id="transactionQuery" path="../productList/transactionQuery.html" nocheck="false">
										<p class="color_6 fz_12">交易查询</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_product_risk" style="margin-top: 0px;" id="riskAssessment" path="../productList/riskAssessment.html" nocheck="false">
										<p class="color_6 fz_12">风险评估</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">黄金定投</p>
							</div>
							<ul class="custommenuset_ul cust_w25" >
								<li style="border: 0px;">
									<a class="customer_gold" style="margin-top: 0px;"  id="goldHome"  path="../gold/goldHome.html" nocheck="false">
										<p class="color_6 fz_12">黄金定投</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">个人贷款</p>
							</div>
							<ul class="custommenuset_ul cust_w25">
								<li style="border: 0px;">
									<a class="customer_loans" style="margin-top: 0px;" id="personalLoanQuery" path="../loan/personalLoanQuery.html" nocheck="false">
										<p class="color_6 fz_12">我的贷款</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_loanTrial" style="margin-top: 0px;" id="loanTrial" path="../loan/loanTrial.html" nocheck="false">
										<p class="color_6 fz_12">贷款试算</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">信用卡</p>
							</div>
							<ul class="custommenuset_ul cust_w25" >
								<li style="border: 0px;">
									<a class="customer_card_bid" style="margin-top: 0px;" id="applicationAndActivation" path="../creditCard/applicationAndActivation.html" nocheck="false">
										<p class="color_6 fz_12">申办与激活</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_adjust" style="margin-top: 0px;" id="limitManager" path="../creditCard/limitManager.html" nocheck="false">
										<p class="color_6 fz_12">额度管理</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_bill" style="margin-top: 0px;" id="billManager" path="../creditCard/billManager.html" nocheck="false">
										<p class="color_6 fz_12">账单管理</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_inter" style="margin-top: 0px;" id="thisInitiativeRefundMenuInfo"  path="../creditCard/thisInitiativeRefundMenuInfo.html" nocheck="false">
										<p class="color_6 fz_12">信用卡还款</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_credit" style="margin-top: 0px;" id="installmentCreditMenuInfo" path="../creditCard/installmentCreditMenuInfo.html" nocheck="false">
										<p class="color_6 fz_12">分期信贷</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_payset" style="margin-top: 0px;" id="thirdPayMenuInfo" path="../creditCard/thirdPayMenuInfo.html" nocheck="false">
										<p class="color_6 fz_12">支付管理</p>
									</a>
								</li>
								<li style="border: 0px;">
									<a class="customer_card_points" style="margin-top: 0px;" id="pointQuery" path="../creditCard/pointQuery.html" nocheck="false">
										<p class="color_6 fz_12">积分管理</p>
									</a>
								</li>
							</ul>

						</div>
					</div>
					<div class="backbox_th">
						<div class="cust_iconbox div_b_m">
							<div class="cust_titbox">
								<div class="small"></div><p class="cust_tit">无卡取款</p>
							</div>
							<ul class="custommenuset_ul cust_w25">
								<li style="border: 0px;">
									<a class="customer_nonecard" style="margin-top: 0px;"  id="drawWithoutCard"  path="../drawWithoutCard/drawWithoutCard.html" nocheck="false">
										<p class="color_6 fz_12">无卡取款</p>
									</a>
								</li>
							</ul>

						</div>
					</div>
					
				</div>
			</div>

		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('banking/bankingHome');
		</script>
	</body>

</html>