 <!--
	作者：苏星
	时间：2017-04-01
	描述：设备信息管理界面(本机绑定，其他绑定)
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>设备绑定</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>  
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a id="deviceBoundBack" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">设备绑定</h1>
				<!--<a class="nav_code"></a>-->
		    </div>		    
       </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div id="headMenu" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active fz_15" id="deviceBound" path="../user/deviceBound.html" noCheck="false">本机设备</a>								
					<a class="mui-control-item fz_15" id="otherDevice" path="../user/otherDevice.html" noCheck="false">其他设备</a>
			</div>
       </div>
			
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('user/deviceManager');
		</script>			
	</body>
</html>

