<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>信息确认</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">信息确认</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<p class="backbox_tit2">验证信息确认</p>
			<div class="backbox_fo">
			    <ul class="p_lr30px">
		    	        <li>
		    	    	        <span class="detail_left">证件类型</span><span class="detail_right" id="certType"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">证件号码</span><span class="detail_right" id="certNo"></span>
		    	        </li>
		       </ul>
		  </div>
		   <div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">验证信息</p>
			    </div>
			    <div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul>
				    	<li>
					    	    <span class="input_lbg">银行卡卡号</span>
					    	    <span class="input_m14px" id="cardNo"></span>
					    </li>
					    
				    </ul>
			    </div>
		   </div>
		   <div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint"></p>
				<p class="hint_con fz_12"></p>
		   </div>
		   <div class="btn_bg_f2" id="abc">
				<button class="but_315px but_red" data-checkAuth='true' path="boundSuccess.html" noCheck="true" id="boundSuccess">下一步</button>
		   </div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript"src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('user/infoConfirm');
		</script>			
	</body>
</html>
