<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">		
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<style>
			.mui-content{
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.8);
				overflow: hidden;
				position: absolute;
			    top:0; 
			    z-index: 100;
			}

		</style>
	</head>

	<body style="background: transparent;">
		<div class="mui-content" style="">
			<div class="headpic_bg">
				<img class="headpic" id="userIcon" src="../../img/u_head.png"/>
				<p>
					<span class="fz_16 color_fff" id="userName"></span><br />
				    <span class="color_9" id="lastLoginTime"></span>
				</p>
			</div>
		    <!--<div class="content">
				<span class="android-only">用户头像区域</span>。	
			</div>-->

			<ul class="m_top10px">
				<!--<li class="mui-table-view-cell">
					<!--<a class="mui-navigate-right" id="aliasSetting" path="../customerSetting/aliasSetting.html" noCheck="false">别名设置</a>
					<a class="mui-navigate-right " style="color: white;">用户信息设置</a>
				</li>-->
				<li class="mui-table-view-cell" id="safeCenterHome" path="../safeCenter/safeCenterHome.html" noCheck="false">
					<span class="myright_iconbox myright_icon1"></span><a class="mui-navigate-right fz_15" style="color: #fff; margin-left: 15px;">安全设置</a>
				</li>
				<li class="mui-table-view-cell" id="branches" path="../branch/branches.html" noCheck="true">
					<span class="myright_iconbox myright_icon2"></span><a class="mui-navigate-right fz_15" style="color:  #fff; margin-left: 15px;">网点导航</a>
				</li>
				<!--<li class="mui-table-view-cell">
					<a class="mui-navigate-right" id="deviceManager" path="../user/deviceManager.html" noCheck="false" style="color: white;">设备绑定</a>
				</li>
				<li path='../myOwn/limitSet.html' id='limitSet' noCheck='false' class="mui-table-view-cell">
					<a class="mui-navigate-right" style="color: white;">限额设置</a>
				</li>-->
				<li path="myCard.html" id="myCard" noCheck="true" class="mui-table-view-cell">
					<span class="myright_iconbox myright_icon3"></span><a class="mui-navigate-right fz_15" style="color:#fff; margin-left: 15px;">手机银行名片</a>
				</li>
				<li path="aboutUs.html" id="aboutUs" noCheck="true" class="mui-table-view-cell">
					<span class="myright_iconbox myright_icon4"></span><a class="mui-navigate-right fz_15" style="color: #fff; margin-left: 15px;">关于我们</a>
				</li>
			</ul>
            <div class="" style="width: 80%; margin: 0 auto; text-align: center; overflow: hidden;">
              	<button class="but_315px myright_btn" id="quit" style="position: fixed; bottom: 50px; left: 50%; margin-left: -40%; display: none;" >安全退出</button>
				<!--<span id="version" style="color: white; margin-left: -17%;"></span>-->
                <p id="version" class="color_9" style="position: absolute; width: 80%; left: 50%; margin-left: -40%; bottom: 20px;"></p>
            </div>           
		</div>
		
	<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common/mui.min.js"></script>
	<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="../../js/common/keyboard/plugin-keyboard.js"></script>
	<script src="../../js/common/sea.js"></script>
	<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('user/myRight');
		</script>

</body>

</html>