<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>音频Ukey密码修改</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">音频Ukey密码</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">PIN码修改</p>
			    </div>
			    <div class="backbox_th p_lr10px">
				    <ul>
					    <li>
					    	<span class="input_lbg">原PIN码</span>
					    	<input id='oldPwd' type="password" class="input_m12px" placeholder="请输入原PIN码" maxlength="16">
					    </li>
					    <li>
					    	<span class="input_lbg">新PIN码</span>
					    	<input id='newPwd' type="password" class="input_m12px" placeholder="请输入新PIN码" maxlength="16">
					    </li>
					    <li>
					    	<span class="input_lbg">确认新PIN码</span>
					    	<input id='confirmNewPwd' type="password" class="input_m12px" placeholder="请确认新PIN码" maxlength="16">
					    </li>
				    </ul>
			    </div>
		   	</div>
		   	<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">音频UKey密码设置规则：</p>
				<p class="hint_con fz_12">为确保您的Ukey使用安全，请设置6-16位的PIN密码，密码由字母或数字组成，字母区分大小写。</p>
			</div>
			<div class="but_bottom20px">
				<button class="but_315px but_red" id="submitButton">确&nbsp;&nbsp;定</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script> 
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 
		<script>
			seajs.config({ 
				base: "../../js/controllers/"
			});
			seajs.use('safeCenter/usbkeyPINManage');
		</script>
	</body>
</html>