<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css" />
		<style type="text/css">
			/*.mui-android .hb-header{ 
				height: 44px;
			}
			
			.mui-android .content_BOXall.hb-adv{ 
				padding-top: 44px;
			}*/
			.mui-android .nav_logoff.hb-nav1{ 
				top: 0px;
			}
			.mui-android .hb-title{ 
				top: 0px;
			}
			.nav_logoff{
				display: block;
				position: absolute;
				top:20px;
				left: 15px;
				width: 100px;
				height: 44px;
				line-height: 44px;
	
			}
			
			/*.mui-android .hb-nav1{ 
				top: 15px;
			}*/

			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header" style="z-index: 900;">
		    <div>
		    	<a class="nav_logoff hb-nav1" id="logoff" style="display:none;">安全退出</a>
		    	<!--<a class="nav_logoff hb-nav1" id="logoff"   noCheck="false" style="display: none;">安全退出</a>-->
		        <h1 class="mui-title hb-title" id="login" path="../login/login.html" style="left: 30%;right: 30%;" noCheck="true">我的</h1>
		        <a class="nav_qrcode hb-nav"  path="myRight.html" id="myRight" noCheck="true">设置</a>
	        </div>
		</header>
		<div id="user_scroll" class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="content_BOXall hb_cont">
					<div class="banner_bg" style="z-index: 3;">
						<div class="banner_imgbox">
							<a><img src="../../img/u_bg.png"/></a>
						</div>
						<div class="user_title_bg" id="loginJump"> 
							<span class="fz_15"  id="userName"></span><br/>
							<span  class="" id="lastLoginTime"></span><br/>
							<!--<span  class="fz_17" id="preMessage"></span>-->
						</div>
						<div class="user_picbg">
							<p class="user_pic" id="userPic">
								<img src="../../img/u_head.png" id="userIcon"/>
							</p>	
						</div>	
						
					</div>
					<div class="user_menubox">
						<div class="user_menu1">
							<a id="clientHome" path="../myOwn/clientHome.html" noCheck="false">
								<span class="menu_ico1"></span>
							    <span class="menu1">我的账户</span>
							</a>				
						</div>
						<div class="user_menu2">
							<a id="creditCarHome" path="../creditCard/creditCarHome.html" noCheck="true">
								<span class="menu_ico3"></span>
							    <span class="menu2">信用卡</span>
							</a>
						</div>
						
						<div class="user_menu3">
							<a id="myProductQuery" path="../productList/myProductQuery.html" noCheck="false">
								<span class="menu_ico2"></span>
							    <span class="menu3">我的理财</span>
							</a>
						</div>
						<div class="user_menubg"></div>
					</div>			
				</div>
		
				<div class="content_box5px m_top10px p_down20px">
				<div class="user_tab"></div>
					<div class="backbox_th p_lr10px m_top10px">
					    <ul id="transferMenu"> 
						    <li id="definedMenu" path="../customMenu/customMenuSet_new.html" noCheck="true">
						    	    <p class="public_icon transfer_icon"><img src="../../images/menuall.png" /></p>
					    	        <span>快捷菜单</span>
					    	        <a class="link_rbg"></a>
						    </li>
						    	    <li id="myBonds" path="../bonds/myBonds.html" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/ticket_my.png" /></p>
					    	        <span>我的票券</span>
					    	        <p id="newIco" class="new_ico_b" style="display: none;"></p>
					    	        <a class="link_rbg"></a>
						    </li>
						    <li id="myPrizes" path="../lottery/myPrizes.html" noCheck="false" style="display:none">
						    	    <p class="public_icon transfer_icon"><img src="../../images/ticket_my.png" /></p>
					    	        <span>我的奖品</span>
					    	        <p id="newIco" class="new_ico_b" style="display: none;"></p>
					    	        <a class="link_rbg"></a>
						    </li>
						    <!--<li id="personalLoan" path="../loan/personalLoanQuery.html" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/loan_my.png" /></p>
					    	        <span>我的贷款</span>
					    	        <a class="link_rbg"></a>
						    </li>	-->
					
						    <!--<li id="messagelist" path="../message/messageList.html" noCheck="true">
						        	<p class="public_icon transfer_icon"><img src="../../images/message.png" /></p>
					    	        <span>系统消息</span>
					    	        <a class="link_rbg"></a>
						    </li>-->
						    <!--<li path="../savings/mySavings.html" id="mySavings" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/savings_my.png" /></p>
					    	        <span>我的储蓄</span>
					    	        <a class="link_rbg"></a>
						    </li>	-->
						    			    
					    </ul>
				    </div>
				    <div class="backbox_th p_lr10px m_top10px">
					    <ul id="transferMenu"> 
						    <!--<li id="definedMenu" path="../customMenu/customMenuSet_new.html" noCheck="true">
						    	    <p class="public_icon transfer_icon"><img src="../../images/menuall.png" /></p>
					    	        <span>快捷菜单</span>
					    	        <a class="link_rbg"></a>
						    </li>
						    	    <li id="myBonds" path="../bonds/myBonds.html" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/ticket_my.png" /></p>
					    	        <span>我的票券</span>
					    	        <a class="link_rbg"></a>
						    </li>-->
						    <li id="personalLoan" path="../loan/personalLoanQuery.html" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/loan_my.png" /></p>
					    	        <span>我的贷款</span>
					    	        <a class="link_rbg"></a>
						    </li>	
					
						    <!--<li id="messagelist" path="../message/messageList.html" noCheck="true">
						        	<p class="public_icon transfer_icon"><img src="../../images/message.png" /></p>
					    	        <span>系统消息</span>
					    	        <a class="link_rbg"></a>
						    </li>-->
						    <li path="../savings/mySavings.html" id="mySavings" noCheck="false">
						    	    <p class="public_icon transfer_icon"><img src="../../images/savings_my.png" /></p>
					    	        <span>我的储蓄</span>
					    	        <a class="link_rbg"></a>
						    </li>	
						    <li path='../user/userLog.html' id='userLog' noCheck='false'>
						    	<p class="public_icon transfer_icon"><img src="../../img/ylxi_icon.png" /></p>
						    	<span>日志查询</span>
						    	<a class="link_rbg"></a>
							</li>
					    </ul>
				    </div>
				</div>

			</div>			
		</div>
		<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/exif.js"></script>
		<script type="text/javascript">
			//页面弹性滚动  
			mui('.mui-scroll-wrapper').scroll({
				deceleration:0.005,
				indicators:false
			}); 
			mui('header')[0].addEventListener('touchmove',function(e){e.preventDefault();}) 
			  
		</script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('user/user');
		</script>
	</body>
	
</html>
