<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style type="text/css">
			.mui-android .login_off2.hb-back{
				top:2%;
			}
		</style>
	</head>

	<body>
		<div class="login_bg login_bg_pic">
			<a class="login_off2 hb-back"></a>
			<p class="login_logo">
				<img src="../../img/login_logo.png"  />
			</p>
			<div>
				<form id='login-form' class="backbox_login bg_shadow bg_fff">
				    <div class="login_input">
				    	    <p class="login_ico1"></p>
					    <input id='account' type="tel" class="login_input_bg" placeholder="请输入手机号" >
				    </div>
				    <div class='login_input2'>
				    	    <p class="login_ico2"></p>
					    <input id='password' type="password" class="login_input_bg" placeholder="请输入密码">
					    <input id='_password' type="hidden" value="" readonly="readonly"> 
				    </div>
				    <div class="login_touch"></div>
			    </form>
			    <form class="backbox_login2"> 
			    	    <div class="remember m_top10px" ><p id="user_rem"></p></div>
			    	    <div class="remember_fz m_top10px" >记住手机号</div>
				<!--<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						记住手机号
						<div id="rememberMobile" class="mui-switch">
							<div class="mui-switch-handle"></div>
						</div>
					</li>
				</ul>-->
			    </form>
			    <div class="but_m80"><button id='login' class="but_315px but_red">登&nbsp;&nbsp;录</button></div>
			    <!--<div class="but_m80"><button id='changeLoginType' class="but_315px but_red">切换登录方式</button></div>-->
				<div class="link-area">
					<p class="login_line"></p>
					<a id='reg' class="link-area_fz">新用户注册手机银行<span class="link-area_ico"></span></a>
			    </div>
			</div>
		</div> 
		
		
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.enterfocus.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/core/support.js"></script>
		<script src="../../js/core/utils.js"></script>
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/app.js"></script>
		<script src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 
		<script>
			jQuery(function(){
				var accountBox = document.getElementById('account');
				var isRemb   = localStorage.getItem('user_rem');
				var loginMobile   = localStorage.getItem('logonId');
				var loginIdFilter = "";
				if(isRemb&&loginMobile){
					document.getElementById('user_rem').className = 'remember_on';
					accountBox.value = loginMobile;
				}else{
					accountBox.value = '';
				}
			})
		</script>
		
		<script type="text/javascript">
			seajs.config({
				base:"../../js/controllers/"
			}); 
			seajs.use("login/login.js");
		</script> 
	</body>

</html>