<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title></title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style type="text/css">
			.mui-android .login_off2.hb-back{
				top:2%;
			}
		</style>
	</head>
	<body>
		<div class="login_bg login_bg_finger" style="z-index: 1;">
			<a class="login_off2 hb-back" id="loginOff"></a>
			<div class="login_logo2">
				<img src="../../img/login_logo.png"  />
				<p class="login_ph" id="loginId"></p>
			</div>
			<div id="loginDiv" class="finger_linkbg" style="z-index: -1;">
				<p class="finger_link">点击进行指纹登录</p>
			</div>
			<div>
				<div class="link-area">
					<a id="changeLoginType" class="link-area_fz2">切换登录方式</a>
			    </div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/hmac-md5.js"></script>
		<!--<script type="text/javascript" src="../../js/core/plugin-login.js"></script>-->
		<script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-fingerprint.js"></script>
	    <script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-login.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript">
			seajs.config({
				base:"../../js/controllers/"
			}); 
			seajs.use("login/loginByFinger");
		</script> 
	</body>

</html>