<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">账户转账明细</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">账户转账详细信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	    <span class="detail_left">交易日期</span><span class="detail_right" id="tranDate"></span>
		    	        </li>
		    	        <li id="payLi">
		    	    	    <span class="detail_left">支出金额</span><span class="detail_right" id="pay"></span>
		    	        </li>
		    	        <li id="incomeLi">
		    	        	<span class="detail_left">收入金额</span><span class="detail_right" id="income"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">本次余额</span><span class="detail_right" id="balance"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">交易行名</span><span class="detail_right" id="tranBankName"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">交易渠道</span><span class="detail_right" id="tranchannel"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">摘要</span><span class="detail_right" id="rem"></span>
		    	        </li>
		    	        <li>
		    	        	<span class="detail_left">对方户名</span><span class="detail_right" id="recAccName"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">对方账号</span><span class="detail_right" id="recAccount"></span>
		    	        </li>
		       </ul>
		   </div>
			
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/accountTransferDetail');
		</script>
	</body>
</html>
