<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav top_z_index hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">我的账户</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary position_top position_ab_top" id="menuDiv">
					<a class="mui-control-item fz_15 mui-active" id="all">全部</a>
					<a class="mui-control-item fz_15" id="pay">支出</a>
					<a class="mui-control-item fz_15" id="income">收入</a>
			</div>
			<div class="content_box5px m_top57px" id="pullrefresh">
			    <div class="backbox_th2 p_lr10px">
				    <ul id="detail">
					    <!--<li>
					    	    <p class="color_6">支付宝转账提现</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">+500.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>-->
					    <!--<li>
					    	    <p class="color_6">银联atm取款</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">-500.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>
					    <li>
					    	    <p class="color_6">pos消费</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">-38.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>
					    <li>
					    	    <p class="color_6">pos消费</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">-38.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>
					    <li>
					    	    <p class="color_6">pos消费</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">-38.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>
					    <li>
					    	    <p class="color_6">pos消费</p>
					    	    	<p class="fz_15">余额&nbsp;&nbsp;6,000.00</p>
					    	    	<div class="content_rbox">
					    	    		<p class="fz_16">-38.00</p>
					    	    	    <p class="fz_12 color_9 m_top5px">2017-02-20</p>
					    	    	</div>
					     	<a class="link_rbg2"></a>
					    </li>-->
				    </ul>   
			    </div>
		   </div>
		</div>
		
		<div class="content_box5px m_top5px" id="showMsgDiv" hidden>
			<div class="fail_icon1 suc_top7px"></div>
			<p class="fz_15 text_m">暂无账户信息！</p>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/accountDetails');
		</script>
	</body>
</html>
