<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title" id="title"></h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m" id="value"></p>
			<div class="content_box5px">
				<div class="backbox_th p_lr10px">
					<ul>
						<li>
							<span class="input_lbg">本人账号</span>
					    	<span class="input_m12px" id="accountNo"></span>
						</li>
						<li>
							<span class="input_lbg">账户名</span>
					    	<span class="input_m12px" id="accountName"></span>
						</li>
						<li>
							<span class="input_lbg">证件类型</span>
					    	<span class="input_m12px" id="certType"></span>
						</li>
						<li>
							<span class="input_lbg">证件号</span>
					    	<span class="input_m12px" id="certNo"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirm">完成</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/addAccountOK');
		</script>
	</body>
</html>
