<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账户管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />	
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">账户管理</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">删除账户</p>
			    </div>
				<div class="backbox_th p_lr10px">
					<ul>
						<li id="changeAccount">
							<span class="input_lbg">账号</span>
					    	<span class="input_m14px" id="accountNo"></span>
						</li>
						<li>
							<span class="input_lbg">用户</span>
					    	<span class="input_m12px" id="accountName"></span>
						</li>
						<li>
							<span class="input_lbg">开户行名称</span>
					    	<span class="input_m12px" id="openName"></span>
						</li>
						<li>
							<span class="input_lbg">账户状态</span>
					    	<span class="input_m12px" id="accountState"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="submit" noCheck="false">删除</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/deleteAccount');
		</script>
	</body>
</html>
