<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的账户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">紧急挂失</h1>
		    </div>
		</header>
		
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">紧急挂失</p>
			    </div>
				<div class="backbox_th p_lr10px">
					<ul>
						<li id="changeAccount">
							<span class="input_lbg">请选择账号</span>
					    	<span class="input_m14px" id="accountNo"></span>
					    	<a class="link_rbg"></a>
						</li>
						<li>
							<span class="input_lbg">余额</span>
					    	<span class="input_m12px" id="balance"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="content_box5px p_lr10px box_top15px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">本功能只提供卡号的口头挂失，有效期为五天，请在五天之内持有效证件到银行网点办理正式挂失手续，如五天内没有到网点办理正式挂失，则自动解除挂失!</p>
			</div>
			
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="submit" noCheck="false">确认</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>		
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/emergencyLoss');
		</script>
	</body>
</html>
