<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		
	</head>
	<body>
			<div class="pickernew_box" >	
				<div class="pickernew_titbg">
				    <p class="pickerTitle">请选择</p>
					<a class="pickernew_cion1"></a>
				</div>
				<ul id="list" style="max-height:200px;overflow: auto;">
<!--					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px color_red">账号</p>
						<a class="pickernew_cion2"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>-->
				</ul>
			</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/pickerList');
		</script>			
	</body>
</html>
