<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>协议</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">用户协议</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
						<div class="w_title fz_16">湖北银行理财产品客户权益须知</div>
						<div>尊敬的湖北银行理财客户：</div>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好。为便于您顺利在我行办理理财业务，请仔细阅读以下客户权益内容，选择适合产品并维护自身权益。如有任何疑问请详询理财经理或拨打我行客服电话（湖北）96599；（全国）400-85-96599。</p>
						<h5 class="color_3 m_top10px">一、客户认购理财产品办理流程</h5>
						<p>1、开立或持有湖北银行借记卡，该卡用于本理财产品的理财资金划转及兑付。</p>
						<p>2、接受并完成客户风险承受能力评估，并根据评估结果选择适合的产品。</p>
						<p>3、认真阅读《风险揭示书》、《产品说明书》、《客户权益须知》、《理财产品销售协议书》以及其他有关文件（如有），确认已同意相关内容、充分了解相关风险并无疑问和异议后，签字确认。</p>
						<p>4、我行理财产品可通过柜台、网银、手机银行办理理财产品购买手续，但对于具体理财产品，我行将根据产品风险等级和市场情况自行确定发售渠道。我行强烈建议您采用网银渠道进行理财产品认购，系统会提示您进行每一步操作，产品办理更加方便快捷。</p>
						<h5 class="color_3 m_top10px">二、风险测评流程</h5>
						<p>1、客户风险测评采用《湖北银行客户风险承受度评估报告》进行，您须回答涉及自身财务状况、投资经验、投资风格、投资目的、风险承受能力五个方面共10小题，得出风险测评结果。</p>
						<p>2、客户首次认购理财产品前必须在我行网点进行风险测评，有效期1年，期间认购理财产品无需再次测评；若您超过1年未再次进行风险测评或判断自身风险承受能力产生变化，应在我行网点或网银重新进行风险测评。</p>
						<p>3、风险测评评级定义、及各评级与理财产品风险等级的匹配关系详见下表：</p>
						<P>客户风险测评等级与理财产品风险登记匹配表</P>
						<h5 class="color_3 m_top10px">三、理财信息披露</h5>
						<p>1、理财产品年化收益率、产品终止或提前终止、产品延期、产品清算等信息，我行将在银行网站发布公告，请您及时登录湖北银行网站（www.hubeibank.cn），或到湖北银行各营业网点或拨打我行统一客服电话（湖北）96599；（全国）400-85-96599查询。</p>
						<p>2、重大事项披露和披露方式：对于我行认为已经、即将或可能对理财产品的全体投资者利益有重大影响的事项，湖北银行将在3个工作日内，通过网站或/及银行认为适当的其他方式进行公告。</p>
						<p>3、湖北银行有权根据市场情况调整投资范围、投资品种或投资比例，但必须在网站或/及银行认为适当的其他方式进行公告后的3个工作日后方可调整；您若不愿接受该调整，可以在公告后5个工作日内到网点办理提前赎回该理财产品的相关手续。未在约定时间内提出赎回申请的视同对此调整无异议，继续持有该理财产品。</p>
						<p>4、湖北银行根据相关法律和国家政策规定，需要对已约定的收费项目、条件、标准和方式进行调整时，必须在网站或/及银行认为适当的其他方式进行公告后的3个工作日后方可调整；您若不愿接受该调整，可以在公告后5个工作日内到网点办理提前赎回该理财产品的相关手续。未在约定时间内提出赎回申请的视同对此调整无异议，继续持有本理财产品。</p>
						<p>5、上述信息的披露渠道为湖北银行官网，请您注意经常查阅、也可拨打全国统一客服电话（湖北）96599；（全国）400-85-96599咨询。您预留在湖北银行的有效联系方式变更的，应及时于我行柜台办理信息更新。</p>
			</div>
			
			<!--<div class="but_m20px">
				<button class="but_315px but_red" style="position: fixed;bottom: 5%;left: 9%;" id="confirm" noCheck="false">返回</button>
			</div>-->
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('');
		</script>
	</body>
</html>
