<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>协议</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">风险提示：</h1>
		    </div>
		</header>
		
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				
				
						<h5 class="color_3">理财非存款、产品有风险、投资须谨慎。</h5>
						<p>本理财产品有风险，您应仔细阅读本理财产品协议书条款和对应期次的产品说明书和风险提示（详见《湖北银行紫气东来_________系列人民币理财计划_________期产品说明书》），充分认识投资风险，谨慎投资。</p>
						<h5 class="color_3 m_top10px">湖北银行理财产品协议书</h5>
						<p>甲方：_________</p>
						<p>地址：_________</p>
						<p>电话：_________传真：_________联系人：_________</p>
						<p>乙方：（客户名称）_________</p>
						<p>证件名称:_________证件号码：_________</p>
						<p>指定账号/卡号：_________</p>
						<p>地址：_________电话：_________</p>
						<h5 class="color_3">经双方平等友好协商，本着平等自愿、诚实守信的原则，就乙方在甲方购买人民币理财产品的有关事宜达成协议如下：</h5>
						<p>1、投资币种：人民币</p>
						<p>2、投资金额：_________万元；认购产品名称：_________；认购产品期次：_________期；认购产品代码:_________。</p>
						<p>3、投资品种：本理财产品投资对象已在对应期次的产品说明书和风险提示中载明。</p>
						<p>4、投资金额：起点金额_________万元人民币,以_________元的整数倍递增。</p>
						<p>5、收益支付的方式：本理财产品从_____年    月_____日起，至_____年_____月_____日止，按约定一次性兑付本金和理财收益。</p>
						<p>6、 税收条款：对理财收益引起的税收，除法律法规另有规定外，甲方不代扣代缴。</p>
						<p>7、甲方的权利与义务</p>
						<p>•甲方必须恪尽职守、履行勤勉尽责、诚实守信、有效管理的义务。</p>
						<p>•在本协议约定的投资范围和权限内，甲方拥有管理和运用理财资金的权利。</p>
						<p>•账单服务：本理财产品不提供账单。</p>
						<p>•协议期满，甲方须按协议约定事项向乙方兑付相应理财本金及收益至乙方指定账户。</p>
						<p>8、 乙方的权利与义务</p>
						<p>•乙方必须保证其理财资金为合法拥有并具有完全处分权的资金。乙方按理财合同约定享受权利，承担义务和风险。</p>
						<p>•协议期内，本期理财产品不得转让流通。乙方凭本理财产品协议书不可在甲方各营业网点办理质押贷款，也不可以开具存款证明。</p>
						<p>9、 乙方授权甲方于募集期结束当天根据协议书上的签字（个人客户）或预留印鉴（公司客户）对其结算账户扣划理财本金。</p>
						<p>10、本协议与对应期次的产品说明书和风险提示为不可分割的理财合同。乙方签署本协议则被视为已详细阅读协议条款及对应期次产品说明书和风险提示。</p>
						<p>以下部分，请乙方抄录确认：本人已仔细阅读本协议及对应期次的产品说明书和风险提示，充分了解并清楚知晓本产品的风险，自愿购买本产品并愿意承担相关风险。</p>
						<p>乙方抄录：_______________________________________________________________。</p>
						<p>11、乙方声明：在签署本产品协议书以前，甲方已就本产品协议书及有关交易文件的全部条款和内容向乙方进行了详细的说明和解释，乙方已认真阅读本产品协议条款及对应期次产品说明书和风险提示（详见《湖北银行紫气东来_______系列人民币理财计划_______期产品说明书》），对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>
						<p>12、特别提示</p>
						<p>甲方为湖北银行股份有限公司下属机构，负责本理财产品在甲方所在地的发售。</p>
						<p>13、争议处理</p>
						<p>本协议履行过程中所发生的一切争议，双方应本着诚实守信原则友好协商解决，如协商未果，可提请甲方所在地人民法院解决。</p>
						<p>14、协议的生效和终止</p>
						<p>•本协议在乙方签章(公司客户盖公章)、甲方盖公章后立即生效。</p>
						<p>•理财产品到期后，本协议自动终止。</p>
						<p>甲方（盖公章）：</p>
						<p>理财人员（签章）：</p>
						<p>经办柜员（签章）：</p>
						<p>签约日期：_____年_____月_____日</p>
						<p>乙方（签章/公章）：</p>
						<p>预留印鉴（公司客户）：</p>
						<p>签约日期：_____年_____月_____日</p>
				
			</div>
			
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('');
		</script>
	</body>
</html>
