<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>账户信息查询</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title" id="title">定期子账户</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">账户信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	    <span class="detail_left">子账号</span><span class="detail_right" id="accountNo"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">币种</span><span class="detail_right" id="currencyType"></span>
		    	        </li>
		    	        <li>
		    	        	<span class="detail_left">储种</span><span class="detail_right" id="depositType"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">利率</span><span class="detail_right" id="interestRate"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">开户日</span><span class="detail_right" id="openDate"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">到期日</span><span class="detail_right" id="interestEndDate"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">是否转存</span><span class="detail_right" id="transferSaveDays"></span>
		    	        </li>
		    	        <li id="">
		    	        	<span class="detail_left">余额</span><span class="detail_right" id="balance"></span>
		    	        </li>
		    	        
		       </ul>
		   </div>
			
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('myOwn/regSonDetail');
		</script>
	</body>
</html>
