<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>自助缴费</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">生活缴费</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="main_wraper no_margin_bottom">
				<div class="content_box5px m_top10px">
					<div class="backbox_th p_lr10px">
				    	<ul id="chargeDiv">
					    	<li id="phoneFeePayInput" path="../feePayment/phoneFeePayInput.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_mobile.png" /></p>
				    	        <span>手机话费</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<li id="telecomFeePayQuery" path="../feePayment/telecomFeePayQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_ctcc.png" /></p>
				    	        <span>中国电信费</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<li id="waterFeePayQuery" path="../feePayment/waterFeePayQuery.html" noCheck="false">
					        	<p class="public_icon transfer_icon"><img src="../../images/pay_w.png" /></p>
				    	        <span>水费</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<li id="electricityFeePayQuery" path="../feePayment/electricityFeePayQuery.html" noCheck="false">
					        	<p class="public_icon transfer_icon"><img src="../../images/pay_ele.png" /></p>
				    	        <span>电费</span>
				    	        <a class="link_rbg"></a>
					   	 	</li>					    
					   		<li id="chinaGasFeePayQuery" path="../feePayment/chinaGasFeePayQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_gas.png" /></p>
				    	        <span>中燃燃气费</span>
				    	        <a class="link_rbg"></a>
					    	</li>	
					    	<!--<li id="etcFeePayQuery" path="../feePayment/etcFeePayQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_etc.png" /></p>
				    	        <span>ETC</span>
				    	        <a class="link_rbg"></a>
					    	</li>-->
					    	<li id="tuitionFeePayQuery" path="../feePayment/tuitionFeePayQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_t.png" /></p>
				    	        <span>学杂费</span>
				    	        <a class="link_rbg"></a>
					    	</li>
				    	</ul>
			    	</div>
		 		</div>
			</div>
			
			<div class="main_wraper no_margin_bottom">
				<div class="content_box5px m_top10px">
					<div class="backbox_th p_lr10px">
				    	<ul id="setDiv">
					    	<li id="feePaymentSet" path="../feePayment/feePaymentSet.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_set.png" /></p>
				    	        <span>缴费设置</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<li id="feePaymentHistoryQuery" path="../feePayment/feePaymentHistoryQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_soso.png" /></p>
				    	        <span>缴费查询</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<li id="tuitionPayHistoryQuery" path="../feePayment/tuitionPayHistoryQuery.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/pay_t_q.png" /></p>
				    	        <span>学杂费查询</span>
				    	        <a class="link_rbg"></a>
					    	</li>
					    	<!--<li id="warnPaySet" path="../myOwn/warnPaySet.html" noCheck="false">
					        	<p class="public_icon transfer_icon"><img src="../../images/transfer_ico3.png" /></p>
				    	        <span>缴费提醒设置</span>
				    	        <a class="link_rbg"></a>
					    	</li>-->
				    	</ul>
			    	</div>
		 		</div>
			</div>
		</div>
	    <script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
	    <script type="text/javascript" charset="UTF-8" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('feePayment/feePaymentHome');
		</script>
	</body>
</html>
