<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>缴费设置</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">缴费设置</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg" style="display: none;">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">缴费设置</p>
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li>
					    	<span class="input_lbg2">缴费开关</span>
					    	<div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt" id="chargeGet">
						        <div class="mui-switch-handle"></div>
					        </div>  
					    </li>
					    <li id="chargeLimitDiv" style="display: none;">
					    	<span class="input_lbg">日累计缴费限额</span>
					    	<input class="input_m12px" type="number" id="chargeLimit" value="" placeholder="请输入每日缴费限额"></input>
					    	<p class="input_rmb">元</p>
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">1、请您在文本框中输入您的每日缴费额度。</p>
				<p class="hint_con fz_12">2、请点击" 开通 "或" 关闭 "来设置网上缴费功能。</p>
				<p class="hint_con fz_12">3、您若已开通网上缴费功能，可以修改每日缴费额度。</p>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirmBtn">确定</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('feePayment/feePaymentSet');
		</script>
	</body>
</html>
