<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>中国电信费</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">中国电信费</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">电信缴费信息</p>
			    <ul class="p_lr30px">
		    	    <li>
		    	    	<span class="detail_left">缴费类型</span>
		    	    	<span class="detail_right" id="chargeType"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">缴费地区</span>
		    	    	<span class="detail_right" id="areaCode"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">电话号码</span>
		    	    	<span class="detail_right" id="chargeNo"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">客户编号</span>
		    	    	<span class="detail_right" id="payNo"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">客户名称</span>
		    	    	<span class="detail_right" id="payName"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">应缴金额</span>
		    	    	<span class="detail_right" id="amountShouldBeCharged"></span>
		    	    </li>
		        </ul>
		    </div>
		    <div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">缴费信息录入</p>
			    </div>
			    <div class="backbox_th p_lr10px">
				    <ul>
					    <li id="changeAccount">
					    	<span class="input_lbg">付款账号</span>
					    	<span class="input_m12px" id="accountNo"></span>
					    	<a class="link_rbg"></a>
					    </li>
					    <li>
					    	<span class="input_lbg">账户余额</span>
					    	<span class="input_m12px" id="balance"></span>
					    	<input type="hidden" id="openNode" value=""/>
					    </li>
					    <li>
					    	<span class="input_lbg">缴费金额</span>
					    	<input class="input_m12px" type="number" id="amountRealCharged" placeholder="请输入缴费金额" value="" maxlength="10"></input>
					    	<p class="input_rmb">元</p>
					    </li>
				    </ul>
			    </div>
		   	</div>
		   	<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">1、缴费系统提供多缴预存功能。</p>
				<p class="hint_con fz_12">2、请输入缴费金额大于或者等于应缴金额。</p>
		   	</div>
		   	<div class="btn_bg_f2">
				<button class="but_150px but_w" id="preBtn">上一步</button>
				<button class="but_150px but_red" id="nextBtn">下一步</button>
		   	</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('feePayment/telecomFeePayInput');
		</script>
	</body>
</html>