<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>学杂费查询</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
		<style>
			.mui-scroll-wrapper {
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%
			}
	        .mui-scroll{
	        	position: relative;
	        }
			.btn_bg_f2_1{
				width: 100%;
				height: 80px;
				position: fixed;
				top: 40px;
				background: rgba(241,245,248,0.9);
				z-index: 100;
			}
			.infoDiv{
	        	width: 100%;
	        	padding-left: 5px;
				padding-right: 5px;
	        }
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">学杂费查询</h1>
		    </div>
		</header>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="margin-top:20px;display: none;">
			<div class="mui-scroll">
				<div class="content_BOXall hb_cont" >		
					<div class="content_box5px m_top10px">
						<div class="backbox_th2 p_lr10px">
							<ul id="tuitionList">
								
							</ul>
						</div>
	       			</div>
	  			</div>
  			</div>
		</div>
		
		<div class="content_BOXall" id="noContent" style="display: none;">
			<div class="fail_icon1 suc_top7px"></div>
			<p class="fz_15 text_m" id="msgSpan">没有符合条件的记录</p>
		</div>
		
		<nav class="btn_bg_f2_1" id="infoNav" style="display: none;">	
	        <div class="infoDiv">
	           	<ul>
	        		<li class="infoLi">
						<div class="backbox_th m_top10px p_down10px ove_hid" style="margin-top:2px;" id="transTrustQuery">
							<div>
								<p class="m_top5px m_left15px color_6">单位名称:<span class="m_left10px" id="unitNamSpan"></span></p>
							</div>
							<div class="fund_cxlbbg_l">
								<p class="m_top5px m_left15px color_6">学生姓名:<span class="m_left10px" id="studNamSpan"></span></p>
								<p class="m_top5px m_left15px color_6">缴费编号:<span class="m_left10px" id="payNoSpan"></span></p>
							</div>
							<div class="fund_cxlbbg_r">
								<p class="m_top5px color_6">缴费批次:<span class="m_left10px" id="unitNoSpan"></span></p>
								<p class="m_top5px color_6">合计金额:<span class="m_left10px" id="totalSpan"></span>元</p>
							</div>																			
						</div>	
					</li>
	        	</ul>
	        </div>
        </nav>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('feePayment/tuitionPayHistoryList');
		</script>
	</body>
</html>
