<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>多渠道缴费</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title" id="titleSpan"></h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2" id="tipSpan"></p>
			    <ul class="p_lr30px">
		    	    <li>
		    	    	<span class="detail_left">缴费类型</span>
		    	    	<span class="detail_right" id="chargeType"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">缴费地区</span>
		    	    	<span class="detail_right" id="areaCode"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">客户编号</span>
		    	    	<span class="detail_right" id="userNo"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">付款账号</span>
		    	    	<span class="detail_right" id="accountNo"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">欠费金额</span>
		    	    	<span class="detail_right" id="amountShouldBeCharged"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">缴费金额</span>
		    	    	<span class="detail_right" id="amountRealCharged"></span>
		    	    </li>
		        </ul>
		    </div>
		    <div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">密码及验证码</p>
			    </div>
			    <div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul>
				    </ul>
			    </div>
		   	</div>
		   	<div class="but_m20px">
				<button class="but_150px but_w" id="preBtn">上一步</button>
				<button class="but_150px but_red" id="nextBtn" data-checkAuth='true'>下一步</button>
		   	</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script> 
		<script type="text/javascript" src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('feePayment/unionPayConfirm');
		</script>
	</body>
</html>