<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消费-收款记录查询结果</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/app.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
	</head>
	<body>
		<div id="pullrefresh">
			<div class="p_down10px hb_cont">
				<div class="content_box5px m_top10px">
					<div class="backbox_th2">
						<p class="deb_li">
							<span class="deb_left" id="transTimeFooter"></span>
						</p>
						<ul id="conmingRecordUL" class="p_lr10px"></ul>
					</div>
				</div>
			</div>
		</div>
		<div class="content_box5px m_top5px" id="showMsgDiv" hidden>
			<div class="fail_icon1 suc_top7px"></div>
			<p class="fz_15 text_m" id="noResultRecord"></p>
		</div>

		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/consumingResult');
		</script>
	</body>
</html>