<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>扣款顺序</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">扣款顺序</h1>
			</div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="content_box5px">
				<p class="hint_con fz_12 deb_center">系统将根据下列排序扣款</p>
				<div class="backbox_th2 p_lr10px m_top10px" id="cardOrderArea">
					<p class="deb_li">
						<span class="deb_left">扣款账号</span>
						<span class="deb_right">上下拖动</span>
					</p>
					<ul id="rmbAccount"></ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/jquery.dragsort-0.5.2.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/debitList');
		</script>
	</body>
</html>