<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>小额免密</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<div class="pickernew_bg" id="msgPettyBox" style="display: none;">
			<div class="update_box" style="margin-top: 180px;">
		     	<div class="update_tit_bg">
			     	<p class="fz_16">请输入短信验证码</p>
			     	<a id="msgPettyClose"></a>
		     	</div>
		     	<div class="backbox_th_pr p_lr10px" data-security="needAuth">
				    <ul>
					   <!--删除之前配置的密码li与短信li元素-->
				    </ul>
			    </div>
		     	<div class="update_btnbox">
			     	<button class="update_btn" data-checkAuth='true' id="pettyConfirmBt">确&nbsp;&nbsp;定</button>
		     	</div>
		    </div>
		</div>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">小额免密设置</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
					<div class="freepaybox">
						<span class="input_lbg2 qr_freepay">小额免密支付</span>
						<div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt m_top10px" id="pettyImmunitySwitch">
							<div class="mui-switch-handle" id="pttyImmRound"></div>
						</div>
					</div>
					<div class="qr_freepaysumbg" style="display: none;" id="pettyImmunityAmt">
						<p class="freepaysum">
							<span class="freepaysum_l">免密金额</span>
							<span class="freepaysum_r fz_18" id="immunitySetAmt"></span>
						</p>
						<div class="qr_freepaysumbox" id="pettyImmunityAmtBox">
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/freepay');
		</script>
	</body>
</html>