<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>常见问题</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">常见问题</h1>
		    </div>
		</header>
		
		<div class="content_BOXall p_down20px hb_cont">
				<div class="backbox_fo p_lr20px p_top10px word_bg p_down20px">
					<h5 class="color_3 m_top20px">一、如何使用付款？</h5>
					<p class="m_top5px" style="text-indent:2em;">登录湖北银行手机银行，点击生活栏目上方的“付款码”并开启后，向支持银联二维码扫码的商户展示二维码或条形码，商户使用扫码枪或摄像头等设备，快速扫描用户的二维码（或条形码）即可完成交易。</p>
					<h5 class="color_3 m_top20px">二、付款方式</h5>
					<p class="m_top5px" style="text-indent:2em;">二维码支付功能开通后，默认支持手机银行上绑定的所有借记卡进行支付，目前暂不支持信用卡支付。</p>
					<h5 class="color_3 m_top20px">三、扣款规则</h5>
					<p class="m_top5px" style="text-indent:2em;">系统默认按照手机银行绑定卡列表顺序进行扣款，您可在扣款顺序设置中根据您的支付习惯进行扣款顺序设置。</p>
					<h5 class="color_3 m_top20px">四、付款安全</h5>
					<p class="m_top5px" style="text-indent:2em;">1、付款码仅用于当面向商户付款时使用，请勿通过其他途径泄露付款码页面任何信息。</p>
					<p class="m_top5px" style="text-indent:2em;">2、二维码和条形码自动更新，用户也可点击刷新按钮手动刷新，生成的二维码在1分钟之内有效。</p>
					<p class="m_top5px" style="text-indent:2em;">3、系统默认交易需要验证绑定卡交易密码，用户可根据操作习惯开启相应金额的小额免密功能。</p>
					<h5 class="color_3 m_top20px">五、限额管理</h5>
					<p class="m_top5px" style="text-indent:2em;">1、  向银联商家付款的消费限额单笔300元，日累计1000元</p>
					<p class="m_top5px" style="text-indent:2em;">2、  通过扫描收款码转账的单笔限额300元，日累计限额1000元，月累计限额1万元。</p>
					<p class="m_top5px" style="text-indent:2em;">3、通过收款码收款的月累计限额10万元。</p>
				</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('');
		</script>
	</body>
</html>