<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>收款记录详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">收款详情</h1>
			</div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
				<div class="qr_jyxq">
					<div>
						<span class="qr_jyxqlogo">
							<img src="../../img/qr_head.png" />
						</span>
						<span class="color_9 fz_15" id="merNameID"></span>
					</div>
					<p class="qr_jyxqsum fz_28 m_top10px" id="transAmtID"></p>
					<p class="color_9 fz_15 m_top10px" id="transSttID"></p>
				</div>
				<ul class="p_lr30px">
					<li>
						<span class="detail_left">收&nbsp;款&nbsp;方&nbsp;式</span><span class="detail_right" id="recMethodID"></span>
					</li>
					<li>
						<span class="detail_left">转&nbsp;账&nbsp;说&nbsp;明</span><span class="detail_right" id="transExplainID"></span>
					</li>
					<li>
						<span class="detail_left">对&nbsp;方&nbsp;账&nbsp;户</span><span class="detail_right" id="opposingAccID"></span>
					</li>
					<li>
						<span class="detail_left">创&nbsp;建&nbsp;时&nbsp;间</span><span class="detail_right" id="creationTimeID"></span>
					</li>
					<li id="transNoLI" hidden>
						<span class="detail_left">交&nbsp;&nbsp;&nbsp;易&nbsp;&nbsp;&nbsp;号</span><span class="detail_right" id="transNoID"></span>
					</li>
					<li>
						<span class="detail_left">订&nbsp;&nbsp;&nbsp;单&nbsp;&nbsp;&nbsp;号</span><span class="detail_right" id="merOrderNoID"></span>
					</li>
				</ul>
			</div>
		</div>

		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/recPayDetails');
		</script>
	</body>

</html>