<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>被扫</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body id="backGD" style="background: #66a5ce;">
		<div id="bigQrCode" style="display: none;">
			<a>
				<img id="logo" src="../../img/qr-logo.png" style="display: none;"/>
			</a>
		</div>
		
		<div id="barcodeBox" style="display: none;">
			<img id="bigBarcode"/>
			<a id="bigBarcodeNo"></a>
		</div>
		<div class="scanned_bg" id="message">
			<header class="mui-bar mui-bar-nav hb-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">向银联商家付款</h1>
				<a class="nav_qrcode hb-nav" path="../qrcodePay/qrCodeSet.html" id="qrCodeSet" noCheck="false">设置</a>
			</header>
			
			<div class="content_BOXall p_down20px hb_cont">
				<div class="qrcode_box">
					<!--未开启-->
					<div style="text-align: center;display: none;" id="initShow">
						<div class="qr_paylogo3"></div>
						<p class="qrlogoword fz_15 color_9">二维码功能全新上线，欢迎体验</p>
						<div class="qr_posbottom60">
							<button class="qr_but60 but_red" id="open">立即开启</button>
					        <a class="color_b" href="../qrcodePay/qrCommonProblem.html">使用说明</a>
						</div>
					</div>
					<!--开启后-->
					<div style="visibility: hidden;" id="showQrcode">
					    <div class="qrcode_pic1">
							<img id="barcode"/><br />
							<a id="barcodeNo"></a>
						</div>
						<div class="qrcode_pic2" id="qrcode">
							<a>
								<img id="codeico" src="../../img/qr-logo.png" style="display: none;"/>
							</a>
						</div>
						<div class="zhqhbg" id="switch">付款账户<span class="fz_14 m_left10px" id="accountNo"></span><a class="zhqhbg_arrow m_left10px">切换</a></div>
					</div>
				</div>
				<div class="qrcode_boxshw"></div>
				<!--<p class="qr_ts">如付款不成功，请切换其他付款方式</p>-->
				<div class="scanned_linkbox">
					<a class="scanned_link1"><span>付款</span></a>
					<a class="scanned_link2" id="barcScan"><span>扫码</span></a>
					<a class="scanned_link3" id="fresh"><span>刷新</span></a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js" ></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/common/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="../../js/common/JsBarcode.all.js"></script>
		<script type="text/javascript" charset="UTF-8" src="../../js/common/hmac-md5.js"></script>
		<script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-fingerprint.js"></script>
	    <script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-login.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/scannedQRCode');
		</script>
	</body>
</html>
