<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>确认支付-转账</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<style>
			.ctoc_sum {
				display: inline-block;
				width: 100%;
				height: 60px;
				line-height: 80px;
				text-align: center;
				font-size: 26px;
			}
			.ctoc_sum2 {
				display: inline-block;
				width: 100%;
				margin-bottom: 20px;
				text-align: center;
				color: #006CC8;
				font-size: 12px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">支付</h1>
		</header>
		<div class="content_BOXall p_down10px hb_cont" id="noShowDetail" style="display: none;">
			<div class="">
				<div class="warn_icon1 suc_pdtop"></div>
				<p class="fz_15 text_m" id="msg"></p>
			</div>
		</div>
		<div class="content_BOXall hb_cont" id="showDetail" style="display: none;">
			<div class="qrcode_paybg">
				<div class="qr_paylogobox">
					<img class="qr_paylogo" id="qr_paylogo" src="../../img/qr_logo2.png" style="display: none;"/>
					<p class="fz_16 color_6" id="merName" style="display: none;"></p>
					<p class="fz_16 color_6" id="transferInfo" style="display: none;"></p>
					<p class="fz_28 color_red m_top20px" id="transferAmt" style="display: none;"></p>
					<p class="fz_12 color_6 m_top20px" id="recRemark" style="display: none;"></p>
				</div>
				<p class="fz_15 color_6 m_top20px" id="amtName"></p>
				<div class="qr_sumbg m_top10px">
					<div class="qr_sum1 color_red" id="qr_sum1_div" style="display: none;">
						<span class="fz_28 color_red">¥</span><span class="color_red" id="qr_sum1"></span>
						<span class="qr_sum2 fz_through fz_14 color_9" id="qr_sum2" style="display: none;"></span>
					</div>
					<div id="qr_sum3_div" style="display: none;"><input class="qr_sum3" id="qr_sum3" type="number" placeholder="请输入金额" /></div>
					<div class="qr_bzbg"><input type="text" name="description" id="description" maxlength="20" /></div>
				</div>
			</div>
			<img class="qr_bgd" src="../../img/qr_bgd.png" />
			<div class="zhqhbg2" id="switch">付款账户<span class="fz_14 m_left10px" id="accountNo"></span>
				<a class="zhqhbg_arrow m_left10px">切换</a>
			</div>
			<div class="btn_bg_f2 toPay">
				<button class="but_315px but_red" id="toPay"></button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/support.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/core/utils.js" charset="utf-8"></script>
		<script type="text/javascript" charset="UTF-8" src="../../js/common/hmac-md5.js"></script>
		<script type="text/javascript" src="../../js/common/finger/plugin-fingerprint.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../../js/common/finger/plugin-login.js" charset="UTF-8"></script>
		<script type="text/javascript" src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('qrcodePay/sumQRcode');
		</script>
	</body>

</html>