<!--
	作者：suxing
	时间：2017-03-06
	描述：账号维护信息修改页面
-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>账单维护</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../../js/mui.min.js"></script>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/public.css" />	
	</head>

	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">账单维护</h1>
		</header>		
		<div class="main mui-content hb_cont">
			<div class="content_box5px">
			<div class="backbox_th p_lr10px m_top10px">
				    <ul>
					    <li id="changecardNo">
					    	<span class="input_lbg">信用卡卡号</span>
					    	<span class="input_m14px" id="cardNoShow"></span>
					    	<a class="link_rbg"></a>
					    	<input type="hidden" name="" id="cardNo" value=""/>
					    </li>
					    <li id="chooseWay" style="border-bottom: 1px solid #eeeeee;">
						    <span class="input_lbg">账单寄送方式</span>
						    <span class="input_m14px" id="sendWay"></span>
						     <a class="link_rbg"></a>
						    <input type="hidden" name="" id="" value=""/>
						</li>
						
						<div id="paper">
							<ul>
								<!--<li class="b_das" id="province">
							    	<span class="input_lbg">选择邮寄地址</span>
							    	<span class="input_m14px" id="provinceShow"></span>
							    	<a class="link_rbg"></a>
							    	<input type="hidden" name="" id="" value=""/>
							    </li>
							    <li class="b_das" id="city">
							    	<span class="input_lbg">市</span>
							    	<span class="input_m14px" id="cityShow"></span>
							    	<a class="link_rbg"></a>
							    	<input type="hidden" name="" id="" value=""/>
							    </li>
							    <li class="b_das" id="areaCode">
							    	<span class="input_lbg">区</span>
							    	<span class="input_m14px" id="areaCodeShow"></span>
							    	<a class="link_rbg"></a>
							    	<input type="hidden" name="" id="" value=""/>
							    </li>-->
							    <li id="province">
							    	<span class="input_lbg">省市</span>
							    	<span class="input_m14px" id="provinceShow"></span>
							    </li>
							    <li id="address">
							    	<span class="input_lbg">详细地址</span>
							    	<span class="input_m14px" id="addressShow"></span>
							    </li>
							    <li>
							    	<span class="input_lbg">邮政编码</span>				
							    	<span class="input_m14px" id="postalcode"></span>
							    </li>
							</ul>
						</div>
						
						<div id="electronic"  style="display: none;">
							<ul>
								<li >
							    	<span class="input_lbg">输入电子邮箱</span>
							    	<input class="input_m14px" type="email" id="email" value="" placeholder="请输入邮箱"/>
							    </li>
							</ul>
						</div>
						
				    </ul>
			</div>
			</div>
			<!--<div class="selector">
				<ul class='selector-group'>
					<li class='selector-item' id="changeDiv">
						<div class="col-xs-5">
							<span class='selector-key'>选择账号</span>
						</div>
						<div class="col-xs-7">
							<span class="icon mui-icon mui-icon-arrowdown pull-right"></span>
							<p class='selector-control-static' id="accountNo"></p>
						</div>
					</li>
					<li class='selector-item' id="chooseWay">
						<div class="col-xs-7">
							<span class='selector-key'>选择账单寄送方式</span>
						</div>
						<div class="col-xs-5">
							<span class="icon mui-icon mui-icon-arrowdown pull-right"></span>
							<p class='selector-control-static' id="sendWay"></p>
						</div>
					</li>
					
					<!-- 当账单寄送方式选择为纸质时，此div出现
					<div id="paper">
						<ul class='selector-group'>
							<li	class='selector-item' >
								<div class="col-xs-6">
									<span class='selector-key'>选择邮寄地址</span>
								</div>
								<div class="col-xs-6">
									<span class="icon mui-icon mui-icon-arrowdown pull-right"></span>
									<p class='selector-control-static'  id="province"></p>
								</div>
							</li>
							<li	class='selector-item' >	
								<div class="col-xs-6">
									<span class='selector-key'></span>
								</div>
								<div class="col-xs-6">
									<span class="icon mui-icon mui-icon-arrowdown pull-right"></span>
									<p class='selector-control-static' id="city"></p>
								</div>
							</li>
							<li	class='selector-item' >	
								<div class="col-xs-6">
									<span class='selector-key'></span>
								</div>
								<div class="col-xs-6">
									<span class="icon mui-icon mui-icon-arrowdown pull-right"></span>
									<p class='selector-control-static' id="areaCode"></p>
								</div>
							</li>
							<li	class='selector-item' >
								<div class="col-xs-6">
									<span class='label'>输入详细地址</span>
								</div>
								<div class="col-xs-6">
										<input type="text"  class="form-control" id="address">
								</div>
							</li>
							<li	class='selector-item' >
								<div class="col-xs-6">
									<span class='label'>输入邮政编码</span>
								</div>
								<div class="col-xs-6">		
										<input type="text"   class="form-control" id="postalcode">						
								</div>
							</li>
						</ul>
					</div>
					
					<div id="electronic">
						<ul class='selector-group'>
							<li	class='selector-item' >
								<div class="col-xs-5">
									<span class='label' style="padding: 15px 18px 15px 18px;">输入电子邮箱</span>
								</div>
								<div class="col-xs-7">		
										<input type="text"   class="form-control" id="email">						
								</div>
							</li>
						</ul>
					</div>
				</ul>
			</div>-->
			
			
			
			
			
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">操作说明：</p>
				<p class="hint_con fz_12">1、推荐使用电子账单，环保、快捷。</p>
				<p class="hint_con fz_12">2、支持修改电子邮箱，请正确填写电子邮箱，以便您接收电子账单及相关信息。</p>
				<p class="hint_con fz_12">3、支持修改纸质账单地址，请正确填写您的纸质账单地址，确保我行纸质账单能购成功送达。</p>
			</div>
			
			<div class="btn_bg_f2" style="display: none;" id="abc">
				<button class="but_315px but_red" path="accountConfirm.html"  id="accountConfirm" noCheck="true">修改</button>
			</div>
			
			
			
		</div>
		
		<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/Address.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/keyboard/plugin-keyboard.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/accountMaintain');
		</script>
	</body>

</html>