<!--
	作者：苏星
	时间：2017-03-09
	描述：信用卡二级申办与激活(卡片申请，信用卡办理进度)
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>申办与激活</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>  
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">申办与激活</h1>
				<!--<a class="nav_code"></a>-->
		    </div>		    
       </div>
		</header>
		<div class="content_BOXall hb_cont">
		<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
					<ul id="functionDiv">
						<li id="creditCardActivation_Input" path="../creditCard/creditCardActivation_Input.html" noCheck="false">
						    	<p class="public_icon transfer_icon"><img src="../../img/card_KPJH.png" /></p>
					    	    <span>卡片激活</span>
					    	    <a class="link_rbg"></a>
						</li>
						<li id="creditCardActivationRate" path="../creditCard/creditCardActivationRate.html" noCheck="true">
						    	<p class="public_icon transfer_icon"><img src="../../img/card_BKJD.png" /></p>
						    	<span>办卡进度</span>
						    	<a class="link_rbg"></a>
						</li>
			
						
					</ul>
				</div>
			</div>
		</div>
		<!--<div class="content_BOXall p_down66px">
			<div id="headMenu" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active fz_15" id="creditCardActivation_Input" path="../creditCard/creditCardActivation_Input.html" noCheck="false">卡片激活</a>
					<a class="mui-control-item fz_15" id="creditCardActivationRate" path="../creditCard/creditCardActivationRate.html" noCheck="true">办卡进度</a>								
			</div>
       </div>-->
			
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/applicationAndActivation');
		</script>			
	</body>
</html>

