<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">账单分期</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认账单分期信息</p>
					<ul class="p_lr30px">
						<li>
							<span class="detail_left">信用卡卡号</span><span class="detail_right" id="cardNo"></span>
						</li>
						<li>
							<span class="detail_left">办理金额</span><span class="detail_right" id="instalmentAmtShow"></span>
						</li>
						<li>
							<span class="detail_left">分期期数</span><span class="detail_right" id="instalmentTimes"></span>
						</li>
						<li>
							<span class="detail_left">分期费率</span><span class="detail_right" id="instalmentFeeRate"></span>
						</li>
						<li>
							<span class="detail_left">每期手续费</span><span class="detail_right" id="chargeFeeShow"></span>
						</li>
						<li>
							<span class="detail_left">每期应还本金</span><span class="detail_right" id="repayPrincipalShow"></span>
						</li>
						<li>
							<span class="detail_left">分期总手续费</span><span class="detail_right" id="totalAmtShow"></span>
						</li>
					</ul>
			</div>
		</div>
		<div class="btn_bg_f2">
			<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/billInstalment_Confirm');
		</script>
	</body>
</html>