<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>消费分期</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">消费分期</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认分期信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	        <span class="detail_left">信用卡卡号</span><span class="detail_right" id="cardNoShow"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">申请金额</span><span class="detail_right" id="tranAmtShow">元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">申请笔数</span><span class="detail_right" id="FeeNumShow">笔</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期期数</span><span class="detail_right" id="instalmentTimesShow">期</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期费率</span><span class="detail_right" id="instalmentFeeRateShow">%</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">每期应还本金</span><span class="detail_right" id="totalRepayPrincipalShow">元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">每期手续费</span><span class="detail_right" id="totalChargeFeeShow">元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期总手续费</span><span class="detail_right" id="totalFeeShow">元</span>
		    	        </li> 
		       </ul>
		   </div>
		   	<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">手续费率是根据持卡人的资质和我行提供给持卡人的综合服务成本而定，故不同持卡人之间的手续费率可能存在差异，以申请批核的结果为准。</p>
			</div>
		   <div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		   </div>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/dealInstalment_Submit');
		</script>
	</body>
</html>
