<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>消费分期</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">消费分期</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo"> 
			    <ul class="p_lr30px">
		    	        <li style="margin-top: 0;">
		    	    	        <span class="detail_left2 color_6">申请分期金额</span><span class="detail_right2 fz_16_r" id="tranAmtShow"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left2 color_6">包含交易笔数</span><span class="detail_right2 fz_15" id="FeeNum"></span>
		    	        </li>
		       </ul>
		   </div>
		   <div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				<ul>
					<li id="changeinstalmentTimes">
						<span class="input_lbg">分期期数</span>
						<span class="input_m12px" id="instalmentTimesShow"></span>
					    <a class="link_rbg"></a>
					    <input type="hidden" name="instalmentTimes" id="instalmentTimes" value=""/>
					</li>
					<li>
						<span class="input_lbg">分期费率</span><span class="control" id="instalmentFeeRateShow"></span>
						<input type="hidden" name="instalmentFeeRate" id="instalmentFeeRate" value=""/>
					</li>
					<li>
						<span class="input_lbg">每期应还本金</span><span class="control" id="totalRepayPrincipalShow"></span>
						<input type="hidden" name="totalRepayPrincipal" id="totalRepayPrincipal" value=""/>
					</li>
					<li>
						<span class="input_lbg">每期手续费</span><span class="control" id="totalChargeFeeShow"></span>
						<input type="hidden" name="totalChargeFee" id="totalChargeFee" value=""/>
					</li>
					<li>
						<span class="input_lbg">分期总手续费</span><span class="control" id="totalFeeShow"></span>
						<input type="hidden" name="totalFee" id="totalFee" value=""/>
					</li>
					
				</ul>
				</div>
			</div>
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">手续费率是根据持卡人的资质和我行提供给持卡人的综合服务成本而定，故不同持卡人之间的手续费率可能存在差异，以申请批核的结果为准。</p>
			</div>
		   <div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextBtnId">预览分期账单</button>
		   </div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/dealInstalment_Confirm');
		</script>
	</body>
</html>