<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账汇款</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
        <link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<script src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/jquery-1.12.0.min.js"></script>
	</head>
	<body>
		<!-- 内容 -->
		<div class="main_wraper no_margin_bottom">
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				    <ul id="transferMenu">
					    <li id="billInstalment_Input" path="../creditCard/billInstalment_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_ZDFQ.png" /></p>
				    	    <span>账单分期</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="dealInstalment_Input_Menu" path="../creditCard/dealInstalment_Input_Menu.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_XFFQ.png" /></p>
				    	    <span>消费分期</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="drawTransfer_Input" path="../creditCard/drawTransfer_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_YJXJ.png" /></p>
				    	    <span>预借现金</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="instalmentQuery_Input_Menu" path="../creditCard/instalmentQuery_Input_Menu.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_FQCX.png" /></p>
				    	    <span>分期查询</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="realCredit_Input" path="../creditCard/realCredit_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_ZXD.png" /></p>
				    	    <span>臻信贷</span>
				    	    <a class="link_rbg"></a>
					    </li>
				    </ul>
			   	</div>
			</div>
		</div>
	<script src="../../js/common/sea.js"></script>
	<script src="../../js/core/param.js"></script>
	<script type="text/javascript">
		seajs.config({
			base: "../../js/controllers/"
		});
		
		seajs.use('creditCard/installmentCreditMenuInfo_sub');
	</script>
	</body>
</html>