<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>定活互转</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
		<style>
			.mui-scroll-wrapper {
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%
			}		
	        .mui-scroll{
	        	position: relative;
	        }
		</style>
	</head>
	
	<body> 
		<div class="bg_screen content_box5px">
		    <div class="backbox_th p_lr10px">
		    	<ul>
					<li id="changeCardNo">
					    	<span class="input_lbg">信用卡卡号</span>
					    	<span class="input_m14px" id="cardNoShow"></span>
					    	<a class="link_rbg"></a>
					    	<input type="hidden" name="cardNo" id="cardNo" value=""/>
					</li>
					<li id="changeStagesType">
					    	<span class="input_lbg">分期类型</span>
					    	<span class="input_m14px" id="stagesTypeShow"></span>
					    	<a class="link_rbg"></a>
					    	<input type="hidden" name="stagesType" id="stagesType" value=""/>
					</li>
				</ul>
		    	<!--<ul>
					<li id="changeStagesType">
					    	<span class="input_lbg">分期类型</span>
					    	<span class="input_m14px" id="stagesTypeShow"></span>
					    	<a class="link_rbg"></a>
					    	<input type="hidden" name="stagesType" id="stagesType" value=""/>
					</li>
				</ul>-->
				
		    </div>
		</div>
		<div id="pullrefresh" class="mui-scroll-wrapper p_down66px">
		<div class="mui-scroll ">		
		    <div style="margin-top: 120px;">
				<div class="content_box5px">
					
				    <div  id="instalmentList">
			   
				    </div>
				</div>
           </div>
  		</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/core/param.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/instalmentQuery_Input');
		</script>			
	</body>
</html>
