<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡-分期信贷</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">分期查询</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认提前结清信息</p>
					<ul class="p_lr30px">
						<li>
							<span class="detail_left">信用卡卡号</span><span class="detail_right" id="accountNoShow"></span>
						</li>
						<li>
							<span class="detail_left">剩余期数</span><span class="detail_right" id="unReturnTimesShow"></span>
						</li>
						<li>
							<span class="detail_left">剩余本金</span><span class="detail_right" id="amountRealChargedShow"></span>
						</li>
						<li>
							<span class="detail_left">提前结清费用</span><span class="detail_right" id="adv_fee_amtShow"></span>
						</li>
					</ul>
			</div>
		</div>
		<div class="content_box5px p_lr10px box_top15px p_down66px">
			<p class="hint">温馨提示</p>
			<p class="hint_con fz_12">若申请成功，您剩余未偿还期数的手续费和本金将提前纳入同一期账单进行偿还，已扣收的手续费将不予返还，请您留意账单信息并及时还款。</p>
		</div>
		<div class="btn_bg_f2">
			<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/instalmentQuery_Confirm');
		</script>
	</body>
</html>