<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消费分期</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">消费分期</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认分期信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	        <span class="detail_left">信用卡卡号</span><span class="detail_right">6230 **** 4755</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">申请金额</span><span class="detail_right">1,172.00元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">申请笔数</span><span class="detail_right">1笔</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期期数</span><span class="detail_right">3期</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期费率</span><span class="detail_right">0.50%</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">每期应还本金</span><span class="detail_right">263.00元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">每期手续费</span><span class="detail_right">3.95元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">分期总手续费</span><span class="detail_right">11.84元</span>
		    	        </li> 
		       </ul>
		   </div>
		   
		   <div class="content_box5px box_top15px">
				<p class="hint">温馨提示</p>
				<p class="hint_con">手续费率是根据持卡人的资质和我行提供给持卡人的综合服务成本而定，故不同持卡人之间的手续费率可能存在差异，以申请批核的结果为准。</p>
		   </div>
		   <div class="but_m20px">
				<button class="but_150px but_w">上一步</button>
				<button class="but_150px but_red">确&nbsp;&nbsp;定</button>
		   </div>
		</div>	
	</body>
</html>
