<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消费分期</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">消费分期</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall">
			<div class="backbox_fo"> 
			    <ul class="p_lr30px">
		    	        <li style="margin-top: 0;">
		    	    	        <span class="detail_left2 color_6">申请分期金额</span><span class="detail_right2 fz_16_r">¥1,272.00</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left2 color_6">包含交易笔数</span><span class="detail_right2 fz_15">4笔</span>
		    	        </li>
		       </ul>
		   </div>
		   <div class="content_box5px m_top10px p_top1px">
		       <div class="backbox_th p_top1px">
			    	   <div class="bg_gray2 p_lr10px">
			    	      <span>期数</span><span>每期应还</span><span>每期手续费</span>
			    	   </div>
			    	   <div class="spend_box p_lr10px">
			    	   	    <ul>
			    	   		    <li><p class="radio_new"></p><p class="radio_new_on"></p><span class="color_6">2</span><span class="fz_15">¥360.67</span><span>¥7.07</span></li>
			    	   		    <li><p class="radio_new"></p><span class="color_6">3</span><span class="fz_15">¥360.67</span><span>¥7.07</span></li>
			    	   		    <li><p class="radio_new"></p><span class="color_6">6</span><span class="fz_15">¥360.67</span><span>¥7.07</span></li>
			    	   		    <li><p class="radio_new"></p><span class="color_6">10</span><span class="fz_15">¥360.67</span><span>¥7.07</span></li>
			    	   		    <li><p class="radio_new"></p><span class="color_6">12</span><span class="fz_15">¥360.67</span><span>¥7.07</span></li>
			    	   	    </ul>
			    	   </div>
	           </div>
	       </div>
	       <div class="content_box5px box_top15px">
				<p class="hint">温馨提示</p>
				<p class="hint_con">手续费率是根据持卡人的资质和我行提供给持卡人的综合服务成本而定，故不同持卡人之间的手续费率可能存在差异，以申请批核的结果为准。</p>
		   </div>
		   <div class="but_m20px">
				<button class="but_315px but_red">预览分期账单</button>
		   </div>
		</div>
	</body>
</html>
