<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消费分期</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">消费分期</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall">
			<div class="success_icon1 suc_top20"></div>
			<p class="fz_18 text_m">您的消费分期已成功！</p>
			<p class="color_9 text_cen m_top5px">对于多笔同时提交的消费分期申请，<br/>最终申请成功的消费分期交易以分期查询为准。</p>
		</div>
		<div class="but_bottom30px">
				<button class="but_315px but_red but_d10px"> 返回</button>
				<button class="but_315px but_w">查看分期明细</button>
		</div>
		
	</body>
</html>
