<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>定活互转</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />		
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">银联无密闪付</h1>
		    </div>
		</header>
		<div id="pullrefresh" class="mui-scroll-wrapper p_down66px " style="margin-top: 60px;">
		<div class="mui-scroll">		
			<div class="content_box5px">		
				<div id="noPasswordList" class="switchList">
			   
				</div>
			</div>
  		</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/noPasswordLimitSet_Input');
		</script>			
	</body>
</html>
