<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>积分管理-积分查询</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		     	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">积分查询</h1>
		    </div>
		</header>
		<div class="main mui-content hb_cont">
			
			<div class="content_box5px" id="showPointList">
				<!--<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
			    </div>
				<div class="backbox_th p_lr10px" >
					<ul>
						<li class="form-item">
				    	    <div class="col-xs-6"><span class="input_m14px">卡片额度</span></div>
				    	    <span class="input_m14px" id=""></span>
					    </li>
					    <li class="form-item">
				    	    <div class="col-xs-6"><span class="input_m14px">可用额度</span></div>
				    	    <span class="input_m14px" id=""></span>
					    </li>
					    <li class="form-item">
				    	    <div class="col-xs-6"><span class="input_m14px">取现额度</span></div>
				    	    <span class="input_m14px" id=""></span>
					    </li>
					    <li class="form-item">
				    	    <div class="col-xs-6"><span class="input_m14px">可用取现额度</span></div>
				    	    <span class="input_m14px" id=""></span>
					    </li>
					</ul>
			   	</div>-->
			</div>

			
			
			<!--<div class="tip">
				<div class="tip-title">
					温馨提示：
				</div>
				<ul class='tip-group'>
					<li class='tip-item'>1、凡我行发行的有效信用卡，一元有效消费即累积一积分，积分永久有效。</li>
					<li class='tip-item'>2、信用卡消费累积的积分在有效消费入账日的次日生效，发生信用卡退款，将扣除该笔消费的积分。</li>
					<li class='tip-item'>3、具有特殊积分有效期限制的信用卡详见相应信用卡的具体规定。</li>
					<li class='tip-item'>4、营销活动奖励积分有效期以具体活动公告为准。</li>
					<li class='tip-item'>5、持卡人如有下述任一情形：所持信用卡被停用或管制、自行注销信用卡、 违反《湖北银行信用卡领用合约》、《湖北银行信用卡章程》或其他相关规定的，我行有权取消其参加积分奖励活动资格。</li>
				</ul>
			</div>-->
			
			<div class="content_box5px p_lr10px box_top15px">
				<p class="hint">温馨提示：</p>
				<p class="hint_con fz_12">1、凡我行发行的有效信用卡，一元有效消费即累积一积分，积分永久有效。</p>
				<p class="hint_con fz_12">2、信用卡消费累积的积分在有效消费入账日的次日生效，发生信用卡退款，将扣除该笔消费的积分。</p>
				<p class="hint_con fz_12">3、具有特殊积分有效期限制的信用卡详见相应信用卡的具体规定。</p>
				<p class="hint_con fz_12">4、营销活动奖励积分有效期以具体活动公告为准。</p>
				<p class="hint_con fz_12">5、持卡人如有下述任一情形：所持信用卡被停用或管制、自行注销信用卡、 违反《湖北银行信用卡领用合约》、《湖北银行信用卡章程》或其他相关规定的，我行有权取消其参加积分奖励活动资格。</p>
			</div>
			
			<div class="but_m20px but_t16" style="display: none;">
				<button class="but_315px but_red" id="pointQueryBack" noCheck="true">返回</button>
			</div>
			
			
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/pointQuery');
		</script>
	</body>
</html>
