<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">	
		        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
		        <h1 class="mui-title hb-title" id="test">臻信贷</h1>
		</header>
		<div class="mui-content"> 
			<div style="width: 80%;height: 0px; padding-bottom: 55%;margin: 25% auto 0 auto;">
			    <img src="../../img/waiting_pic2.png" style="width: 100%;" />
			</div>  
		
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/controllers/adView/ad_load_html.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			//seajs.use('creditCard/realCredit_Input');
			seajs.use('');
		</script>
	</body>
</html>
