<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">-->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>支付管理</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
        <link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<script src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/jquery-1.12.0.min.js"></script>
	</head>
	<body>
		<!-- 内容 -->
		<div class="main_wraper no_margin_bottom">
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				    <ul id="transferMenu">
					    <li id="thirdPay_Input" path="../creditCard/thirdPay_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_WSZF.png" /></p>
				    	    <span>网上支付设置</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="noPasswordLimitSet_Input" path="../creditCard/noPasswordLimitSet_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_YLWM.png" /></p>
				    	    <span>银联无密闪付</span>
				    	    <a class="link_rbg"></a>
					    </li>
				    </ul>
			   	</div>
			</div>
		</div>
	<script src="../../js/common/sea.js"></script>
	<script src="../../js/core/param.js"></script>
	<script type="text/javascript">
		seajs.config({
			base: "../../js/controllers/"
		});
		
		seajs.use('creditCard/thirdPayMenuInfo_sub');
	</script>
	</body>
</html>