<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>支付管理</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />	
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">网上支付设置</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
		<div class="content_box5px">
			<div class="backbox_th p_lr10px m_top10px">
				<ul>
					<li class="b_das" id="changecardNo">
					    <span class="input_lbg">信用卡卡号</span>
					    <span class="input_m14px" id="cardNoShow"></span>
					     <a class="link_rbg"></a>
					    <input type="hidden" name="cardNo" id="cardNo" value=""/>
					</li>
					<li>
					    <span class="input_lbg">开通状态</span>
					    <div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt" id="status">
						    <div class="mui-switch-handle"></div>
					    </div>
					</li>
				</ul>
			</div>
			<div class="backbox_th p_lr10px" id="changethirdPayLimit" style="display: none;">
				<ul>
					<li style="border-top: 1px #eee solid;">
						<span class="input_lbg">单日限额</span>
						<input class="input_m14px" type="text" placeholder="请输入单日限额" id="thirdPayLimit" value="" maxlength="14"/>
					</li>
					<!--<li>
						<span class="input_lbg">大写金额</span><span class="form-control" id="chineseAmt"></span>
					</li>-->
					
					<li>
						<span class="input_lbg">单笔限额</span>
						<input class="input_m14px" type="text" placeholder="请输入单笔限额" id="onceLimit" value="" maxlength="14"/>
					</li>
					<!--<li>
						<span class="input_lbg">大写金额</span><span class="form-control" id="chineseAmt1"></span>
					</li>-->
				</ul>
			</div>
		</div>
		</div>
		<div class="content_box5px p_lr10px box_top15px p_down66px">
			<p class="hint">温馨提示</p>
			<p class="hint_con fz_12">1、请您在文本框中输入您的单日单笔限额。</p>
			<p class="hint_con fz_12">2、请点击" 开通 "或" 关闭 "来设置第三方支付功能。</p>
		</div>
		<div class="btn_bg_f2" id="nextStepShow">
			<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/thirdPay_Input');
		</script>
	</body>
</html>