<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">本行约定还款</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">确认本行约定还款信息</p>
					<ul class="p_lr30px">
						<li>
							<span class="detail_left">信用卡卡号</span><span class="detail_right" id="recAccount"></span>
						</li>
						<li>
							<span class="detail_left">约定还款类型</span><span class="detail_right" id="transferType"></span>
						</li>
						<li>
							<span class="detail_left">借记卡卡号</span><span class="detail_right" id="payAccount"></span>
						</li>
						<li>
							<span class="detail_left">还款金额类型</span><span class="detail_right" id="payAmountType"></span>
						</li>
					</ul>
			</div>
		</div>
		<div class="but_bottom20px">
			<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/thisAppointRefund_Confirm');
		</script>
	</body>
</html>
