<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">本行主动还款</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
		<div class="content_box5px">
			<div class="backbox_th p_lr10px m_top10px">
				<ul>
					<li class="b_das" id="changeRecAccount">
					    <span class="input_lbg">信用卡卡号</span>
					    <span class="input_m14px" id="recAccountShow"></span>
					     <a class="link_rbg"></a>
					    <input type="hidden" name="recAccount" id="recAccount" value=""/>
					    <input type="hidden" name="accountName" id="accountName" value=""/>
					</li>
					<li>
						<span class="input_lbg">本期应还总额</span><span class="form-control" id="accPayTotalShow"></span>
						<input type="hidden" name="accPayTotal" id="accPayTotal" value=""/>
					</li>
					<li>
						<span class="input_lbg">本期最低还款额</span><span class="form-control" id="accPayMinShow"></span>
						<input type="hidden" name="accPayMin" id="accPayMin" value=""/>
					</li>
					<li id="changePayAccount">
					    <span class="input_lbg">还款账号</span>
					    <span class="input_m14px" id="payAccountShow"></span>
					    <a class="link_rbg"></a>
					    <input type="hidden" name="payAccount" id="payAccount" value=""/>
					</li>
					<li>
						<span class="input_lbg">账户可用余额</span><span class="form-control" id="accBalanceDiv"></span>
					</li>
					<li id="changePayAmountType">
					    <span class="input_lbg">还款金额类型</span>
					    <span class="input_m14px" id="payAmountTypeShow"></span>
					    <a class="link_rbg"></a>
					    <input type="hidden" name="payAmountType" id="payAmountType" value=""/>
					</li>
					<li>
						<span class="input_lbg">还款金额</span>
						<input class="input_m14px" type="text" placeholder="请输入还款金额" id="payAmount" name="payAmount" value="" maxlength="12"/>
					</li>
				</ul>
			</div>
		</div>
		</div>
		<div class="content_box5px p_lr10px box_top15px p_down66px">
			<p class="hint">温馨提示</p>
			<p class="hint_con fz_12">如您已设置约定还款功能（本行约定还款/跨行约定还款），我行将于您账单到期还款日，从您的约定还款账户扣除相应账款。若您在我行扣款发生时主动还款至信用卡，则可能导致还款重复，该部分还款会冲抵您后续的消费或账单应还金额。</p>
		</div>
		<div class="btn_bg_f2">
			<button class="but_315px but_red" id="nextButton">下一步</button>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('creditCard/thisInitiativeRefund_Input');
		</script>
	</body>
</html>
