<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">-->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>信用卡还款</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
        <link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<script src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/jquery-1.12.0.min.js"></script>
	</head>
	<body>
		<!-- 内容 -->
		<div class="main_wraper no_margin_bottom">
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				    <ul id="transferMenu">
					    <li id="thisInitiativeRefund_Input" path="../creditCard/thisInitiativeRefund_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_BHZD.png" /></p>
				    	    <span>本行主动还款</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="thisAppointRefund_Input" path="../creditCard/thisAppointRefund_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/transfer_ico4.png" /></p>
				    	    <span>本行约定还款</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="otherInitiativeRefund_Input" path="../creditCard/otherInitiativeRefund_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/0_card_inter.png" /></p>
				    	    <span>跨行主动还款</span>
				    	    <a class="link_rbg"></a>
					    </li>
					    <li id="otherAppointRefund_Input" path="../creditCard/otherAppointRefund_Input.html" noCheck="true">
					    	<p class="public_icon transfer_icon"><img src="../../img/card_KHYD.png" /></p>
				    	    <span>跨行约定还款</span>
				    	    <a class="link_rbg"></a>
					    </li>
				    </ul>
			   	</div>
			</div>
		</div>
	<script src="../../js/common/sea.js"></script>
	<script src="../../js/core/param.js"></script>
	<script type="text/javascript">
		seajs.config({
			base: "../../js/controllers/"
		});
		
		seajs.use('creditCard/thisInitiativeRefundMenuInfo_sub');
	</script>
	</body>
</html>