<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>循环贷款详情</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">循环贷款详情</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="backbox_fo">
				<ul class="p_lr30px">
					<li>
			    	    <span class="detail_left">借据品种</span>
			    	    <span class="detail_right" id="loanVariety"></span>
				    </li>
					<li>
			    	    <span class="detail_left">贷款账号</span>
			    	    <span class="detail_right" id="loanAccount"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">还款账号</span>
			    	    <span class="detail_right" id="repaymentAccountNo"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">币种</span>
			    	    <span class="detail_right" id="currencyType"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">还款方式</span>
			    	    <span class="detail_right" id="repaymentPattern"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">贷款利率</span>
			    	    <span class="detail_right" id="loanRate"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">贷款起始日</span>
			    	    <span class="detail_right" id="loanDeliverDate"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">贷款到期日</span>
			    	    <span class="detail_right" id="loanExpireDate"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">贷款金额</span>
			    	    <span class="detail_right" id="contractAmt"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">贷款余额</span>
			    	    <span class="detail_right" id="loanBalance"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">已还本金</span>
			    	    <span class="detail_right" id="returnPrincipal"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">经办机构</span>
			    	    <span class="detail_right" id="managOrganization"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">客户经理</span>
			    	    <span class="detail_right" id="customerMaster"></span>
				    </li>
				</ul>
		   	</div>
		   	<div id="buttonArea"></div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('loan/cycleDetailInfo');
		</script>
	</body>
</html>
