<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>还款方式变更确认</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<!--<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />-->
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">还款方式变更确认</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
				<ul class="p_lr30px">
					<li>
					    <span class="detail_left">原还款方式</span>
					    <span class="detail_right" id="oldType"></span>
					</li>
					<li>
					    <span class="detail_left">新还款方式</span>
					    <span class="detail_right" id="newType"></span>
					</li>
					<li>
					    <span class="detail_left">生效日期</span>
					    <span class="detail_right" id="effectDate"></span>
					</li>
				</ul>
			</div>
			<div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">密码及验证码</p>
			    </div>
			    <div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul></ul>
			    </div>
		   </div>
			<div class="but_bottom20px">
				<button class="but_315px but_red" id="confirmButton" data-checkAuth='true'>确&nbsp;&nbsp;定</button>
			</div>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/mui.picker.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<!--初始化构建安全认证页面，密码与短信验证码输入框 以及隐藏域-->   
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript"src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('loan/loanChangeConfirm');
		</script>
	</body>
</html>
