<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>提前还款试算</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<!--<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />-->
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">提前还款试算</h1>
		    </div>
		</header>
		<div class="content_BOXall m_top10px hb_cont">
			<div class="content_box5px">
				<div class="backbox_th p_lr10px">
					<ul>
						<li>
						    <span class="input_lbg">提前还款本金</span>
						    <input class="input_m12px" type="number" id="principal" placeholder="必输项"></input>
						    <p class="input_rmb">元</p>
						</li>
						<li>
						    <span class="input_lbg">金 额 大 写</span>
						    <span class="input_m14px" id="chineseAmt"></span>
						</li>
						<li>
						    <span class="input_lbg">计划还款日</span>
						    <span class="input_m14px" id="planDate"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="but_bottom20px">
				<button class="but_150px but_red" id="trialButton">试&nbsp;&nbsp;算</button>
				<button class="but_150px but_w" id="resetButton">重&nbsp;&nbsp;置</button>
			</div>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/common/mui.picker.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('loan/prepaymentTrial');
		</script>
	</body>
</html>
