<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>还款计划详情</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		     	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">还款计划详情</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo">
				<ul class="p_lr30px">
					<li>
			    	    <span class="detail_left">客户姓名</span>
			    	    <span class="detail_right" id="customerNameCN"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">还款账号</span>
			    	    <span class="detail_right" id="TacitlyrepaymentAccountNo"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还日期</span>
			    	    <span class="detail_right" id="endInterestDate"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还金额</span>
			    	    <span class="detail_right" id="shouldBackAmount"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还本金</span>
			    	    <span class="detail_right" id="shouldBackPrincipal"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还利息</span>
			    	    <span class="detail_right" id="shouldBackInterest"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还罚息</span>
			    	    <span class="detail_right" id="shouldBackFine"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">应还复利</span>
			    	    <span class="detail_right" id="shouldBackFuLi"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">实还金额</span>
			    	    <span class="detail_right" id="realityBackAmount"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">实还本金</span>
			    	    <span class="detail_right" id="realityBackPrincipal"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">实还利息</span>
			    	    <span class="detail_right" id="realityBackInterest"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">实还罚息</span>
			    	    <span class="detail_right" id="realityBackFine"></span>
				    </li>
				    <li>
			    	    <span class="detail_left">实还复利</span>
			    	    <span class="detail_right" id="realityBackFuLi"></span>
				    </li>
				</ul>
		   	</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('loan/repaymentPlanInfo');
		</script>
	</body>
</html>
