<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>认购协议书</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<style>
			.underlines{text-decoration:underline;line-height:30px;}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">认购协议书</h1>
		    </div>
		</header>
		
		<div class="content_BOXall p_down20px hb_cont">
			<!--<div class="content_box5px">-->
				<div class="backbox_fo p_lr20px p_top10px word_bg">
					<p style="text-align: right;">协议编号：_________</p>
					<h5 class="color_3 " style="font-weight: bold;">风险提示：</h5>
					<p class="color_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本理财产品有风险，您应仔细阅读本理财产品协议书条款和对应期次的产品说明书和风险提示，充分认识投资风险，谨慎投资。</p>
					<h5 class="color_3 m_top20px">湖北银行理财产品协议书</h5>
					<p>甲方：_________</p>
					<p>地址：_________</p>
					<p>电话：_________传真：_________联系人：_________</p>
					<p>乙方：（客户名称）_________证件名称:_________</p>
					<p>证件号码：_________</p>
					<p>理财资金账号/卡号：_________</p>
					<p>地址：_________电话：_________</p>
					<h5 class="color_3 m_top20px" style="line-height: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经双方平等友好协商，本着平等自愿、诚实守信的原则，就乙方在甲方购买人民币理财产品的有关事宜达成协议如下：</h5>
					<p class="m_top5px color_3">1、投资币种：人民币</p>
					<p class="m_top5px"><span class="color_3 fz_12">2、投资金额：</span>_________万元；认购产品名称：_________；认购产品期次：_________期；认购产品代码:_________。</p>
					<p class="m_top5px"><span class="color_3 fz_12">3、投资品种：</span>本理财产品投资对象已在对应期次的产品说明书和风险提示中载明。</p>
					<p class="m_top5px"><span class="color_3 fz_12">4、投资金额：</span>起点金额 5 万元人民币,以 1000 元的整数倍递增。</p>
					<p class="m_top5px"><span class="color_3 fz_12">5、收益支付的方式：</span>本理财产品从_____年_____月_____日起，至_____年_____月_____日止，按约定一次性兑付本金和理财收益。</p>
					<p class="m_top5px"><span class="color_3 fz_12">6、税收条款：</span>对理财收益引起的税收，除法律法规另有规定外，甲方不代扣代缴。</p>
					<p class="m_top5px color_3">7、甲方的权利与义务</p>
					<p>•&nbsp;&nbsp;甲方必须恪尽职守、履行勤勉尽责、诚实守信、有效管理的义务。</p>
					<p>•&nbsp;&nbsp;在本协议约定的投资范围和权限内，甲方拥有管理和运用理财资金的权利。</p>
					<p>•&nbsp;&nbsp;账单服务：本理财产品不提供账单。</p>
					<p>•&nbsp;&nbsp;协议期满，甲方须按协议约定事项向乙方兑付相应理财本金及收益。</p>
					<p class="m_top5px color_3">8、 乙方的权利与义务</p>
					<p>•&nbsp;&nbsp;乙方必须保证其理财资金为合法拥有并具有完全处分权的资金。乙方按理财合同约定享受权利，承担义务和风险。</p>
					<p>•&nbsp;&nbsp;在本理财产品到期后，乙方须携带本人有效身份证件等相关文件兑取相应理财本金及收益。若委托他人代理兑取，代理人须按甲方要求出示本人及委托人有效身份证件及其他文件。</p>
					<p>•&nbsp;&nbsp;协议期内，本期理财产品不得转让流通。乙方凭本理财产品协议书不可在甲方各营业网点办理质押贷款，也不可以开具存款证明。</p>
					<p class="m_top5px">9、本协议与对应期次的产品说明书和风险提示为不可分割的理财合同。乙方签署本协议则被视为已详细阅读协议条款及对应期次产品说明书和风险提示。</p>
					<p>以下划线部分，请乙方抄录确认：<span class="underlines" >本人已仔细阅读本协议及对应期次的产品说明书和风险提示，充分了解并清楚知晓本产品的风险，自愿购买本产品并愿意承担相关风险。</span></p>
					<p>乙方抄录：________________________________________________。</p>
					<p class="m_top5px"><span class="color_3 fz_12">10、乙方声明：</span>在签署本产品协议书以前，甲方已就本产品协议书及有关交易文件的全部条款和内容向乙方进行了详细的说明和解释，乙方已认真阅读本产品协议条款及对应期次产品说明书和风险提示，对有关条款不存在任何疑问或异议，并对协议双方的权利、义务、责任与风险有清楚和准确的理解。</p>
					<p class="m_top5px color_3">11、特别提示</p>
					<p>本理财产品将按本协议约定兑取相应本金及收益，逾期兑取不加计任何收益或利息。</p>
					<p>甲方为湖北银行股份有限公司下属机构，负责本理财产品在甲方所在地的发售。</p>
					<p class="m_top5px color_3">12、争议处理</p>
					<p>本协议履行过程中所发生的一切争议，双方应本着诚实守信原则友好协商解决，如协商未果，可提请甲方所在地人民法院解决。</p>
					<p class="m_top5px color_3">13、协议的生效和终止</p>
					<p>•&nbsp;&nbsp;本协议在乙方签字、甲方盖章后立即生效。</p>
					<p>•&nbsp;&nbsp;理财产品到期后，本协议自动终止。</p>
					<p>•&nbsp;&nbsp;本协议一式两份，甲乙双方各执一份，具有同等法律效力。</p>
					<p>甲方（盖章）：</p>
					<p>理财人员（签章）：</p>
					<p>经办柜员（签章）：</p>
					<p>签约日期：_____年_____月_____日</p>
					<p>乙方（签字）：</p>
					<p class="p_down20px">签约日期：_____年_____月_____日</p>
				</div>
			<!--</div>-->
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('');
		</script>
	</body>
</html>
