<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财产品详情</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	<style>
	.mui-segmented-control.mui-scroll-wrapper{
		height: 42px;
	}
	.mui-segmented-control.mui-segmented-control-inverted{
		padding-top: 0;
	}
	.mui-segmented-control.mui-scroll-wrapper .mui-scroll{
		height: 40px;
		margin-top: 2px;
	}
	.mui-segmented-control .mui-control-item{
		line-height: 38px;
	}
	.mui-segmented-control-inverted .mui-scroll .mui-control-item{
		/*border-left: 1px solid #ddd;*/
	}
	.mui-segmented-control-inverted .mui-scroll .mui-control-item:first-child{
		border: none;
	}
	.mui-scroll-wrapper.mui-slider-indicator.mui-segmented-control.mui-segmented-control-inverted .mui-scroll .mui-control-item.mui-active{
		border-bottom: 2px solid #CF155C;
	}
	.mui-slider-item{
		background: none;
	}
	.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
		border-top:0;
		border-bottom:0;
	}
	.mui-table-view:after {
		height: 0px;
	}
	.mui-table-view:before {
		height: 0px;
	}
	.lineheight20{
		line-height: 20px;
	}
	</style>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">我的理财产品</h1>
				<a class="nav_qrcode hb-nav" id="productInfo" noCheck="true">信息披露</a>
		    </div>
		</header>
		<!-- 未签约 -->
		<div id="noRisk" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="m_top5px color_6">尊敬的客户，您尚未进行过理财风险评估，请到柜台进行首次风险评估！</p>
				</div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack1">返&nbsp;&nbsp;回</button>
			</div>
		</div>
		 <!-- 风险评估过期 -->
		<div id="obsolete" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="fz_16">您的风险评估等级已过期</p>
					<p class="m_top5px color_6">根据相关规定，再次购买理财产品时，应当在我行网点或网上银行重新进行风险承受能力评估。谢谢！</p>
				</div>
				<div class="backbox_fo">
				    <ul class="p_lr20px">
		    	        <li>
	    	    	        <span class="detail_left">客户风险等级</span>
	    	    	        <span class="detail_right" id="failcusriskLevel"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">风险评估到期日</span>
	    	    	        <span class="detail_right" id="failriskendDate"></span>
		    	        </li>
			       </ul>
			   </div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack2">返&nbsp;&nbsp;回</button>
				<button class="but_315px but_w" id="gotoRisk1">重新评估</button>
			</div>
		</div>
		<!-- 产品风险比客户风险大 -->
		<div id="higherRisk" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="m_top5px color_6">尊敬的客户，经我行风险偏好评估，您的风险偏好评估不适宜购买本产品！</p>
				</div>
				<div class="backbox_fo">
				    <ul class="p_lr20px">
		    	        <li>
	    	    	        <span class="detail_left">客户风险等级</span>
	    	    	        <span class="detail_right" id="highercusriskLevel"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">风险评估到期日</span>
	    	    	        <span class="detail_right" id="higherriskendDate"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">产品风险等级</span>
	    	    	        <span class="detail_right" id="higherproRiskLevel"></span>
		    	        </li>
			       </ul>
			   </div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack3">返&nbsp;&nbsp;回</button>
				<button class="but_315px but_w" id="gotoRisk2">重新评估</button>
			</div>
		</div>
		<div class="content_BOXall p_down66px hb_cont" id="productList">
			<div class="finpro_topbg">
				<p class="p_top20px fz_16">
					<span id="productName" class="color_6"></span>
				</p>
				<p class="m_top10px">
					<span class="fz_28" id="transferSum"></span>
				</p>	
				<div class="fz_14 color_6">持有金额</div>
				<div class="finpro_topbox">
				    <ul>
				    	<li>
				    		<span class="fz_16">无固定</span><br/>
				    		<span class="fz_14 color_6">投资期限</span>
				    	<li>
				    		<span class="fz_17" id="profitRate"></span><br/>
				    		<span class="fz_14 color_6">预期收益</span>
				    	</li>
				    </ul>
		     	</div>
			</div>
	        <!--<ul class="sum_bg_open">
	        	<li>
	        		<p class="fin_tit_detail_open" id="productName"></p>
	        	</li>
	        	<li style="text-align: center;">
	        		<p id="profitRate" class="fz_30"></p>
	        		<p style="line-height: 30px;">预期收益</p>
	        	</li>
	        	<li class="detail_day_open">
	        		<p>无固定</p>
	        		<p class="color_6 fz_12">投资期限</p>
	        	</li>
	        	<li class="detail_money_open">
	        		<p id="transferSum"></p>
	        		<p class="color_6 fz_12">持有金额</p>
	        	</li>
	        </ul>-->
			<div class="m_top10px" id="chartDiv">
				<div class="backbox_th">
					<div class="fin_zst_tab">
						<p>当前阶段利率(%)</p>
					</div>
					<div class="fund_zst_picbg">
						<div id="productChart">
						</div>
					</div>
					<div id="sliderTitle" class="fin_zst_tab" style="display: none;">
						<p>历史变更</p>
					</div>
					<div id="slider" class="mui-slider p_down10px" style="display: none;">
						<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="border: none;">
							<div class="mui-scroll" id="tranDateTitle">	
								<a class="mui-control-item" href="#item0"></a>
								<a class="mui-control-item" href="#item1"></a>
							</div>
						</div>
						<div class="mui-slider-group"  id="tranDateContent">
							<div id="item0" class="mui-slider-item mui-control-content"></div>
							<div id="item1" class="mui-slider-item mui-control-content"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="m_top10px">
			    <div class="backbox_fo">
				    <ul class="p_lr30px">
			    	    <li>
			    	    	<span class="detail_left">起息日</span>
			    	    	<span class="detail_right" id="interestBeginDate"></span>
			    	    </li>
			    	    <li>
			    	    	<span class="detail_left">到期日</span>
			    	    	<span class="detail_right" id="interestEndDate"></span>
			    	    </li>
			       	</ul>
		   		</div>
			</div>
		   	<div class="btn_bg_f2">
				<button class="but_150px but_red" id="redem" disabled="disabled">赎回</button>
				<button class="but_150px but_red" id="nextButton">追加</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/echarts.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/ownOpenProductDetail');
		</script>
	</body>
</html>
