<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财超市</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav top_z_index hb-header">
			<div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">理财超市</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="mui-slider-item p_td5px market_top banner_bg_boxshw">
				<ul class="main_menu_ul main_w33">
				    <li id="myProductQuery" path="../productList/myProductQuery.html" noCheck="false"><a><span class="main_icon product_my"></span><br><p class="color_6">我的理财</p></a></li>
					<li id="transferQuery" path="../productList/transactionQuery.html" noCheck="false"><a><span class="main_icon product_soso"></span><br><p class="color_6">交易查询</p></a></li>
					<li id="riskAssessment" path="../productList/riskAssessment.html" noCheck="false"><a><span class="main_icon product_risk"></span><br><p class="color_6">风险评估</p></a></li>
				</ul>
	        </div>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productMarket');
		</script>
	</body>
</html>
