<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财交易结果</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<h1 class="mui-title hb-title">理财购买</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">交易成功！</p>
		</div>
		<div class="backbox_fo p_lr30px suc_top40px p_top20px suc_lc">
			<p class="suc_lc1">
				<span class="suc_lcicon1"></span>
				<span>认购申请成功</span>
			</p>
			<p class="suc_lc1">
				<span class="suc_lcicon1"></span>
				<span>资金冻结</span><br />
				<span class="color_9 m_left10px"></span>
			</p>
			<p class="suc_lc1">
				<span class="suc_lcicon2"></span>
				<span>扣划申购资金、开始计算收益</span><br />
				<span class="color_9 m_left10px"></span>
			</p>		
		</div>
		<div class="but_bottom20px">
			<button class="but_315px but_red but_d10px" id="productMarket">返回理财产品</button>
			<!--<button class="but_315px but_red " id="lottery" style="display:none;">去抽奖</button>-->
			<button class="but_315px but_w" id="myProductQuery">我的理财</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productBuyResult');
		</script>		
	</body>
</html>
