<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>产品赎回结果</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<h1 class="mui-title hb-title">产品赎回结果</h1>
		    </div>
		</header>
		<div class="content_BOXall">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">交易成功！</p>
		</div>
			<div class="backbox_fo p_lr30px suc_top40px p_top20px suc_lc">
			<p class="suc_lc1">
				<span class="suc_lcicon1"></span>
				<span>赎回申请成功</span>
			</p>
			<p class="suc_lc1">
				<span class="suc_lcicon2" id="step2"></span>
				<span>赎回本金到账</span><br />
				<span class="color_9 m_left10px"></span>
			</p>
			<p class="suc_lc1">
				<span class="suc_lcicon2" id="step3"></span>
				<span>收益到账</span><br />
				<span class="color_9 m_left10px"></span>
			</p>		
		</div>
		<div class="btn_bg_f2" id="buttonArea">
			<!--<button class="but_150px but_red" id="transactionQuery">当日委托查询</button>
			<button class="but_150px but_red" id="myProductQuery">返回我的理财</button>-->
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productRedemResult');
		</script>		
	</body>
</html>
