<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财交易信息录入</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/app.css" type="text/css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">理财购买</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down140px hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">填写购买信息</p>
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
				    	<li>
				    	    <p>
				    	    	<span class="input_lbg">产品代码</span>
				    	        <span class="input_m14px" id="productNo"></span>
				    	    </p>   
					    </li>
					    <li id="changeAccount">
				    	    <span class="input_lbg">付款账户</span>
				    	    <span class="input_m14px" id="accountNo"></span>
				    	    <a class="link_rbg_f_d"></a>
					    </li>
					    <li>
				    	    <p>
				    	    	<span class="input_lbg">可用余额</span>
				    	        <span class="input_m12px" id="balance"></span>元
				    	    </p>   
					    </li>
					    <li>
					    	<span class="input_lbg">购买金额</span>
				    	    <input class="input_m12px" type="number" id="buyAmount" placeholder=""></input>
				    	    <p class="input_rmb">元</p>
					    </li>
					    <li>
				    	    <span class="input_lbg">推荐人编号</span>
				    	    <input class="input_m14px" type="number" id="managerCode" placeholder="非必输"></input>
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="agreement_bg">
			    <a class="fz_12 color_b" id="bookAndRiskNote" style="line-height: 28px;">《产品说明书及风险提示书》</a><br/>
			    <a class="fz_12 color_b" id="financingBuyProto" style="line-height: 36px;">《理财产品认购协议书》</a>
			    <a class="fz_12 color_b" id="customerEquity" style="line-height: 36px;">《客户权益须知》</a>
		    </div>
			<!--<div class="mui-card">
				<form class="mui-input-group">
					<div class="mui-input-row mui-checkbox mui-left">
						<label>我已阅读并同意以上协议</label>
						<input name="checkbox" type="checkbox" id="agreement" checked>
					</div>
				</form>
			</div>-->
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextButton">阅读并同意以上协议，购买</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productBuy');
		</script>
	</body>
</html>
