<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财产品详情</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">产品详情</h1>
		    </div>
		</header>
		<!-- 未签约 -->
		<div id="noRisk" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="m_top5px color_6">尊敬的客户，您尚未进行过理财风险评估，请到柜台进行首次风险评估！</p>
				</div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack1">返&nbsp;&nbsp;回</button>
			</div>
		</div>
		 <!-- 风险评估过期 -->
		<div id="obsolete" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="fz_16">您的风险评估等级已过期</p>
					<p class="m_top5px color_6">根据相关规定，再次购买理财产品时，应当在我行网点或网上银行重新进行风险承受能力评估。谢谢！</p>
				</div>
				<div class="backbox_fo">
				    <ul class="p_lr20px">
		    	        <li>
	    	    	        <span class="detail_left">客户风险等级</span>
	    	    	        <span class="detail_right" id="failcusriskLevel"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">风险评估到期日</span>
	    	    	        <span class="detail_right" id="failriskendDate"></span>
		    	        </li>
			       </ul>
			   </div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack2">返&nbsp;&nbsp;回</button>
				<button class="but_315px but_w" id="gotoRisk1">重新评估</button>
			</div>
		</div>
		<!-- 产品风险比客户风险大 -->
		<div id="higherRisk" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div style="width:80%;padding: 30px 0 30px 0;margin: 0 auto;text-align: center;">
					<p class="m_top5px color_6">尊敬的客户，经我行风险偏好评估，您的风险偏好评估不适宜购买本产品！</p>
				</div>
				<div class="backbox_fo">
				    <ul class="p_lr20px">
		    	        <li>
	    	    	        <span class="detail_left">客户风险等级</span>
	    	    	        <span class="detail_right" id="highercusriskLevel"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">风险评估到期日</span>
	    	    	        <span class="detail_right" id="higherriskendDate"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">产品风险等级</span>
	    	    	        <span class="detail_right" id="higherproRiskLevel"></span>
		    	        </li>
			       </ul>
			   </div>
			</div>
			<div class="but_m20px but_t16">
				<button class="but_315px but_red but_d10px" id="turnBack3">返&nbsp;&nbsp;回</button>
				<button class="but_315px but_w" id="gotoRisk2">重新评估</button>
			</div>
		</div>
		<!--理财产品详情-->
		<div class="content_BOXall p_down66px hb_cont" id="productList">
	        	<ul class="sum_bg">
	        		<li>
	        			<p class="fin_tit_detail" id="productName"></p>
	        		</li>
	        		<li class="detail_day">
	        			<p id="projDeadLine"></p>
	        			<p class="color_6 fz_12">投资期限</p>
	        		</li>
	        		<li class="detail_percent">
	        			<p class="color_red fz_18" id="profitRate"></p>
	        			<p class="color_6 fz_12">预期年化收益率</p>
	        		</li>
	        		<li class="detail_money">
	        			<p id="startAmount"></p>
	        			<p class="color_6 fz_12">起购金额</p>
	        		</li>
	        	</ul>
			<div class="backbox_fo border_top_red">
				<ul class="p_lr30px">
					<li>
			    	    <span class="detail_left">产品代码</span>
			    	    <span class="detail_right" id="productNo"></span>
					</li>
					<li>
			    	    <span class="detail_left">募集开始</span>
			    	    <span class="detail_right" id="beginDate"></span>
					</li>
					<li>
			    	    <span class="detail_left">募集结束</span>
			    	    <span class="detail_right" id="endDate"></span>
					</li>
					<li>
			    	    <span class="detail_left">起息日</span>
			    	    <span class="detail_right" id="interestBeginDate"></span>
					</li>
					<li>
			    	    <span class="detail_left">到期日</span>
			    	    <span class="detail_right" id="interestEndDate"></span>
					</li>
					<li>
			    	    <span class="detail_left">递增金额</span>
			    	    <span class="detail_right" id="minAppendAmt"></span>
					</li>
					<li>
			    	    <span class="detail_left">风险等级</span>
			    	    <span class="detail_right" id="proRiskLevel"></span>
					</li>
				</ul>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextButton">预&nbsp;&nbsp;约</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productDetail');
		</script>
	</body>
</html>
