<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>理财超市</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<style type="text/css">
		.hot_sell_p,.hot_end{
			width: 60px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			color: #fff;
			border-radius: 20px;
			-webkit-border-radius: 20px;
			position: absolute;
			top:12px;
			right: 10px;
		}
		</style>
	</head>
	<body>
        <div id="pullrefresh" class="mui-scroll-wrapper">
			<div class="content_box5px m_top5px">
		       <div id="fiancingProduct"></div>
			</div>
		</div>
		<div class="content_box5px m_top5px" id="showMsgDiv" style="display: none;">
			<div class="productlist_icon suc_top7px"></div>
			<p class="fz_15 color_6 text_m">一大波产品正在路上!</p>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/productBuyList');
		</script>
		
	</body>
</html>
