<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>风险评估</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">风险评估</h1>
		    </div>
		</header>
		<div id="noRisk" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div class="fail_icon1 suc_top7px"></div>
				<p class="p_lr10px">对不起，尊敬的客户，您尚未进行过理财风险评估，请到柜台进行首次风险评估！</p>
			</div>
		</div>
		<div id="noRiskInterval" style="display: none;">
			<div class="content_BOXall hb_cont">
				<div class="fail_icon1 suc_top7px"></div>
				<p class="p_lr10px">对不起,尊敬的客户,请您在等一个小时再来评估！</p>
			</div>
		</div>
		<div id="mainDiv" class="content_BOXall p_down20px hb_cont" style="display: none;">
			<div class="backbox_fo p_lr20px p_top10px word_bg">
				<div id="noticediv" class="content_box5px">
					<p style="font-weight: bold;">尊敬的客户：</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在您向本行申请任何理财投资产品前，请根据您的实际情况填写此评估问卷。以下10个问题将根据您的财务状况、投资经验、投资目的、投资风格、风险偏好和风险承受能力等对您进行风险评估，我们将根据评估结果协助您选择合适的投资理财产品类别。请您认真作答，我行承诺对您填写的资料保密，感谢您的配合！（每个问题请选择唯一选项，不可多选）</p>
				    <p style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意：以下情况的客户在再次购买投资理财产品时，请在我行网点或网站完成风险承受能力持续评估。</p>
				    <p>1、超过一年未进行风险承受能力持续评估的客户</p>
				    <p>2、最近一年内自身风险承受能力显著变化的客户</p>
				</div>
				<div id="questionListTable" class="content_box5px">
					<div style="padding-top: 10px;">
						<p>一、您目前所处的年龄阶段是？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、65岁以上</label>
							<input name="radio1" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、45-65岁</label>
							<input name="radio1" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、25岁以下</label>
							<input name="radio1" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、25－45岁</label>
							<input name="radio1" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>二、您的家庭年收入为(折合人民币)？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、5万元以下</label>
							<input name="radio2" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、5万至10万</label>
							<input name="radio2" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、10万至20万</label>
							<input name="radio2" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、20万以上</label>
							<input name="radio2" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>三、以下哪项最能说明您的投资经验？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、除存款国债外，几乎不投资其他金融产品</label>
							<input name="radio3" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、大部分投资于存款、国债，较少部分投资于股票、基金等风险较大产品</label>
							<input name="radio3" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、资产均衡分布于存款、国债、银行理财产品、信托产品、股票、基金等</label>
							<input name="radio3" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、大部分投资于股票、基金、外汇等高风险产品，较少投资于存款、国债</label>
							<input name="radio3" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>四、您投资的目的是希望？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、资产保值</label>
							<input name="radio4" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、资产稳健增长</label>
							<input name="radio4" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、资产快速增长</label>
							<input name="radio4" type="radio" value="3">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>五、您期望的投资理财回报是？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、跟银行定期存款利率大体相同</label>
							<input name="radio5" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、比定期存款利率稍高</label>
							<input name="radio5" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、获得一定的投资回报</label>
							<input name="radio5" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、获得高额投资回报</label>
							<input name="radio5" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>六、您是否会为寻求价格涨跌刺激而进行大额风险投资？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、从不</label>
							<input name="radio6" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、极少</label>
							<input name="radio6" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、比较少</label>
							<input name="radio6" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、频繁</label>
							<input name="radio6" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>七、您在产品持有期内是否赎回产品的需求？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、有</label>
							<input name="radio7" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、不确定</label>
							<input name="radio7" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、没有</label>
							<input name="radio7" type="radio" value="3">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>八、您有多少年投资股票、基金、金融衍生产品等风险投资品的经验？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、没有经验</label>
							<input name="radio8" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、少于2年</label>
							<input name="radio8" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、2至5年</label>
							<input name="radio8" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、5年以上</label>
							<input name="radio8" type="radio" value="4">
						</div>
					</div>
					<div style="padding-top: 10px;">
						<p>九、对于非保本理财产品，银行不承诺保证本金和收益安全， 您可能在产品到期收回本金并拿到收益，也可能无法获得任何收益且无法收回全部或部分本金。对上述情况您是否了解并接受？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、完全不能接受本金及收益损失</label>
							<input name="radio9" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、只能接受本金无损失</label>
							<input name="radio9" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、只能接受本金10%的亏损</label>
							<input name="radio9" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、能够理解并完全接受</label>
							<input name="radio9" type="radio" value="4">
						</div>
					</div>
					<div style="padding: 10px 0 20px 0;">
						<p>十、当您购买的投资理财产品价值出现负收益时，您的反映是？</p>
						<div class="mui-input-row mui-radio mui-left">
							<label>1、明显焦虑</label>
							<input name="radio10" type="radio" value="1">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>2、稍有焦虑</label>
							<input name="radio10" type="radio" value="2">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>3、可以接受</label>
							<input name="radio10" type="radio" value="3">
						</div>
						<div class="mui-input-row mui-radio mui-left">
							<label>4、无所谓</label>
							<input name="radio10" type="radio" value="4">
						</div>
					</div>
				</div>
			</div>
			<div class="but_m20px" id="risebut">
				<button class="but_150px but_red but_d10px" id="confirmButton">确&nbsp;&nbsp;定</button>
				<button class="but_150px but_w" id="resetButton">重&nbsp;&nbsp;置</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('productList/riskAssessment');
		</script>
	</body>
</html>
