<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网点查询</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bmap.css"/>
		
	</head>

	<body class="white" id="body">
		<header class="mui-bar mui-bar-nav top_z_index hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">网点</h1>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="mui-content">
				<div class="p-relative">
					<div class="net3-cont-height" id="allmap"></div>
					<div class="net3-cont-height" id="container"></div>
				</div>
			<div class="white gps_bg_down" id="bankTitle_div">
			    
			</div>	
			<div class="white net2-distance">
			<div class="white net2-detail">
			</div>
		</div>
		<!--百度API-离线地图V1.3-->
		<script src="../../js/controllers/branch/apiv1.3.min.js" type="text/javascript" charset="utf-8"></script>
		<!--百度API-V2.0-->
		<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Zfi87eVWgpYrxw8aux32TTXz7EuSKWuD"></script>-->
		<!--<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>-->
		<!--高德API-->
		<!--<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=e194ac2e17806ca8b45cd7c9f4d6ac49&plugin=AMap.Aoutocomplete"></script>-->
		<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/base.js"></script>
		<script src="../../js/common/jquery.touchwipe.min.js"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<!--<style type="text/css">
			body,html,#allmap{
				width: 100%;
				height: 100%;
				overflow: hidden;
				margin: 0;
				font-family: "微软雅黑";
			}
		</style>-->
		<script>
			jQuery(document).ready(function() {
				jQuery(".net3-cont-height").css("height", $(window).height() - jQuery(".net2-distance").height() - jQuery(".net2-detail").height() - parseInt(jQuery(".net2-detail").css("padding-top")) * 2 - 8);
			})
		</script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('branch/allBranchesMap');
		</script>
	</body>

</html>