<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的网点</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />
		<style>
			.mui-scroll-wrapper {
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%
			}		
	        .mui-scroll{
	        	position: relative;
	        }
		</style>
	</head>
	<body>
		<div class="position_top_b">
			<div class="bra_sosobg">
				<div class="searchDiv content_box5px">
                    <p><input class="fz_12" type="text" name="branchName" id="branchName" value="" placeholder="请输入网点名称" /></p>
                    <a id="searchButton" onclick=""><img src="../../img/soso.png" /></a>
               </div>	
			</div>
            <div class="bra_choosebg">
				<a id="nearLimit_a"><span class="fz_15 color_red"  id="nearLimit">我的附近</span><span class="bra_d"/></a>
				<a id="cityName_a"><span class="fz_15"  id="cityName">全部区域</span><span class="bra_d"/><input type="hidden" name="cityCode" id="cityCode" value="" /></a>
				<!--<a id="cityName_a"  data-value="420,10,0"><span class="fz_15" id="cityName">全部区域</span><input type="hidden" name="cityCode" id="cityCode" value="" /><span class="bra_d"/></a>-->
				<a id="type_a"><span class="fz_15"  id="type">类型</span></span><span class="bra_d"/></a>
			</div>
		</div>	
		<div id="pullrefresh" class="mui-scroll-wrapper" style="margin-top: 114px;">
			<div class="mui-scroll" > 
				<!--<div class="content_box5px m_top5px" id="showMsgDiv" style="display: block;">你好</div>-->
				<div class="content_box5px m_top5px" style="" id="branchesList">
					<!--<ul class="backbox_one m_top10px ove_hid">
						<li>
							<p class="bra_tit fz_15">万豪水岸枫林<span class="bra_tit_icon">ATM</span></p>
							<p class="distance_nb fz_15">0m</p>
							<a class="link_rbg link_t30px" style="color: #539BFF;"></a>
						</li>
						<li class="money_box">
							<p class="pub_li_left m_left10px color_9">江夏区藏龙岛科技园</p>
							<p class="pub_li_right_branch m_right10px" style="color: #539BFF;">详情</p>
						</li>
						<li class="pub_btnbox">
							<a class="bra_word1" onclick="daohang()"><span class="pub_btnicon pub_btnimg1"></span>导航</a>-->
							<!--<a class="bra_word1"><span class="pub_btnicon pub_btnimg2"></span>电话</a>-->
							<!--ATM电话为空时电话按钮变灰-->
							<!--<p class="pub_btnbox_p bra_word2"><span class="pub_btnicon pub_btnimg2_1"></span>电话</p>
						</li>
					</ul>-->
				</div>
			</div>
		</div>
		<div class="content_box5px m_top130px" id="showMsgDiv" style="display: none;"></div>
		<div id="allmap"></div>
		<!--坐标转换-->
		<!--<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>--> 
		<!--百度API-离线地图V1.3-->
		<script src="../../js/controllers/branch/apiv1.3.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Zfi87eVWgpYrxw8aux32TTXz7EuSKWuD"></script>-->
		<!--<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>-->
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
        <script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers"
			});
			seajs.use('branch/branchesList');
		</script>
	</body>
</html>