<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的网点</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav top_z_index hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">网点</h1>
			<a class="nav_code3 hb-title" id="allBrancesMap" path="../branch/allBranchesMap.html" onCheck="true"></a>
		</header>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
        <script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers"
			});
			seajs.use('branch/branches');
		</script>
	</body>
</html>