<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的票券</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<div id="pullrefresh" class="mui-scroll-wrapper">
	    	<div class="mui-scroll">		
		    	<div class="content_box5px" id="allBonds">
				<!--<ul class="backbox_th h_90px border_y m_top10px">
					<li class="bond_bg_sing_y"></li>
					<li class="bond_Lbox">
						<p class="bond_icon">抵用券</p>
						<p class="fz_16_r">¥<span class="fz_28 color_red">50</span></p>
					</li>
					<li class="bond_Rbox m_left15px">
						<p class="fz_16" style="float:left">用车</p>
						<p class="new_ico m_top1px"></p>
						<p class="color_6" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:85%;">国内租车券最高减50元</p>
						<p class="fz_12 color_9 m_top10px">有效期：2017-01-10</p>
					</li>
				</ul>
				<ul class="backbox_th h_90px border_gray m_top10px">
					<li class="bond_bg_sing_g"></li>
					<li class="bond_Lbox">
						<p class="bond_icon">兑换券</p>
						<p class="fz_16_r">¥<span class="fz_28 color_red">50</span></p>
					</li>
					<li class="bond_Rbox m_left15px">
						<p class="fz_16" style="float:left">流量券</p>
						<p class="new_ico m_top1px"></p>
						<p class="color_6" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width:85%;">500m全国流量随你用</p>
						<p class="fz_12 color_9 m_top10px">有效期：2017-01-10</p>
					</li>
				</ul>-->
		   		</div>
			</div>
		</div>
		<div class="" id="showMsgDiv" style="display: none;"></div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers"
			});
			seajs.use('bonds/allBonds');
		</script>
	</body>
</html>