<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的票券</title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav top_z_index hb-header">
			<div class="header-wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">我的票券</h1>
			</div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<!--<div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary position_top" id="menuDiv">-->
			<div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary" id="menuDiv">
				<a class="mui-control-item fz_15 mui-active" id="allBonds">可用<!--&nbsp;<span class="color_red" id="allBondsNum">50</span>--></a>
				<a class="mui-control-item fz_15" id="expireDateBonds">已到期<!--&nbsp;<span class="color_red" id="expireDateNum">50</span>--></a>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.poppicker.js"></script>
		<script src="../../js/common/mui.listpicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<!--<script type="text/javascript" src="../../js/controllers/bonds/allBonds.js"></script>-->
		<script>
			seajs.config({
				base: "../../js/controllers"
			});
			seajs.use('bonds/myBonds');
		</script>
	</body>
</html>