<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>删除提醒</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">删除提醒</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">您的提醒已删除成功！</p>
		</div>
		<div class="but_m20px but_t16">
				
				<button class="but_315px but_red" id="delRemind_SuccessBack" path="affairRemind.html" noCheck="true">返回</button>
		</div>
		
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('lifeAssistant/delRemind_success');
		</script>
	</body>
</html>
