<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>验证卡密结果</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>-->
				<h1 class="mui-title hb-title">支付结果</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="success_icon1 suc_top7px" id="resultDiv"></div>
			<p class="fz_18 text_m" id="em">支付成功！</p>
		</div>
		<div class="but_m20px but_t16">
				<div style="margin: 10px 0px 10px 10px;">页面<span id="timeoutId" style="color: red;padding: 0px 3px 0px 3px;">5</span>秒后自动关闭</div>
				<button class="but_315px but_red" id="returnBtn">返回</button>
		</div>
		<div class="content_box5px" id="banner" style="display:none;">
				<a class="banner_bg2"><img src="" /></a>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		</script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('b2cpayment/b2cpayresult.js');
		</script>		
	</body>
</html>