<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>

	<body>
		
		<header class="mui-bar mui-bar-nav">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">测试</h1>
		    </div>
		</header>
		<br />
		<br />
		<br />
    		<br />
		<br />
		<br />
		  
		 <!--安全模块-->  
		<div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul>
					                              
				    </ul>
			   </div> 
			    
			<!--安全认证提交模块-->   
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirmButton" data-checkAuth='true'>确&nbsp;&nbsp;定</button>
		   </div>
				
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/mui.enterfocus.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script src="../../js/core/support.js"></script>
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 
		<script type="text/javascript">
			seajs.config({
				base:"../../js/controllers/"
			});      
			seajs.use("demo/securityDemo.js");      
		</script> 
	</body>
     
</html>