<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>定活互转</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />		
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">小额免密免签</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont" >
			
			<div class="content_box5px" id="box">		
				<div id="LimitFreeList" class="switchList">
				   
				</div>
			</div>
  		
		
		<!--<div class="content_box5px p_lr10px box_top15px" style="margin-top: 60px;">
				<p class="hint">温馨提示：</p>
				<p class="hint_con fz_12">"小额免密免签"是中国银联为客户提供的一种便捷支付服务。当您使用
				我行前6位为623076(加载金融功能的社会保障卡除外)的芯片借记卡，在境内指定商户进行300元人民币及以
				下的交易时，只需将卡片靠近POS机等受理终端的"闪付"感应区挥卡，即可完成支付(无需开通电子现金功能)
				。支付过程中，您不会被要求输入密码，也无需签名。</p>
		</div>-->
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('safeCenter/limitFree');
		</script>			
	</body>
</html>
