<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">-->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>安全设置</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
        <link rel="stylesheet" href="../../css/public.css" />
        <link rel="stylesheet" href="../../css/style.css" />
        
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">安全设置</h1>
		    </div>
		</header>
	    <div class="content_BOXall p_down20px hb_cont">
	    	<div class="banner_bg banner_bg_boxshw">
				<div class="banner_imgbox">
					<a><img src="../../img/set_ico2.jpg"/></a>
				</div>
			</div>
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
					<ul id="functionDiv">
						<li path='../myOwn/preMessageSet.html' id='preMessageSet' noCheck='false'>
						    	<p class="public_icon transfer_icon"><img src="../../img/ylxi_icon.png" /></p>
						    	<span>预留信息设置</span>
						    	<a class="link_rbg"></a>
						</li>
						<li id="userLockerManage" path="../safeCenter/userLockerManage.html" noCheck="false">
						    	<p class="public_icon transfer_icon"><img src="../../img/gesture_set.png" /></p>
					    	    <span>手势登录</span>
					    	    	<p class="on_off" id="userLockerManageMsg"></p>
					    	    <a class="link_rbg"></a>
						</li>
						<li id="fingerPwdSet" path="../safeCenter/fingerPwdSet.html" noCheck="false">
						    	<p class="public_icon transfer_icon"><img src="../../img/safe_ico2.png" /></p>
						    	<span>指纹登录</span>
						    	<p class="on_off" id="fingerPwdSetMsg"></p>
						    	<a class="link_rbg"></a>
						</li>
						<li path='../myOwn/limitSet.html' id='limitSet' noCheck='false' hidden>
						    	<p class="public_icon transfer_icon"><img src="../../img/xe_icon.png" /></p>
						    	<span>转账限额设置</span>
						    	<a class="link_rbg"></a>
						</li>
						<li path='../safeCenter/limitFree.html' id='limitFree' noCheck='false' hidden>
						    	<p class="public_icon transfer_icon"><img src="../../img/card_YLWM.png" /></p>
						    	<span>小额免密免签设置</span>
						    	<a class="link_rbg"></a>
						</li>
						<li id="loginPwdUpdateInput" path="../safeCenter/loginPwdUpdateInput.html" noCheck="false">
						    	<p class="public_icon transfer_icon"><img src="../../img/safe_ico3.png" /></p>
					    	    <span>登录密码修改</span>
					    	    <a class="link_rbg"></a>
						</li>
						<li id="accountPwdUpdateInput" path="../safeCenter/accountPwdUpdateInput.html" noCheck="false">
						    	<p class="public_icon transfer_icon"><img src="../../img/safe_ico4.png" /></p>
						    	<span>账户密码修改</span>
						    	<a class="link_rbg"></a>
						</li>
						<li id="deviceManager" path="../user/deviceManager.html" noCheck="false" style="display: none;">
						    	<p class="public_icon transfer_icon"><img src="../../img/sbbd_icon.png" /></p>
					    	    <span>设备绑定</span>
					    	    <a class="link_rbg"></a>
						</li>
						<li id="usbkeyPINManage" path="../user/usbkeyPINManage.html" noCheck="false" style="display: none;">
						    	<p class="public_icon transfer_icon"><img src="../../img/sbbd_icon.png" /></p>
					    	    <span>音频Ukey密码修改</span>
					    	    <a class="link_rbg"></a>
						</li>
					</ul>
				</div>
			</div>
	    </div>
	    <script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-fingerprint.js"></script>
	    <script type="text/javascript" charset="UTF-8" src="../../js/common/finger/plugin-login.js"></script>
	    <script type="text/javascript" charset="UTF-8" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('safeCenter/safeCenterHome');
		</script>
	</body>
</html>
