<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>修改手势密码</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">手势密码</h1>
			</div>
		</header>
		<div class="content_BOXall">
			<p id="alert" class="unlok_tit fz_16 color_6" style="padding-top: 10%;">请绘制手势密码</p>
			<div id="show"></div>
			<!--<div id="alert" class="text_cen">请输入手势密码</div>-->
		</div>
		<script>
			var screenWidth = localStorage.getItem("screenWidth");
			var width = screenWidth*0.94;
			var heigh = width;
			var raduis = width*0.112;
			var ringColor = "rgba(207,21,92,1)";
			var fillColor = "rgba(207,21,92,0.06)";
			var pointColor = "rgba(207,21,92,1)";
			var lineColor = "rgba(207,21,92,1)";
			var sessionKeys = localStorage.getItem("session_keys")||"{}";
			if(sessionKeys!=null && sessionKeys!="" && sessionKeys!="{}"){
				if(JSON.parse(sessionKeys).show == '1'){
					ringColor = "rgba(136,136,136,1)";
					fillColor = "rgba(207,21,92,0)";
					pointColor = "rgba(207,21,92,0)";
					lineColor = "rgba(207,21,92,0)";
				}
			}
			html = '<div id="holder" class="mui-locker locker_bg" data-locker-width="'+width+'" data-locker-height="'+heigh+'" raduis="'+raduis+'" data-locker-line-color="'+lineColor+'" data-locker-ring-color="'+ringColor+'" data-locker-fill-color="'+fillColor+'" data-locker-point-color="'+pointColor+'"></div>';
			document.getElementById("show").innerHTML = html;
		</script>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js" ></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.locker.js"></script>
		<script type="text/javascript" src="../../js/common/hmac-md5.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('safeCenter/userLockerModify');
		</script>
	</body>
</html>