<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>转账汇款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">跨行转账</h1>
				<!--<a class="nav_code"></a>-->
		</header>
		<div class="content_BOXall">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">投资热点</p>
			    </div>
				<div class="backbox_th p_lr10px bg_br2px">
				    <ul>
					    <li class="b_das">
					    	    <span class="input_lbg">付款账号</span>
					    	    <span class="input_m14px">6230 **** 4755</span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li>
					    	    <p>
					    	    	    <span class="input_lbg">可用余额</span>
					    	        <span class="input_m14px">0.01元</span>
					    	    </p>
					    	    <div>
					    	    	    <span class="input_lbg left_fl">转账类型</span>
					    	    	    <div class="radio_box">
					    	    	        <div class="mui-input-row mui-radio mui-left radio_f_left">
						                <label>普通</label>
						                <input name="radio1" type="radio">						           
					                </div>
					                <div class="mui-input-row mui-radio mui-left radio_f_left">
						                <label>加急</label>
						                <input name="radio1" type="radio" checked>
					                </div>
					                <div class="mui-input-row mui-radio mui-left ">
						                <label>实时</label>
						                <input name="radio1" type="radio">						           
					                </div>
					            </div>
					    	    </div>    
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">收款信息</p>
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li>
					    	    <span class="input_lbg">开户行</span>
					    	    <span class="input_m12px">请选择开户行</span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li>
					    	    <span class="input_lbg">收款人账号</span>
					    	    <input class="input_m12px" type="text" value="请输入收款账号"></input>
					    	    
					    </li>
					    <li>
					    	    <span class="input_lbg">收款人姓名</span>
					    	    <input class="input_m12px" type="text" value="请输入收款姓名"></input>
					    	    
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">金额及其他</p>
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li>
					    	    <span class="input_lbg">转账金额</span>
					    	    <span class="input_m12px">请选择开户行</span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li>
					    	    <span class="input_lbg2">预约转账</span>
					    	    <div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt">
						        <div class="mui-switch-handle"></div>
					        </div> 
					    </li>
					    <li style="display: none;">
					    	    <span class="input_lbg">预约转账日期</span>
					    	    <span class="input_m12px">请选择日期</span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li>
					    	    <span class="input_lbg2">短信通知收款人</span>
					    	    <div class="mui-switch mui-switch-blue mui-switch-mini mui-active flo_rihgt">
						        <div class="mui-switch-handle"></div>
					        </div>  
					    </li>
					    <li>
					    	    <span class="input_lbg">收款人手机</span>
					    	    <input class="input_m12px" type="text" value="请输入号码"></input>
					    </li>
					    <li>
					    	    <span class="input_lbg">附言</span>
					    	    <input class="input_m12px" type="text" value="请输入附言0~20个字符"></input>
					    	    
					    </li>
				    </ul>
			    </div>
			</div>
			<!--<div class="content_box5px box_top15px">
				<p class="hint">温馨提示</p>
				<p class="hint_con">“实时”为超级网银转账，转出行若不在收款人开户行列表中，请确认收款方银行是否已加入人行网银互联平台；实时转账单笔转出最高金额为5万。</p>
			</div>-->
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示：</p>
				<p class="hint_con fz_12">“实时”为超级网银转账，转出行若不在收款人开户行列表中，请确认收款方银行是否已加入人行网银互联平台；实时转账单笔转出最高金额为5万。</p>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red">下一步</button>
			</div>
		</div>
	</body>
</html>
