<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>转账汇款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">跨行转账</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">您的转账已成功！</p>
		</div>
		<div class="but_m20px but_t16">
				<button class="but_315px but_w but_d10px">查看转账明细</button>
				<button class="but_315px but_red">继续转账</button>
		</div>
		<div class="banner_bg" style="width: 100%; height: auto; margin-top: 20px;">
			<div class="banner_imgbox">
				<a><img src="../../img/t_pic.png"/ style="width: 100%;"></a>
			</div>
		</div>
	</body>
</html>
