<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		
	</head>
	<body>
		
			<div class="pickernew_box">	
				<div class="pickernew_titbg">
				    <p class="">标题</p>
					<a class="pickernew_cion1"></a>
				</div>
				<ul>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px color_red">账号</p>
						<a class="pickernew_cion2"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
					<li class="">
						<p class="m_left10px">账号</p>
						<a class="pickernew_cion2" style="display: none;"></a>
					</li>
				</ul>
			</div>
	
	</body>
</html>
