<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title></title>
<link href="../css/app.css" rel="stylesheet"/>
<link href="../css/mui.min.css" rel="stylesheet"/>
<script src='../js/common/jquery-1.12.0.min.js'></script>
</head>
<body>
<header class="mui-bar mui-bar-nav" style="background: rgba(255, 255, 255, 0); position:inherit">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
</header>	
<div class='wrapper'>
	<div class='dragon'>
		<div class='cloud'></div>
		<div class='logo'>
			<img src="../images/liana_logo.png" alt="" />
		</div>
		<ul class='list list-a'>
			<li class='list-item'>
				<div class='card card-a'>
					<div class='card-header'>
						<div class='tit'>
							直销</br>银行
						</div>
					</div>
					<div class='card-body'>
						
					</div>
				</div>
			</li>
			<li class='list-item'>
				<div class='card card-b'>
					<div class='card-header'>
						<div class='tit'>
							金融</br>门户
						</div>
					</div>
					<div class='card-body'>
						
					</div>
				</div>
			</li>
			<li class='list-item'>
				<div class='card card-c'>
					<div class='card-header'>
						<div class='tit'>
							个人</br>网银
						</div>
					</div>
					<div class='card-body'>
						
					</div>
				</div>
			</li>
			<li class='list-item'>
				<div class='card card-d'>
					<div class='card-header'>
						<div class='tit'>
							企业</br>网银
						</div>
					</div>
					<div class='card-body'>
						
					</div>
				</div>
			</li>
			<li class='list-item'>
				<div class='card card-e'>
					<div class='card-header'>
						<div class='tit'>
							呼叫</br>中心云
						</div>
					</div>
					<div class='card-body'>
						
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class='tiger'>
		<div class='lead'>
			20年金融IT行业服务经验，由业内领先的专业团队联合打造，为金融客户提供合规IaaS、金融PaaS、应用SaaS以及业务运营支撑等全方位金融云服务。<span class='text-primary'>目前已有几十家客户火热上线中。</span>
		</div>
		<div class='title'>
			<span class='text-primary'>多平台支持</span>
		</div>
		<ul class='list list-b'>
			<li class='list-item item-a'>
				Web
			</li>
			<li class='list-item item-b'>
				iOS
			</li>
			<li class='list-item item-c'>
				Android
			</li>
			<li class='list-item item-d'>
				WeChat
			</li>
			<li class='list-item item-e'>
				VTM
			</li>
		</ul>
	</div>
</div>
<script src="../js/common/mui.min.js"></script>
		<script>
/*			document.getElementById("close1").addEventListener('tap', function(event) {
				localStorage.setItem("showGuideFlag", "true");
				plus.navigator.setFullscreen(false);
				plus.webview.currentWebview().close();
			}, false);*/
		</script>
</body>
</html>