<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/public.css" />
	</head>
	<body>
		<div class="update_box">
			<div class="update_tit_bg">
				<p class="update_tit fz_16">手机银行有新版本啦</p>
				<p class="fz_12 color_9">更新版本：3.0</p>
				<a></a>
			</div>
			<div>
				<p>手机银行更新啦！</p>
				<p class="m_top5px">1、手机银行更新啦,手机银行更新啦手机银行更新啦！</p>
				<p class="m_top5px">2、手机银行更新啦,手机银行更新啦手机银行更新啦！</p>
			</div>
			<div class="update_btnbox">
				<button class="update_btn">立即更新</button>
			</div>
		</div>
	</body>
</html>