<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>预约转账取消</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<style>
			.specifyDateLi{
				display:none;
			}
			.specifyCycleLi{
				display:none;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">预约转账取消</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">预约转账信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	        <span class="detail_left">付款账号</span><span class="detail_right" id="payAccount"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">收款账号</span><span class="detail_right" id="recAccount"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">收款人</span><span class="detail_right" id="recAccountName"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">转账金额</span><span class="detail_right"><span id="payAmount"></span>元</span>
		    	        </li>
		    	        <li>
		    	    	        <span class="detail_left">预约类型</span><span class="detail_right" id="scheduleType"></span>
		    	        </li>		    	        
		    	        <!--一次性预约展示开始-->
		    	        <li class="specifyDateLi">
		    	    	        <span class="detail_left">预约处理时间</span><span class="detail_right" id="specifyDateTime"></span>
		    	        </li>		    	        
		    	        <!--一次性预约展示结束-->
		    	        <!--周期性预约展示开始-->
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">预约处理时间</span><span class="detail_right" id="specifyCycleTime"></span>
		    	        </li>	
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">开始日期</span><span class="detail_right" id="startDate"></span>
		    	        </li>	
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">预约转账次数</span><span class="detail_right" id="transTimes"></span>
		    	        </li>
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">已执行次数</span><span class="detail_right" id="executeTimes"></span>
		    	        </li>
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">成功交易次数</span><span class="detail_right" id="successTimes"></span>
		    	        </li>
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">成功交易金额</span><span class="detail_right"><span id="successAmt"></span>元</span>
		    	        </li>	
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">失败交易次数</span><span class="detail_right" id="failTimes"></span>
		    	        </li>
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">失败交易金额</span><span class="detail_right"><span id="failAmt"></span>元</span>
		    	        </li>		    	        
		    	        <li class="specifyCycleLi">
		    	    	        <span class="detail_left">下一执行日</span><span class="detail_right" id="nextDate"></span>
		    	        </li>		    	        
		    	        <!--周期性预约展示结束-->
		    	        <li>
		    	    	        <span class="detail_left">附言</span><span class="detail_right" id="payRem"></span>
		    	        </li>		    	        
		       </ul>
		   </div>

		   <div class="btn_bg_f2">
				<button class="but_315px but_red" id="confirmButton">确&nbsp;&nbsp;定</button>
		   </div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/cancelScheduleConfirm');
		</script>			
	</body>
</html>
