<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>周期预约查询</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css"  />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">周期性预约明细</h1>
		    </div>
		</header>
		
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">周期性预约详细信息</p>
			    <ul class="p_lr30px">
			    	<li>
		    	    	<span class="detail_left">收款账号</span><span class="detail_right" id="recAccount"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">收款人户名</span><span class="detail_right" id="recAccountName"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">转账金额</span><span class="detail_right" id="payAmount"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">预约执行时间</span><span class="detail_right" id="sendHostTime"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">转账结果</span><span class="detail_right" id="orderState"></span>
		    	    </li>
		    	    <li id="errorMessage">
		    	    	<span class="detail_left">失败原因</span><span class="detail_right" id="hostErrorMessage"></span>
		    	    </li>
			    </ul>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/cycleDetails');
		</script>
	</body>
</html>