<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>金融</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
        <style>
			.bankIcon span{
				line-height: 30px;
			}
        </style>		
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">	
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
		    <h1 class="mui-title hb-title" id="test">热门银行</h1>
		</header>
		
		<div class="mui-scroll-wrapper" style="overflow: auto;">
			<div class="mui-scroll content_BOXall hb_cont" >  
                <div class="searchDiv content_box5px m_top10px">
                	    <p><input class="fz_12" type="text"  placeholder="请输入银行名称" id="searchKey"/></p>
                  	<a id="searchButton"><img src="../../img/soso.png" /></a>
                </div>	
                <div class="backbox_tit_bg hotBank">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">热门银行</p>
			    </div>                
				<div class="mui-slider-item banner_bg_boxshw" id="bankDiv">
              
		        </div>
				<div class="content_box5px p_lr10px box_top15px p_down66px">
					<p class="hint">温馨提示</p>
					<p class="hint_con fz_12">更多银行请在抬头搜索框中输入关键字进行查找。</p>
				</div>
			</div>
			
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/core/bankParam.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/hotBank'); 
		</script>
	</body>
</html>
