<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>跨行转账</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />		
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">跨行转账</h1>
		    </div>
		</header>
  
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">付款信息</p>
			    </div>
				<div class="backbox_th p_lr10px bg_br2px">
				    <ul>
					    <li class="b_das" id="changeAccount">
					    	    <span class="input_lbg">付款账号</span>
					    	    <span class="input_m14px" id="accountNo"></span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li style="border-bottom: none;">
					    	    <p>
					    	    	<span class="input_lbg">可用余额</span>
					    	        <span class="input_m12px" id="balance"></span>元
					    	    </p>					    	
					    </li>
					    <li style="display:none;" id="creditUseLimitLi">
					    	    <p>
					    	    	<span class="input_lbg">授信可用余额</span>
					    	        <span class="input_m12px" id="creditUseLimit"></span>元
					    	    </p>  
					    </li>					    
					    <li style="overflow: hidden;">
					    	    <div>
						    	    <span class="input_lbg left_fl">转账类型</span>
						    	    <div class="radio_box">
						    	    	<div class="mui-input-row mui-radio mui-left radio_f_left">
							                <label>实时</label>
							                <input name="transferType" value="2" type="radio" checked>						           
						                </div>
						    	    	<div class="mui-input-row mui-radio mui-left radio_f_left">
							                <label>普通</label>
							                <input name="transferType" value="0" type="radio">						           
						                </div>
						                <div class="mui-input-row mui-radio mui-left radio_f_left">
							                <label>大额</label>
							                <input name="transferType" value="1" type="radio">
						                </div>
						            </div>
					    	    </div>    
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px">
				<div class="backbox_tit_bg">
					<button class="but_rh28px btn_top8px" id="commonPayee">常用收款人</button>
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">收款信息</p>
				    
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li id="selectBank">
					    	    <span class="input_lbg">开户行</span>
					    	    <span class="input_m14px" id="recAccountOpenBankName">请选择开户行</span>
					    	    <a class="link_rbg"></a>
					    </li>
					    <li>
					    	    <span class="input_lbg">收款人账号</span>
					    	    <input class="input_m14px" type="number" pattern="\d*" id="recAccNo" placeholder="请输入收款账号"></input>
					    	    
					    </li>
					    <li>
					    	    <span class="input_lbg">收款人姓名</span>
					    	    <input class="input_m14px" type="text" id="recName" placeholder="请输入收款姓名"></input>
					    	    
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">金额及其他</p>
			    </div>
				<div class="backbox_th p_lr10px">
				    <ul>
					    <li>
				    	    <span class="input_lbg">转账金额</span>
				    	    <input class="input_m14px" type="text" id="tranAmt" placeholder="请输入转账金额"></input>
				    	    <p class="input_rmb">元</p>
					    </li>
					    <li id="bookSwitchLi" style="display:none;">
					    	<span class="input_lbg">预约转账</span>
					    	<div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt" id="bookSwitch">
						        <div class="mui-switch-handle"></div>
					        </div> 
					    </li>
					    <li style="display: none;" class="bookLi"  id="pickDate">
				    	    <span class="input_lbg">预约转账日期</span>
				    	    <span class="input_m14px" id="bookDate">请选择日期</span>
				    	    <a class="link_rbg"></a>	    	    
					    </li>
					    <li style="display: none;" class="bookLi">
					    	<span class="input_lbg">预约转账时间</span>
					    		<select id="specifyDateTime">
						            <option value="AM" >上午10:00</option>
						            <option value="PM">下午14:00</option>
					          	</select>
					    </li>					    
					    <li>
					    	<span class="input_lbg_w">短信通知收款人</span>
					    	<div class="mui-switch mui-switch-blue mui-switch-mini flo_rihgt" id="smsNoticeSwitch">
						        <div class="mui-switch-handle"></div>
					        </div>  
					    </li>
					    <li style="display:none;" id="smsNoticeLi">
					    	    <span class="input_lbg">收款人手机</span>
					    	    <input class="input_m14px" type="tel" placeholder="请输入号码" id="recMobile"></input>
					    </li>
					    <li>
					    	    <span class="input_lbg">附言</span>
					    	    <input class="input_m14px" type="text" placeholder="请输入附言0~20个字符" id="payRem"></input>
					    	    
					    </li>
				    </ul>
			    </div>
			</div>
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">“实时”为超级网银转账，转出行若不在收款人开户行列表中，请确认收款方银行是否已加入人行网银互联平台；实时转账单笔转出最高金额为5万。</p>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextButton">下一步</button>
			</div>	
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/smart.poppicker.js"></script>	
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script src="../../js/core/param.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/interTranInput');
		</script>			
	</body>
</html>
