<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账汇款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" type="text/css" href="../../css/app.css" />-->
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">收款人维护</h1>
		    </div>
		</header>
		<div id="pullrefresh" class="mui-scroll-wrapper p_down66px">
		<div class="mui-scroll">
		<div class="content_BOXall hb_cont" id="">
			<div class="searchDiv content_box5px m_top10px">
                	<p><input class="fz_12" type="text"  placeholder="支持收款账号/户名/开户行的模糊查询" id="searchKey"/></p>
                  	<a id="searchButton"><img src="../../img/soso.png" /></a>
            </div>
			<div class="content_box5px m_top10px " id="details">
			    
			</div>
			
		</div>
		</div>
		</div>
		
		
		<div class="btn_bg_f2">
				<button class="but_315px but_w" id="submit" noCheck="true"><img class="btn_ico" src="../../img/btn_ico1.png" />添加收款人</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/receiverPro');
		</script>
	</body>
</html>
