<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账汇款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />	
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">预约明细查询</h1>
		    </div>
		</header>
		
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">预约查询</p>
			    </div>
				<div class="backbox_th p_lr10px">
					<ul>
						<li id="changeAccount">
							<span class="input_lbg">预约状态</span>
					    	<span class="input_m14px" id="state"></span>
					    	<a class="link_rbg"></a>
						</li>
						<li id="beginDate">
					    	<span class="input_lbg">起始日期</span>
					    	<span class="input_m12px" id="chooseBeginDate"></span>
					    	<a class="link_rbg"></a>
						</li>
						<li id="endDate">
					    	<span class="input_lbg">终止日期</span>
					    	<span class="input_m12px" id="chooseEndDate"></span>
					    	<a class="link_rbg"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">单次查询起止日期的跨度不超过90天，您可以查询最近一年的交易记录。</p>
			</div>
			
			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="submit" noCheck="false">查&nbsp;&nbsp;询</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/scheduleDetail');
		</script>
	</body>
</html>
