<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账汇款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">预约管理</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">预约详细信息</p>
			    <ul class="p_lr30px">
		    	        <li>
		    	    	    <span class="detail_left">付款账号</span><span class="detail_right" id="payAccount"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">收款账号</span><span class="detail_right" id="recAccount"></span>
		    	        </li>
		    	         <li>
		    	    	        <span class="detail_left">收款人</span><span class="detail_right" id="recAccountName"></span>
		    	        </li>
		    	        
		    	        <li>
		    	        	<span class="detail_left">转账金额</span><span class="detail_right" id="payAmount"></span>
		    	        </li>
		    	       	<li>
		    	    	    <span class="detail_left">手续费</span><span class="detail_right" id="trsFeeAmount"></span>
		    	        </li>
		    	       	<li class="specifyDate" hidden>
		    	        	    <span class="detail_left">预约类型</span><span class="detail_right" id="scheduleType">一次性预约</span>
		    	        </li>
		    	         <li class="specifyCycle" hidden>
		    	        	    <span class="detail_left">预约类型</span><span class="detail_right" id="">周期性预约</span>
		    	        </li>
		    	        <li id="recAccountBank">
		    	    	        <span class="detail_left">收款银行名称</span><span class="detail_right" id="recAccountOpenBankName"></span>
		    	        </li>
		    	       	<li>
		    	    	    <span class="detail_left">提交时间</span><span class="detail_right" id="orderSubmitTime"></span>
		    	        </li>
		    	       	<li class="specifyDate" hidden>
		    	    	    <span class="detail_left">执行时间</span><span class="detail_right" id="specifyTime"></span>
		    	        </li>
		    	        <li class="specifyCycle" hidden>
		    	        	    <span class="detail_left">执行时间</span><span class="detail_right" id="transPeriodText"></span>
		    	        </li>
		    	       	<li>
		    	    	    <span class="detail_left">交易状态</span><span class="detail_right" id="orderState"></span>
		    	        </li>
		    	       	 
		    	       	
		    	        <!--<li>
		    	    	        <span class="detail_left">转账用途</span><span class="detail_right" id="newPayUse"></span>
		    	        </li>
		    	       
		    	        <li>
		    	    	        <span class="detail_left">交易类型</span><span class="detail_right" id="transferType"></span>
		    	        </li>
		    	        <li id="payRenLi">
		    	    	        <span class="detail_left">附言</span><span class="detail_right" id="payRem"></span>
		    	        </li>-->
		    	        
		    	        
		    	        
		    	        
		    	       
		    	        
		    	       <!-- <li class="specifyCycle" hidden>
		    	    	    <span class="detail_left">预约转账次数</span><span class="detail_right" id="transTimesText"></span>
		    	        </li>
		    	        <li class="specifyCycle" hidden>
		    	    	    <span class="detail_left">已执行次数</span><span class="detail_right" id="executeTimes"></span>
		    	        </li>-->
		    	        
		    	        
		    	        
		    	        
		    	       <!-- <li>
		    	    	    <span class="detail_left">流水号</span><span class="detail_right" id="orderFlowNo"></span>
		    	        </li>-->
		    	        
		       </ul>
		   </div>
			<div class="but_m20px" style="display:none;" id="cancelDiv">
				<button class="but_315px but_red" id="cancelSchedule">取消预约</button>
			</div>				
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/scheduleDetails');
		</script>
	</body>
</html>
