<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.indexedlist.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/public.css"/>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">选择开户行</h1>
		    </div>
		</header>
		<div id="pullrefresh" class="mui-scroll-wrapper">
		<div class="mui-scroll">	
			<div class="content_BOXall hb_cont">
                <div class="searchDiv content_box5px m_top10px">
                	    <p><input class="fz_12" type="text"  placeholder="请输入银行名称" id="searchKey"/></p>
                  	<a id="searchButton"><img src="../../img/soso.png" /></a>
                </div>                
                <div class="content_box5px m_top10px">
                 	<div class="backbox_th2 p_lr10px" id="bankDiv">
      
                	        <ul>
                	    	        <!--<li>
                	    	  	        <p class="color_6">开户行名称</p>
                	    	  	        <p class="fz_15">0000****0000</p>
                	    	  	        <div class="content_rbox">
                	    	  		        <p class="color_red fz_16">00.00</p>
                	    	  		        <p class="fz_12 color_9">支付金额</p>
                	    	  	        </div>
                	    	  	       
                	    	        </li>
                	    	        <li>
                	    	  	        <p class="color_6">账户</p>
                	    	  	        <p class="fz_15">0000****0000</p>
                	    	  	        <div class="content_rbox">
                	    	  		        <p class="color_red fz_16">00.00</p>
                	    	  		        <p class="fz_12 color_9">支付金额</p>
                	    	  	        </div>
                	    	  	        <a class="link_rbg2"></a>
                	    	        </li>
                	    	        <li>
                	    	  	        <p class="color_6">账户</p>
                	    	  	        <p class="fz_15">0000****0000</p>
                	    	  	        <div class="content_rbox">
                	    	  		        <p class="color_red fz_16">00.00</p>
                	    	  		        <p class="fz_12 color_9">支付金额</p>
                	    	  	        </div>
                	    	  	        <a class="link_rbg2"></a>
                	    	        </li>-->
                	        </ul>
                	   </div>
                </div>
			</div>
		</div>
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js" ></script>
		<script src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			
			seajs.use('transfer/selectBank');
		</script>
	</body>

</html>