<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>转账汇款</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--<link rel="stylesheet" href="../../css/global.css"/>
		<link rel="stylesheet" href="../../css/style_zhr.css"/>
		<link rel="stylesheet" href="../../css/style_my.css"/>
		<link rel="stylesheet" href="../../css/style_user.css"/>		-->
        <link rel="stylesheet" href="../../css/public.css" />
        <link rel="stylesheet" href="../../css/style.css" />
		<script src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/jquery-1.12.0.min.js"></script>
	</head>
	<body>
		<!-- 内容 -->

			<div class="main_wraper no_margin_bottom">
				<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
				    <ul id="transferMenu">
					    <li id="innerTranInput" path="../transfer/innerTranInput.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_inner.png" /></p>
				    	        <span>行内转账</span>
				    	        <a class="link_rbg"></a>
					    </li>
					    <li id="interTranInput" path="../transfer/interTranInput.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_inter.png" /></p>
				    	        <span>跨行转账</span>
				    	        <a class="link_rbg"></a>
					    </li>
					    <li id="sameTranInput" path="../transfer/sameTranInput.html" noCheck="false">
					        	<p class="public_icon transfer_icon"><img src="../../images/transfer_eachother.png" /></p>
				    	        <span>注册账户互转</span>
				    	        <a class="link_rbg"></a>
					    </li>
					    <li id="mobileTranInput" path="../transfer/mobileTranInput.html" noCheck="false">
					        	<p class="public_icon transfer_icon" ><img src="../../images/transfer_pho.png"  /></p>
				    	        <span>手机号转账</span>
				    	        <a class="link_rbg"></a>
					    </li>					    
					    <li id="scheduleDetail" path="../transfer/scheduleDetail.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_appo.png" /></p>
				    	        <span>预约转账管理</span>
				    	        <a class="link_rbg"></a>
					    </li>	
					    <li id="receiverPro" path="../transfer/receiverPro.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_name.png" /></p>
				    	        <span>收款人名册维护</span>
				    	        <a class="link_rbg"></a>
					    </li>
					    <li id="transferDetail" path="../transfer/transferDetail.html" noCheck="false">
					    	    <p class="public_icon transfer_icon"><img src="../../images/transfer_soso.png" /></p>
				    	        <span>转账明细查询</span>
				    	        <a class="link_rbg"></a>
					    </li>					    
				    </ul>
			    </div>
			    
			<div  class="z_my_transfer m_top10px">
			    <div class="backbox_th p_lr10px lineheight_0px m_top10px">
				    <ul id="transferList">	   
<!--				    	<li><p>最近转账记录</p></li>
					    <li>
					     	<p class="symbol"></p>
					    	    <p class="fz_16">孙宇豪</p>
					    	    <p class="m_left15px"><span class="color_9">湖北银行</span><span class="m_left10px">0000****0000</span></p>
					    	    <a class="link_rbg m_top5px"></a>				    	    
					    </li>-->
					</ul>    
			    </div>
		   </div>
		 </div>
			</div>
	<script src="../../js/common/jquery-1.12.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common/sea.js"></script>
	<script type="text/javascript">
		seajs.config({
			base: "../../js/controllers/"
		});
		
		seajs.use('transfer/transfer_sub');
	</script>
	</body>
</html>
