<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>转账汇款</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">转账明细</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">转账详细信息</p>
			    <ul class="p_lr30px">
		    	        <li id="changeAccount">
		    	    	    <span class="detail_left">付款账号</span><span class="detail_right" id="payAccount"></span>
		    	        </li>
		    	        <li>
		    	    	    <span class="detail_left">收款账号</span><span class="detail_right" id="recAccount"></span>
		    	        </li>
		    	         <li>
		    	    	    <span class="detail_left">收款人</span><span class="detail_right" id="recAccountName"></span>
		    	        </li>
		    	         <li>
		    	    	    <span class="detail_left">转账金额</span><span class="detail_right" id="payAmount"></span>
		    	        </li>
		    	        <li>
		    	        	<span class="detail_left">手续费</span><span class="detail_right" id="trsFeeAmount"></span>
		    	        </li>
		    	        
		    	        <li>
		    	    	    <span class="detail_left">交易类型</span><span class="detail_right" id="orderState"></span>
		    	        </li>
		    	        <li id="openBank" hidden>
		    	    	    <span class="detail_left">收款账户开户行</span><span class="detail_right" id="recAccountOpenBankName"></span>
		    	       	</li>
		    	        <li id="transferTimeLi">
		    	    	    <span class="detail_left">交易时间</span><span class="detail_right" id="transferTime"></span>
		    	        </li>
		    	        <li id="">
		    	    	    <span class="detail_left">交易状态</span><span class="detail_right" id="transferResult"></span>
		    	        </li>
		    	        
		    	        <!--<li>
		    	        	<span class="detail_left">付款人户名</span><span class="detail_right" id="payAccountName"></span>
		    	        </li>
		    	       
		    	        <li>
		    	    	    <span class="detail_left">交易流水号</span><span class="detail_right" id="transferFlowNo"></span>
		    	        </li>-->
		    	       
		    	       
		    	        
		    	        <!--<li id="">
		    	    	    <span class="detail_left">转账用途</span><span class="detail_right" id="newPayUse"></span>
		    	        </li>-->
		    	        
		    	        
		    	        
		    	        <li class="errorMsg" hidden>
		    	    	    <span class="detail_left">错误说明</span><span class="detail_right" id="hostErrorMsg"></span>
		    	        </li>
		       </ul>
		   </div>
			
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('transfer/transferDetails');
		</script>
	</body>
</html>
