<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>产品介绍</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">产品介绍</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con color_3" style="font-size: 15px;">博时现金宝A产品介绍</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;博时现金宝A为货币基金T+0产品，由湖北银行与基金公司合作发行，支持7x24小时实时申购，享受7x24小时实时赎回，资金实时到账。</p>
				<p class="hint_con color_3" style="font-size: 15px;">博时现金宝A优势</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风险较低、申赎免费；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日日计息、享受复利；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实时赎回、活期般便利；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申赎起点低、无投资门槛！</p>
				<p class="hint_con color_3" style="font-size: 15px;">收益计算</p>
				<p class="hint_con fz_14 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、收益计算方式</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每日计算收益，按日支付收益；收益以分红形式直接结转成基金份额。申购交易的首次收益到账时间如下：</p>
				<p class="hint_con fz_12">
					<table border="1" width="100%">
						<tr>
							<td class="hint_con fz_12 p_td5px" align="center" ><font color="#000000">申购时间</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">计算收益时间</font></td>
							<td class="hint_con fz_12 p_td5px" align="center"><font color="#000000">首次显示收益时间</font></td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="60%">星期一15:00~星期二15:00</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期三</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期四</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="60%">星期二15:00~星期三15:00</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期四</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期五</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="60%">星期三15:00~星期四15:00</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期五</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">星期六</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="60%">星期四15:00~星期五15:00</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">下星期一</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">下星期二</td>
						</tr>
						<tr>
							<td class="hint_con fz_12 color_6 p_td5px" width="60%">星期五15:00~下星期一15:00</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">下星期二</td>
							<td class="hint_con fz_12 color_6 p_td5px" width="20%">下星期三</td>
						</tr>
					</table>
				</p>
				
				<p class="hint_con fz_14 color_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意：</p>
				<p class="hint_con fz_12 color_3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据以上表格，客户在不同时间转入的资金，起息时间可能会有所不同，客户当日能取得的总收益会按客户已确认起息的总份额进行计算，而对于客户新转入未达到起息时间的资金不会享受收益。</p>
				
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、货币基金的收益率和每万份收益由基金公司提供，如有疑问，可咨询各基金公司。</p>
				<p class="hint_con color_3" style="font-size: 15px;">申购规则</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、申购限额：目前无单日申购资金上限，但我行与基金公司会根据实际情况灵活控制。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、申购时间：博时现金宝A产品支持自然日7X24小时申购，如遇特殊情形可能暂停业务，将以湖北银行与基金公司的公布为准。</p>
				<p class="hint_con color_3" style="font-size: 15px;">赎回规则</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、实时赎回、实时到账；资金返还电子账户可用余额。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、普通赎回：T+1日到账（节假日顺延），不限额度与次数。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、当日赎回限额：赎回存在单笔限额控制、单日限额控制。具体限额以赎回时页面提示为准。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、实时赎回总限额：系统可设置实时赎回总额度，如同时发生的大额赎回过多，超出当日可用的总额度，则会提示客户交易失败或过一段时间再进行赎回。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
	</body>
</html>