<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>臻心宝基金协议</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css"/>
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">臻心宝基金协议</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down20px hb_cont">
			<div class="backbox_fo p_lr20px p_top10px p_down20px word_bg">
				<p class="hint_con fz_12 color_3" style="text-align: center;font-size: 15px;">《湖北银行“臻心宝”服务协议》</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尊敬的客户，为了维护您的权益，请在签署本协议前，仔细阅读本协议各条款，关注并理解您在本协议中的权利和义务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;甲方：投资者</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乙方：湖北银行股份有限公司（简称“湖北银行”）</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;丙方：博时基金管理有限公司（简称“博时基金”）</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;甲、 乙、丙三方依据法律法规的规定，本着公开、公平、自愿的原则，就湖北银行和博时基金为投资者提供“臻心宝”业务达成本协议。投资者通过点击确认或以其他方 式选择接受本协议，即表示投资者与湖北银行、博时基金已达成协议并同意接受本协议的约定内容以及与本协议有关的各项规则。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一条 释义</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、“臻心宝”：是指湖北银行对接基金公司以实现投资者购买货币市场基金的需求，并可在湖北银行和基金公司共同确定的额度内以T+0方式 赎回的货币基金产品。投资者开通“臻心宝”业务的同时即开通基金公司的基金账户，并可随时进行货币市场基金的申购、赎回、交易明细查询、收益明细查询等业务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、博时现金宝货币市场基金：是指博时基金作为基金管理人公开发行的一款货币基金产品，以下简称“博时现金宝”。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、投资者：本协议下的投资者需满足如下条件：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）年龄满18周岁并且持有有效居民身份证、满足证券投资基金合法投资者要求；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）在湖北银行开立账户，并将该账户作为基金支付结算账户，并与投资者在博时基金开立的基金交易账户绑定；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）按照本协议的约定，投资人通过“臻心宝”委托湖北银行向博时基金下达交易指令。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、基金账户：是指基金注册登记机构（博时基金）给投资者开立的用于记录投资者持有的开放式基金份额、份额变动、产生收益情况的账户。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、申购：是指投资者将其湖北银行活期存款申请购买博时现金宝对应份额的行为。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、实时赎回：是指投资者通过湖北银行提交货币基金的快速赎回申请，基金份额对应款项快速到达投资者湖北银行账户。湖北银行在一定额度内代博时基金向投资者垫付实时赎回款项，投资者的赎回份额过户给湖北银行所有。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、T日：基金合同约定的博时基金确认的投资者有效申请工作日。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、T＋n日：自T日起第n个工作日（不包含T日）。工作日指上海证券交易所和深圳证券交易所的正常交易日，开放日指基金合同约定的博时基金为投资者办理基金申购、赎回等业务的工作日。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、基金合同：是指《博时现金宝货币市场基金合同》及其任何之修订或补充。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、招募说明书：是指《博时现金宝货币市场基金招募说明书》及其更新。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二条 各方权利及义务</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（一）投资者权利及义务</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、投资者承诺其是具有完全民事行为能力的个人，投资者勾选本协议选框后，即确认本人已阅读、理解并接受本协议的所有内容。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、投资者申请使用本协议下的服务，须在博时基金开通基金账户，并以湖北银行账户作为基金交易资金划转的专用账户。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、投资者同意通过湖北银行渠道发出博时现金宝申购、赎回指令。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、 投资者知悉并同意其对“臻心宝”进行相应操作即视为在湖北银行基金代销系统向博时基金下达相应的交易申请。投资者需妥善保管其绑定的银行账户及账户密码、银行预留手机号及其他身份识别凭证，凡使用其账户相应密码及其他身份识别凭证的交易行为均视为投资者亲自办理的交易，由此产生的结果由投资者自行承担。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、投资者应保证用于基金交易的资金来源合法。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（二） 湖北银行权利及义务</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、湖北银行遵守有关法律法规、规章制度，按本协议的约定为投资者、博时基金提供货币基金支付结算服务，接收投资者下达申购、赎回指令等交易指令并进行相应的资金划付，以及在湖北银行同意的额度内受博时基金委托向投资者按T+0模式支付基金份额赎回款等相关服务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、在湖北银行同意的T+0额度占满，无法实现投资人基金赎回T+0时，应公告或在投资操作时通知投资者。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、湖北银行对投资者的信息和资料承担保密责任，但按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供投资者的有关资料不在此限。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、甲方若遗忘账户登陆密码或交易密码，可通过乙方湖北银行进行密码重置。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、湖北银行提供的基金交易资金划付系统的安全、数据备份和故障恢复手段符合监管机关的规定。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、湖北银行按照基金公司确认的基金交易资金划付指令，完成对投资者基金交易资金的划付。湖北银行对相关数据进行保留并作为投资者交易行为的证明。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、湖北银行在本协议项下业务合作中提供的服务仅限于受托销售、资金划付，不对基金收益承担任何责任。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（三） 博时基金权利及义务</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、博时基金声明：博时基金是中华人民共和国境内依据《证券投资基金法》规定所设立的，与投资者直接建立基金投资法律关系，并受投资者委托向湖北银行下达相关基金销售结算资金的收付指令，可以提供符合湖北银行要求的资金结算指令的证券投资基金管理公司。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、博时基金遵守有关法律法规、规章制度，并按本协议的约定为投资者提供相关服务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、博时基金对投资者的信息和资料承担保密责任，但按照有关法律、法规和规章规定或有关司法机关、行政管理机关的要求提供投资者的有关资料不在此限。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、博时基金提供安全、数据备份和故障恢复手段符合监管机关的规定。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、博时基金保证其提供的基金产品符合国家的相关规定并履行必要的审批手续，承担为投资者提供的基金产品或服务的责任，并及时向投资者提供其基金的交易、持有等信息，负责投诉处理和售后服务。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、博时基金就本协议内容及合作过程中知悉的投资者信息、湖北银行商业机密承担保密义务，未经投资者、湖北银行同意不得向任何第三方泄漏或允许其使用，但国家法律法规另有规定或监管机构另有要求的除外。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三条 基金账户的开立</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、 投资者在湖北银行进行博时现金宝申购时，即开通博时基金账户。凡是年龄满18周岁并且持有18位身份证号的居民身份证并满足证券投资基金合法投资 者要求的投资者均可开立博时基金账户。湖北银行实时为投资者分配基金账号、基金交易账号，并与账户绑定，完成基金账户和基金交易账户的开立工作。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、投资者首次通过湖北银行开立博时基金账户，其开户申请将于T+1日内确认，确认成功后，相应账户开立成功。账户开立成功与否以博时基金确认结果为准。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四条 账户绑定</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投资者的湖北银行账户是其和博时基金办理货币基金交易资金结算的唯一账户，本协议签署后，与基金交易账户直接关联绑定。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五条 风险测评</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;投资者知晓并同意，由于货币基金相比股票型、债券型和混合型基金，属于基金中的低风险品种，投资者具备投资低风险基金品种的风险承受能力，因此通过湖北银行进行博时现金宝的相关交易时，系统默认投资者为最低风险承受能力类型。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第六条 申购申请</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、在本协议有效期间内，投资者在湖北银行发起的申购申请，将由湖北银行基金代销系统向博时基金公司发出申购指令，并视为投资者本人发出的指令。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、投资者知悉并同意，投资者于T日15：00前转入的资金作为T日申购申请，投资者于T日15:00后完成的资金转入将按照T+1日申购申请处理。（T日为基金交易的工作日）</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、湖北银行根据与博时基金的生效合作协议要求，将确认交易成功的基金份额申购资金划转至博时基金。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、通过湖北银行办理博时现金宝申购的每个投资者单笔最高金额和每日最高金额、基金申购单笔最低金额等申购业务限制以博时基金的货币基金公告、业务规则及湖北银行货币基金业务规则的相关规定为准。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第七条 实时赎回申请</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、在投资者签订的本协议有效期间，投资者在此不可撤销的同意，在投资者向本协议绑定的湖北银行账户发起赎回指令时，视为投资者发起向对博时现金宝的实时赎回申请。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、投资者知悉并同意，在实时赎回方式下，由湖北银行代博时基金为投资者垫付相应赎回款，投资者同意将申请赎回的博时现金宝份额质押登记在 名下，用以担保投资者清偿湖北银行垫付基金赎回款的债务。所垫付资金的货币基金份额产生的收益归湖北银行。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、通过湖北银行办理博时现金宝实时赎回业务的每个投资者单笔限额、日累计限额、月累计限额以及所有投资者的每日累计实时赎回总额等业务申请限额，以博时基金的公告、业务规则及湖北银行货币基金业务规则的相关规定为准。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、在下述情况下，湖北银行或博时基金有权临时暂停实时赎回业务，并视情况及时恢复该业务：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）不可抗力；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）通讯、网络及计算机系统故障或暂停服务；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）湖北银行或博时基金已支付的未受清偿的实时赎回资金已达到各自确认的限额。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）投资者的实时赎回限额超过湖北银行或博时基金相关法律文件或业务规则确定的最大可赎金额。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）湖北银行或博时基金认为需要临时暂停快速转出业务的其他情形。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、对于任何因为投资者的原因，包括但不限于如遇司法机关要求冻结、扣划等情形，导致实际赎回份额不能及时赎回到账，投资者应承担湖北银行已实时支付赎回资金因此而导致的损失，湖北银行享有向投资者追偿的权利。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、如因系统故障、系统升级，或投资者银行账户已销户、账户状态不正常（挂失、冻结），或自然灾害等不可抗力事件，或其他不可预见的非常情况，或网络、通讯故障等任何非湖北银行和博时基金原因导致赎回款项无法实时向投资者划付的，湖北银行和博时基金不承担任何责任。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、湖北银行“臻心宝”业务暂不收取服务费，湖北银行保留收取此项业务服务费的权利，并有权根据业务情况调整服务费标准。客户办理货币基金业务所对应购买基金产生的相关手续费，以博时基金公司公告或基金招募说明书为准。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、博时现金宝的收益计算方式以本基金已生效的基金合同和招募说明书等法律文件为准。该法律文件发布在博时基金网站，投资者应主动查看。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、湖北银行发布博时基金关于货币市场基金的公告、法律文件的，不对信息的真实性、准确性、有效性承担责任。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第八条 免责条款</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因下列情形导致投资者损失的，博时基金、湖北银行不承担责任：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、不可抗力；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、因电信部门的通讯线路故障、通讯技术缺陷、电脑黑客或计算机病毒等问题造成湖北银行基金代销系统不能正常运转；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、由于系统故障或者客户原因，导致资金到账迟滞等问题，博时基金与湖北银行将尽快解决，但不承担赔偿责任；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、因湖北银行或博时基金设备或通讯故障或设备未能处于正常工作状态致使博时基金未能按时收到或者收取投资者的申请信息不完整；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、法律和政策重大变化或任何其他湖北银行不可预测和不可控制因素导致的突发事件；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、因投资者自身遗失、遗忘或泄露密码等原因导致损失；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、法律规定和本协议约定的其他免责事项。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第九条 协议的效力及变更</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、投资者在办理货币基金业务时须阅读本协议，客户成功办理交易即表示已签署并同意接受本协议的全部内容及与本协议有关的各项业务规则，本协议即时生效。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、投资者签署本协议，即视为已阅读基金合同及招募说明书。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、博时基金和湖北银行将根据实际情况和业务需要变更本协议内容及博时现金宝业务规则，发生变更的，博时基金、湖北银行会在各自网站公告；投资者在公告后继续使用湖北银行“臻心宝”业务的，视为接受该变更。</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、本协议在下述情况之一发生时终止：</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（1）乙方根据自身内部管理需要决定终止货币基金业务；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（2）甲方死亡或不再具备相应的民事行为能力；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（3）因不可抗力使本协议无法继续履行；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（4）甲方违反本协议规定；</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（5）出现相关法律、法规及规章制度规定的其他终止事由。</p>
				<p class="hint_con color_3" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第十条 纠纷的解决办法</p>
				<p class="hint_con fz_12 color_6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本协议适用中华人民共和国法律。三方如有争议，应尽可能通过协商、调解解决，协商、调解不成，任何一方均有权提起诉讼，并以被告住所地法院为第一审管辖法院。</p>
				
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
	</body>
</html>