<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>交易账号变更</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">交易账号变更</h1>
		    </div>
		</header>
		<!--<div id="pullrefresh" class="mui-scroll-wrapper" style="margin-top: 0px;">-->
		<div id="pullrefresh" class="mui-scroll-wrapper">
		<div class="mui-scroll">
		<div class="content_BOXall hb_cont">
			<div class="content_box5px m_top10px">
				<div class="backbox_th p_lr10px">
					<ul id="transTrustQuery">
						<!--<li>
							<p class="color_6">签约账号</p>
							<p class="fz_15">6221**** ****1111</p>
							<div class="content_rbox">
								<p class="color_6">正常</p>
								<p class="fz_12 color_9">状态</p>
							</div>
							<a class="link_rbg2"></a>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="content_box5px m_top130px" id="showMsgDiv" style="display: none;"></div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>	
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/changeBankCard');
		</script>
	</body>
</html>