<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>基金</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link href="../../css/mui.picker.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link href="../../css/mui.listpicker.css" rel="stylesheet" />	
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title" id="fundType"></h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont p_down66px">
			<div class="backbox_fo">
				<p class="backbox_tit2" id="fundTypeInfo"></p>
		    	<ul class="p_lr30px">
		    		<li>
		    			<span class="detail_left">基金名称</span>
		    			<span class="detail_right" id="prodName"></span>
		    		</li>
		    		<li>
		    			<span class="detail_left">首次购买起点</span>
		    			<span class="detail_right" id="firstBuyPoint"></span>
		    		</li>
		    		<li>
		    			<span class="detail_left">追加购买起点</span>
		    			<span class="detail_right" id="addBuyPoint"></span>
		    		</li>
		    		<li>
		    			<span class="detail_left">递增金额</span>
		    			<span class="detail_right" id="addAmount"></span>
		    		</li>
		    	</ul>
		    </div>
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit" id="des"></p>
			    </div>
			    <div class="backbox_th p_lr10px">
					<ul>
						<li id="changeAccount">
							<span class="input_lbg">交易账户</span>
					    	<span class="input_m14px" id="accountNo">请选择</span>
					    	<a class="link_rbg"></a>
						</li>
						<li>
					    	 <span class="input_lbg">账户余额</span>
					    	 <span class="input_lbg" id="balance"></span>
					    </li>
						<li>
					    	 <span class="input_lbg">购买金额</span>
					    	 <input class="input_m14px" type="number" id="buyAmount" placeholder="请输入购买金额"></input>
					    	 <p class="input_rmb">元</p>
					    </li>
					    <li id="bonusWayLi" style="display: none;">
							<span class="input_lbg">分红方式</span>
					    	<span class="input_m14px" id="bonusWay">请选择</span>
					    	<a class="link_rbg"></a>
						</li>
					    <li>
					    	 <span class="input_lbg">理财经理代码</span>
					    	 <input class="input_m14px" type="tel" pattern="\d*" id="fianceManagerCode" placeholder="非必输" maxlength="11" oninput="checkNum(this);"></input>
					    </li>
					</ul>
				</div>
			</div>
			<div class="btn_bg_f2">
				<button class="but_315px but_red" path="historyTranQueryResult.html" id="submit" noCheck="false" disabled="disabled">下一步</button>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>	
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			//限制输入长度用maxlength，限制输入正整数
			function checkNum(obj) {
			    var reg = new RegExp("^[0-9]*$");
			    var length = obj.value.length;
			    for(var i = 0;i < length;i++){//循环处理一次输入多个字符问题
					//校验是否符合正整数规则，不符合则截取掉最后一位字符
					if(!reg.test(obj.value)){
						//适用type!="number"的情况，如type="tel"
						obj.value = obj.value.substring(0, obj.value.length - 1);
					}
			    }
			}
		</script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundBuy');
		</script>
	</body>
</html>