<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>基金签约权益须知</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body style="background: #FFFFFF;">
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">基金签约</h1>
		    </div>
		</header>
		<div class="mui-scroll">
			<div class="content_BOXall hb_cont p_down66px">
				<div class="content_box5px p_lr10px">
					<p class="hint_con fz_14" align="center"><font color="#000000">湖北银行证券投资基金投资人权益须知</font></p>
					<p class="hint_con fz_12">尊敬的基金投资人：</p>
					<p class="hint_con fz_12">基金投资在获取收益的同时存在投资风险。<font color="#000000">为了保护您的合法权益，请在投资基金前认真阅读以下内容。</font></p>
					<p class="hint_con fz_12"><font color="#000000">一、基金的基本知识</font></p>
					<p class="hint_con fz_12"><font color="#000000">（一）什么是基金</font></p>
					<p class="hint_con fz_12">证券投资基金（简称基金）是指通过发售基金份额，将众多投资者的资金集中起来，形成独立财产，由基金托管人托管，基金管理人管理，以投资组合的方法进行证券投资的一种利益共享、风险共担的集合投资方式。</p>
					<p class="hint_con fz_12"><font color="#000000">（二）基金与股票、债券、储蓄存款等其它金融工具的区别</font></p>
					<p class="hint_con fz_12">
						<table border="1" width="100%">
							<tr>
								<td>&nbsp;</td>
								<td class="hint_con fz_12" align="center"><font color="#000000">基金</font></font></td>
								<td class="hint_con fz_12" align="center"><font color="#000000">股票</font></td>
								<td class="hint_con fz_12" align="center"><font color="#000000">债券</font></td>
								<td class="hint_con fz_12" align="center"><font color="#000000">银行储蓄存款</font></td>
							</tr>
							<tr>
								<td class="hint_con fz_12" width="10%">反映的经济关系不同</td>
								<td class="hint_con fz_12" width="25%">信托关系，是一种受益凭证，投资者购买基金份额后成为基金受益人，基金管理人只是替投资者管理资金，并不承担投资损失风险</td>
								<td class="hint_con fz_12" width="20%">所有权关系，是一种所有权凭证，投资者购买后成为公司股东</td>
								<td class="hint_con fz_12" width="20%">债权债务关系，是一种债权凭证，投资者购买后成为该公司债权人</td>
								<td class="hint_con fz_12" width="25%">表现为银行的负债，是一种信用凭证，银行对存款者负有法定的保本付息责任</td>
							</tr>
							<tr>
								<td class="hint_con fz_12" width="10%">所筹资金的投向不同</td>
								<td class="hint_con fz_12" width="25%">间接投资工具，主要投向股票、债券等有价证券</td>
								<td class="hint_con fz_12" width="20%">直接投资工具，主要投向实业领域</td>
								<td class="hint_con fz_12" width="20%">直接投资工具，主要投向实业领域</td>
								<td class="hint_con fz_12" width="25%">间接投资工具，银行负责资金用途和投向</td>
							</tr>
							<tr>
								<td class="hint_con fz_12" width="10%">投资收益与风险大小不同</td>
								<td class="hint_con fz_12" width="25%">投资于众多有价证券，能有效分散风险，风险相对适中，收益相对稳健</td>
								<td class="hint_con fz_12" width="20%">价格波动性大，高风险、高收益</td>
								<td class="hint_con fz_12" width="20%">价格波动较股票小，低风险、低收益</td>
								<td class="hint_con fz_12" width="25%">银行存款利率相对固定，损失本金的可能性很小，投资比较安全</td>
							</tr>
							<tr>
								<td class="hint_con fz_12" width="10%">收益来源</td>
								<td class="hint_con fz_12" width="25%">利息收入、股利收入、资本利得</td>
								<td class="hint_con fz_12" width="20%">股利收入、资本利得</td>
								<td class="hint_con fz_12" width="20%">利息收入、资本利得</td>
								<td class="hint_con fz_12" width="25%">利息收入</td>
							</tr>
							<tr>
								<td class="hint_con fz_12" width="10%">投资渠道</td>
								<td class="hint_con fz_12" width="25%">基金管理公司及银行、证券公司等代销机构</td>
								<td class="hint_con fz_12" width="20%">证券公司</td>
								<td class="hint_con fz_12" width="20%">债券发行机构、证券公司及银行等代销机构</td>
								<td class="hint_con fz_12" width="25%">银行、信用社、邮政储蓄银行</td>
							</tr>
						</table>
					</p>
					<p class="hint_con fz_12"><font color="#000000">（三）基金的分类</font></p>
					<p class="hint_con fz_12"><font color="#000000">1．</font>据运作方式的不同，可分为封闭式基金与开放式基金。
封闭式基金是指基金份额在基金合同期限内固定不变，基金份额可以在依法设立的证券交易所交易，但基金份额持有人不得申请赎回的一种基金运作方式。
开放式基金是指基金份额不固定，基金份额可以在基金合同约定的时间和场所进行申购和赎回的一种基金运作方式。</p>
					<p class="hint_con fz_12"><font color="#000000">2．</font>依据投资对象的不同，可分为股票基金、债券基金、货币市场基金、混合基金。
根据《证券投资基金运作管理办法》对基金类别的分类标准，80%以上的基金资产投资于股票的为股票基金；80%以上的基金资产投资于债券的为债券基金；仅投资于货币市场工具的为货币市场基金；投资于股票、债券和货币市场工具，但股票投资和债券投资的比例不符合股票基金、债券基金规定的为混合基金。这些基金类别按收益和风险由高到低的排列顺序为：股票基金、混合基金、债券基金、货币市场基金，即股票基金的风险和收益最高，货币市场基金的风险和收益最低。
</p>
					<p class="hint_con fz_12"><font color="#000000">3．</font>特殊类型基金</p>
					<p class="hint_con fz_12"><font color="#000000">（1）</font>系列基金。又被称为伞型基金，是指多个基金共用一个基金合同，子基金独立运作，子基金之间可以进行相互转换的一种基金结构形式。</p>
					<p class="hint_con fz_12"><font color="#000000">（2）</font>保本基金。是指通过采用投资组合保险技术，保证投资者的投资目标是在锁定下跌风险的同时力争有机会获得潜在的高回报。</p>
					<p class="hint_con fz_12"><font color="#000000">（3）</font>交易型开放式指数基金<font color="#000000">（ETF）</font>与<font color="#000000">ETF</font>联接基金。交易型开放式指数基金，通常又被称为交易所交易基金<font color="#000000">（Exchange Traded Funds，简称“ETF”），</font>是一种在交易所上市交易的、基金份额可变的一种开放式基金。它结合了开放式基金和封闭式基金的运作特点，其份额可以在二级市场买卖，也可以申购、赎回。但是由于它的申购是用一篮子成份券换取基金份额，赎回也是换回一篮子成份券而非现金。为方便未参与二级市场交易的投资者，就诞生了“ETF联接基金”，这种基金将90%以上的资产投资于目标ETF，采用开放式运作方式并在场外申购或赎回。</p>
					<p class="hint_con fz_12"><font color="#000000">（4）</font>上市开放式基金<font color="#000000">（Listed Open-ended Funds，简称“LOF”）</font>是一种既可以在场外市场进行基金份额申购赎回，又可以在交易所（场内市场）进行基金份额交易、申购或赎回的开放式基金。</p>
					<p class="hint_con fz_12"><font color="#000000">（5）QDII</font>基金。<font color="#000000">QDII是Qualified Domestic Institutional Investors</font>的首字母缩写。它是一种以境外证券市场为主要投资区域的证券投资基金，投资者可以用人民币或美元等外汇进行认购和申购，在承担境外市场相应投资风险的同时获取相应的投资收益。<font color="#000000">QDII</font>基金与普通证券投资基金的最大区别在于投资范围不同。它为国内投资者参与国际市场投资提供了便利。</p>
					<p class="hint_con fz_12"><font color="#000000">（6）</font>分级基金。是指通过事先约定基金的风险收益分配，将基础份额分为预期风险收益不同的子份额，并可将其中部分或全部份额上市交易的结构化证券投资基金。</p>
					<p class="hint_con fz_12"><font color="#000000">（四）基金评级</font></p>
					<p class="hint_con fz_12">基金评级是依据一定标准对基金产品进行分析从而做出优劣评价。投资人在投资基金时，可以适当参考基金评级结果，但切不可把基金评级作为选择基金的唯一依据。此外，<font color="#000000">基金评级是对基金管理人过往的业绩表现做出评价，并不代表基金未来长期业绩的表现。</font></p>
					<p class="hint_con fz_12">本行将根据销售适用性原则，对基金管理人进行审慎调查，并对基金产品进行风险评价。</p>
					<p class="hint_con fz_12"><font color="#000000">（五）基金费用</font></p>
					<p class="hint_con fz_12">基金费用一般包括两大类：一类是在基金销售过程中发生的由基金投资人自己承担的费用，主要包括认购费、申购费、赎回费和基金转换费。这些费用一般直接在投资人认购、申购、赎回或转换时收取。其中申购费可在投资人购买基金时收取，即前端申购费；也可在投资人卖出基金时收取，即后端申购费，其费率一般按持有期限递减。另一类是在基金管理过程中发生的费用，主要包括基金管理费、基金托管费、信息披露费等，这些费用由基金承担。对于不收取申购、赎回费的货币市场基金和部分债券基金，还从基金资产中计提一定的销售服务费。</p>
					<p class="hint_con fz_12"><font color="#000000">二、基金份额持有人的权利</font></p>
					<p class="hint_con fz_12">根据《证券投资基金法》第70条的规定，基金份额持有人享有下列权利：</p>
					<p class="hint_con fz_12">（一）分享基金财产收益；（二）参与分配清算后的剩余基金财产；（三）依法转让或申请赎回其持有的基金份额；（四）按照规定要求召开基金份额持有人大会；（五）对基金份额持有人大会审议事项行使表决权；（六）查阅或者复制公开披露的基金信息资料；（七）对基金管理人、基金托管人、基金份额发售机构损害其合法权益的行为依法提起诉讼；（八）基金合同约定的其它权利。</p>
					<p class="hint_con fz_12"><font color="#000000">三、基金投资风险提示</font></p>
					<p class="hint_con fz_12"><font color="#000000">（一）证券投资基金是一种长期投资工具，其主要功能是分散投资，降低投资单一证券所带来的个别风险。基金不同于银行储蓄和债券等能够提供固定收益预期的金融工具，投资人购买基金，既可能按其持有份额分享基金投资所产生的收益，也可能承担基金投资所带来的损失。</font></p>
					<p class="hint_con fz_12"><font color="#000000">（二）基金在投资运作过程中可能面临各种风险，既包括市场风险，也包括基金自身的管理风险、技术风险和合规风险等。巨额赎回风险是开放式基金所特有的一种风险，即当单个交易日基金的净赎回申请超过基金总份额的百分之十时，投资人将可能无法及时赎回持有的全部基金份额。</font></p>
					<p class="hint_con fz_12"><font color="#000000">（三）基金投资人应当充分了解基金定期定额投资和零存整取等储蓄方式的区别。定期定额投资是引导投资人进行长期投资、平均投资成本的一种简单易行的投资方式，但并不能规避基金投资所固有的风险，不能保证投资人获得收益，也不是替代储蓄的等效理财方式。</font></p>
					<p class="hint_con fz_12"><font color="#000000">（四）基金管理人承诺以诚实守信、勤勉尽责的原则管理和运用基金资产，但不保证旗下基金一定盈利，也不保证最低收益。旗下基金的过往业绩及其净值高低并不预示其未来业绩表现。基金管理人提醒投资人基金投资的“买者自负”原则，在做出投资决策后，基金运营状况与基金净值变化引致的投资风险，由投资人自行负担。</font></p>
					<p class="hint_con fz_12"><font color="#000000">（五）本行将对基金投资人的风险承受能力进行调查和评价，并根据基金投资人的风险承受能力推荐相应的基金品种，但我行所做的推荐仅供投资人参考，投资人应根据自身风险承受能力选择基金产品并自行承担投资基金的风险。</font></p>
					<p class="hint_con fz_12"><font color="#000000">四、服务内容和收费方式</font></p>
					<p class="hint_con fz_12">本行向基金投资人提供以下服务：</p>
					<p class="hint_con fz_12">（一）对基金投资人的风险承受能力进行调查和评价。</p>
					<p class="hint_con fz_12">（二）基金销售业务，包括基金（资金）账户开户、基金申（认）购、基金赎回、基金转换、定额定投、修改基金分红方式、基金转托管等。我行根据每只基金的发行公告及基金管理公司发布的其它相关公告收取相应的申（认）购、赎回费和转换费。</p>
					<p class="hint_con fz_12">（三）基金网上交易服务。</p>
					<p class="hint_con fz_12">（四）基金净值、交易确认等短信服务。具体服务内容及收费标准按照我行发布的相关公告执行。</p>
					<p class="hint_con fz_12">（五）基金知识普及、风险教育及电话咨询服务。</p>
					<p class="hint_con fz_12"><font color="#000000">五、基金交易业务流程</font></p>
					<p class="hint_con fz_12">（一）客户申请办理相关开放式基金业务前请详细阅读拟投资基金的基金合同、招募说明书、基金公司的最新业务规则及其所公告的相关信息。</p>
					<p class="hint_con fz_12">（二）银行仅为基金公司的代理销售机构，对基金的业绩不承担任何担保和其他经济责任，本行受理的各类基金交易委托，以该基金注册登记机构的确认结果为准。</p>
					<p class="hint_con fz_12">（三）基金销售服务规则和方式若有变动或新增，以本行最新相关业务公告为准，您可随时向我行客服中心及各代销网点咨询。</p>
					<p class="hint_con fz_12">（四）为保障投资者的合法权益，本行根据证监会《证券投资基金销售适用性指导意见》文件要求建立了投资者风险承受能力测评体系。个人客户通过我行首次购买基金前，需认真阅读《投资者权益须知》并进行风险承受能力测评。目前我行将投资者风险承受能力由低到高分为谨慎型、稳健型、平衡型、进取型、激进型。若客户购买基金产品时，所购买基金的风险等级高于自身风险承受能力评级时，在购买渠道客户还需签字或确认才能购买基金产品。</p>
					<p class="hint_con fz_12">（五）基金交易确认查询及打印基金确认单：<font color="#000000">1.</font>我行受理客户的各类基金交易委托，以该基金注册登记机构的确认结果为准，投资者成功办理上述交易委托后，可通过我行网点柜台、网上银行、手机银行、天空银行等渠道及时查询交易确认结果。<font color="#000000">2.QDII</font>基金投资者一般于交易受理后<font color="#000000">3</font>个交易日后可查询确认结果，其他基金投资者一般于交易受理后<font color="#000000">2</font>个交易日后可查询确认结果，请投资者及时查询交易确认结果。如投资者需打印基金确认单，需持办理基金交易委托的银行卡及身份证明到我行网点申请办理。</p>
					<p class="hint_con fz_12"><font color="#000000">六、投诉处理和联系方式</font></p>
					<p class="hint_con fz_12">（一）基金投资人可以通过拨打我行客户服务电话<font color="#000000">（400-85-96599）</font>等方式，对我行服务提出建议或投诉。对于受理的投诉，我行将予以妥善处理并给予及时回复。</p>
					<p class="hint_con fz_12">（二）基金投资人也可通过书信、传真、电子邮件等方式，向中国证监会和中国证券投资基金业协会投诉。联系方式如下：</p>
					<p class="hint_con fz_12">中国证监会<u>湖北</u>监管局：网址：<font color="#000000">www.csrc.gov.cn</font>，联系电话：<u>027-87460061</u>，传真：<u>027-87460021</u>，电子邮箱：<u>hubei@csrc.gov.cn</u>，地址： <u>武汉市珞喻路540号</u> ，邮编： <u>430079</u>  。</p>
					<p class="hint_con fz_12">中国证券投资基金业协会：网址：<font color="#000000">www.amac.org.cn</font>，电子邮箱：<font color="#000000">tousu@amac.org.cn</font>，地址：北京市西城区金融大街<font color="#000000">22</font>号交通银行大厦<font color="#000000">B</font>座<font color="#000000">9</font>层，邮编：<font color="#000000">100033</font>。电话：<font color="#000000">010-58352888</font>（中国证券投资者呼叫中心）、<font color="#000000">www.sipf.com</font>（中国证券投资者保护网）。</p>
					<p class="hint_con fz_12">（三）因基金合同而产生的或与基金合同有关的一切争议，如经协商或调解不能解决的，基金投资人可提交中国国际经济贸易仲裁委员会根据当时有效的仲裁规则进行仲裁。仲裁地点为基金合同约定的地点。仲裁裁决是终局的，对各方当事人均有约束力。</p>
					<p class="hint_con fz_12">投资者在投资基金前应认真阅读《基金合同》、《招募说明书》等基金法律文件，选择与自身风险承受能力相适应的基金。我行和基金管理人承诺投资人利益优先，以诚实信用、勤勉尽责的态度为投资人提供服务，但不能保证基金一定盈利，也不能保证基金的最低收益。投资人可登录中国证监会网站<font color="#000000">（www.csrc.gov.cn）</font>查询基金销售机构名录，核实我行基金销售资格。</p>
					<p class="hint_con fz_12"><font color="#000000">本人已认真阅读本权益须知的各项条款，并已特别注意字体加黑的条款，且湖北银行已应本人要求进行了详细说明。本人同意遵守本权益须知的各项条款，自愿承担可能出现的相关风险。</font></p>
					<p class="hint_con fz_12"><font color="#000000">客户签字：______签字日期：____年__月__日</font></p>
					<p class="hint_con fz_12"><font color="#000000">销售人员姓名：______</font></p>
					<p class="hint_con fz_12"><font color="#000000">基金销售机构名称：湖北银行股份有限公司</font></p>
					<p class="hint_con fz_12"><font color="#000000">客户服务电话：400-85-96599  网址：<u>www.hubeibank.cn</u><!--<a id="sendHubeiWebsite"><u>www.hubeibank.cn</u></a>--></font></p>
					<p class="hint_con fz_12"><font color="#000000">地址：武汉市武昌区水果湖街中北路86号汉街总部国际8栋</font></p>
					<p class="hint_con fz_12"><font color="#000000">邮编：430071</font></p>
				</div>
			</div>
		</div>
		<!--<div class="btn_bg_f2">
			<button class="but_150px but_red but_d10px" id="confirmButton">确&nbsp;&nbsp;定</button>
		</div>-->
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundCustomerSign_Agreement');
		</script>
	</body>
</html>