<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
		<title>交易规则详情</title>
		<link rel="stylesheet" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
			<h1 class="mui-title hb-title">交易规则详情</h1>
		</header>
		<div class="content_BOXall hb_cont p_down20px">
			<div class="backbox_fo">
			    <p class="backbox_tit2">购买规则</p>
			    <ul class="p_lr30px">
		    	    <li>
		    	    	<span class="detail_left">首次购买下限</span>
		    	    	<span class="detail_right" id="buyMinAmt"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">再次购买下限</span>
		    	    	<span class="detail_right" id="buySecMinAmt"></span>
		    	    </li>
		    	   <!-- <li>
		    	    	<span class="detail_left">购买单位</span>
		    	    	<span class="detail_right" id="buyStepAmt"></span>
		    	    </li>-->
		    	    <li>
		    	        <div class="ove_hid">
		    	    	    <p class="detail_left">认购费率</p>
		    	         	<p class="detail_right" id="subscribrate_none"></p>
		    	        </div>	
		    	        <!--<p class="m_top10px p_down20px" id="subscribrate_phone" style="display: none;">
		    	    	  	<span class="color_6">0.00元<=购买金额<100,000.00元，<br />0年<=购买周期<1年，费率为：2%；</span><br/>
		    	    	    <span class="color_6 fund_xqfl">0.00元<=购买金额<100,000.00元，<br />1年<=购买周期<2年，费率为：1.5%；</span>
		    	    	    <span class="color_6 fund_xqfl">0.00元<=购买金额<100,000.00元，<br />2年<=购买周期<3年，费率为：1%；</span>
		    	    	    <span class="color_6 fund_xqfl">100,000.00元<=购买金额<99,999,999,999,999.00元，<br />0年<=购买周期<1年，费率为：100.00元；</span>
		    	    	    <span class="color_6 fund_xqfl">100,000.00元<=购买金额<99,999,999,999,999.00元，<br />1年<=购买周期<2年，费率为：50.00元；</span>
		    	        </p>-->
		    	    </li>
		    	    <li>
		    	    	<div class="ove_hid">
		    	    	    <p class="detail_left">申购费率</p>
		    	    	    <p class="detail_right" id="purchasrate_none"></p>
		    	    	</div>
		    	      	<!--<p class="m_top10px p_down20px" id="purchasrate_phone" style="display: none;">
		    	    	    <span class="color_6"> 1年<=购买周期<2年，费率为：2%；</span>
		    	    	    <span class="color_6 fund_xqfl">2年<=购买周期<4年，费率为：1.5%；</span>
		    	    	    <span class="color_6 fund_xqfl">4年<=购买周期<99999999年，费率为：500.00元；</span>
		    	     	</p>-->
		    	    </li>
		       	</ul>
		   	</div>
		   	<div class="backbox_fo">
			    <p class="backbox_tit2">赎回规则</p>
			    <ul class="p_lr30px">
		    	    <li>
		    	    	<span class="detail_left">最低赎回份额</span>
		    	    	<span class="detail_right" id="f_b24minamt"></span>
		    	    </li>
		    	    <li>
		    	    	<span class="detail_left">最低持有份额</span>
		    	    	<span class="detail_right" id="f_holdmin"></span>
		    	    </li>
		    	    <!--<li>
		    	    	<span class="detail_left">赎回单位</span>
		    	    	<span class="detail_right">0.01</span>
		    	    </li>-->
		    	    <li>
		    	    	<p class="detail_left">赎回到账时间</p>
		    	    	<span class="detail_right" id="f_day_payment"></span>
		    	    </li>
		    	    <li>
		    	    	<div class="ove_hid">
		    	    	   	<p class="detail_left">赎回费率</p>
		    	    	    <p class="detail_right" id="redemrate_none"></p>
		    	    	</div>
		    	        <!--<p class="m_top10px p_down20px" id="redemrate_phone" style="display: none;">
		    	    	    <span class="color_6">0.00元<=购买金额<10,000.00元，<br />费率为：1.9%；</span>
		    	      	    <span class="color_6 fund_xqfl">10,000.00元<=购买金额<100,000.00元，<br />费率为：1.3%；</span>
		    	    	    <span class="color_6 fund_xqfl">100,000.00元<=购买金额<99,999,999,999,999.00元，<br />费率为：0.50元；<br/></span>
		    	        </p>-->
		    	    </li>
		       	</ul>
		   	</div>
		   	<div class="content_box5px p_lr10px box_top15px p_down66px">
				<p class="hint">温馨提示</p>
				<p class="hint_con fz_12">1.您于基金交易日15：00之前提交的申请将于当日发起；其他时间提交的申请，将于下一个基金交易日发起。</p>
				<p class="hint_con fz_12">2.您新申购的基金，需要基金公司确认，T+2日可查询份额；新认购的基金，待基金成立后可查询到份额。</p>
			</div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundTransRule');
		</script>
	</body>
</html>