<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>排行榜</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">	
		        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
		        <h1 class="mui-title hb-title" id="title"></h1>
		</header>
		<div class="content_BOXall p_down20px hb_cont mui-scroll-wrapper" id="pullrefresh">
			<div class="content_box5px">
				<div id="chartsList"></div>
			</div>
			
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../js/core/param.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundcharts'); 
		</script>
	</body>
</html>
