<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>风险评估</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		    	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">风险评估</h1>
		    </div>
		</header>
	<div class="content_BOXall hb_cont p_down66px">
	    <div id="pullRefresh" class="backbox_fo p_lr10px mui-scroll-wrapper">
		<!--<div id="pullRefresh" class="backbox_fo p_lr10px p_top5px word_bg" style="margin-top: 45px;">-->
			<!--<div id="pullRefresh" class="backbox_fo mui-scroll-wrapper p_down66px p_top5px">-->
			<!--<div id="pullRefresh" class="mui-scroll-wrapper hb_soso2" style="margin: 0px 0px 0px 0px;">-->
		    <div id="questionListTable1" class="content_box5px" >
				<div id="questionListTable" style="padding-top: 0;">
			        <ul id="questionList"></ul>
				</div>
		    </div>					
	    </div>
	
	</div>
	<div class="btn_bg_f2">
		<button class="but_150px  but_d10px but_w" id="resetButton">重&nbsp;&nbsp;置</button>
		<button class="but_150px but_red " id="confirmButton">确&nbsp;&nbsp;定</button>
	</div>
	
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundRiskAssessment');
		</script>
	</body>
</html>
