<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>分红方式设置结果</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<h1 class="mui-title hb-title">分红方式设置</h1>
		    </div>
		</header>
		<div class="content_BOXall">
			<div class="success_icon1 suc_top7px"></div>
			<p class="fz_18 text_m">分红方式设置成功！</p>
		</div>
		<div class="but_bottom20px">
			<button class="but_315px but_red" id="fundShareChange">返回</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundDividendResult');
		</script>		
	</body>
</html>

