<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>当前申请详情</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
		      	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">当前申请</h1>
		    </div>
		</header>
		<div class="content_BOXall p_down66px hb_cont">
			<div class="backbox_fo">
				<!--<p class="backbox_tit2">委托交易详情</p>-->
				<ul class="p_lr30px">
					<li id = "show_applicationamount">
			    	    <span class="detail_left">交易金额</span>
			    	    <span class="detail_right" id="f_applicationamount"></span>
					</li>
					
					<li id="show_applicationvol">
			    	    <span class="detail_left">交易份额</span>
			    	    <span class="detail_right" id="f_applicationvol"></span>
					</li>
					
					
					<li>
			    	    <span class="detail_left">交易账号</span>
			    	    <span class="detail_right" id="accountCardNo"></span>
				    </li>
					<li>
			    	    <span class="detail_left">基金名称</span>
			    	    <span class="detail_right" id="f_prodname"></span>
					</li>
					<li>
			    	    <span class="detail_left">交易类型</span>
			    	    <span class="detail_right" id="f_prodtype"></span>
					</li>
					<li>
			    	    <span class="detail_left">申请日期</span>
			    	    <span class="detail_right" id="f_transactiondate"></span>
					</li>
					
				</ul>
			</div>
           
			<div class="btn_bg_f2">
				<button class="but_315px but_red but_d10px" id="nextButton">撤&nbsp;&nbsp;单</button>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundAgentProductDetail');
		</script>
	</body>
</html>

