<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>基金投资</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">基金账户签约</h1>
				<!--<a class="nav_code"></a>-->
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
			<div class="backbox_fo">
			    <p class="backbox_tit2">签约信息</p>
					<ul class="p_lr30px">
						<li>
							<span class="detail_left">签约账号</span><span class="detail_right" id="deposit_acct"></span>
						</li>
						<li>
							<span class="detail_left">手机号码</span><span class="detail_right" id="mobile_telno"></span>
						</li>
						<!--<li>
							<span class="detail_left">对账单寄送选择</span><span class="detail_right" id="deliver_type"></span>
						</li>
						<li id="showdeliver_way" style="display: none;">
							<span class="detail_left">对账单寄送方式</span><span class="detail_right" id="deliver_way"></span>
						</li>-->
						<li>
							<span class="detail_left">性别</span><span class="detail_right" id="showfsex"></span>
						</li>
						<li id="showaddress">
							<span class="detail_left">通讯地址</span><span class="detail_right" id="address"></span>
						</li>
						<li id="showpost_code">
							<span class="detail_left">邮政编码</span><span class="detail_right" id="post_code"></span>
						</li>
						<!--<li id="showfaxno" style="display: none;">
							<span class="detail_left">传真号码</span><span class="detail_right" id="faxno"></span>
						</li>-->
						<li id="showemail">
							<span class="detail_left">电子邮箱</span><span class="detail_right" id="email"></span>
						</li>
					</ul>
			</div>
		</div>
		<div class="content_box5px p_down66px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">密码及验证码</p>
			    </div>
			    <div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul>
					    
				    </ul>
			    </div>
		   </div>
		<div class="btn_bg_f2">
			<button class="but_315px but_red" id="confirmButton" data-checkAuth='true'>确&nbsp;&nbsp;定</button>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<!--初始化构建安全认证页面，密码与短信验证码输入框 以及隐藏域-->   
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript"src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundCustomerSign_Confirm');
		</script>
	</body>
</html>
