<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>基金</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/index.css" />
	</head>
	<script></script>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">风险评估</h1>
		    </div>
		</header><br/><br/><br/>
		<div class="backbox_fo">
				    <ul class="p_lr20px">
		    	        <li>
	    	    	        <span class="detail_left">风险等级</span>
	    	    	        <span class="detail_right" id="cusriskLevel"></span>
		    	        </li>
		    	        <li>
	    	    	        <span class="detail_left">有效日期</span>
	    	    	        <span class="detail_right" id="riskendDate"></span>
		    	        </li>
			       </ul>
		</div><br/>
		<div style="margin: 0px 0px 0px 50px;">
				<button class="but_315px but_w  but_d10px" id="nextButton">重新评估</button>
				
		</div>
		<div style="margin: 0px 0px 0px 50px;">
				<button class="but_315px but_red but_d10px" id="continueBuy">继续购买</button>
		</div>
	<script src="../../js/common/mui.min.js"></script>
	<script src="../../js/common/jquery-1.12.0.min.js"></script>
	<script src="../../js/common/sea.js"></script>
	<script>
		seajs.config({
			base: "../../js/controllers/"
		});
		seajs.use('fund/fundRiskQuery');
	</script>
	</body>
</html>