<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>基金赎回</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/app.css" />
		<link rel="stylesheet" href="../../css/public.css" />
		<link rel="stylesheet" href="../../css/style.css" />		
	</head>
	
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">基金赎回</h1>
		    </div>
		</header>
  
		<div class="content_BOXall hb_cont">
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">基金赎回信息</p>
			    </div>
				<div class="backbox_th p_lr10px bg_br2px">
				    <ul>
					    <!--<li class="b_das" id="changeAccount">
					    	    <span class="input_lbg">付款账号</span>
					    	    <span class="input_m14px" id="accountNo"></span>
					    	    <a class="link_rbg"></a>
					    </li>-->
					    <li>
					    	    <p>
					    	    	<span class="input_lbg">基金名称</span>
					    	        <span class="input_m12px" id="productName"></span>
					    	    </p>  
					    </li>
					    <li>
					    	    <p>
					    	    	<span class="input_lbg">交易账号</span>
					    	        <span class="input_m12px" id="accountNo"></span>
					    	    </p>  
					    </li>
					    <li>
					    	    <p>
					    	    	<span class="input_lbg">可用份额</span>
					    	        <span class="input_m12px" id="avdilvol"></span>&nbsp;份
					    	    </p>  
					    </li>
					     <li>
					    	    <p>
					    	    	<span class="input_lbg">赎回份额</span>
					    	        <span class="input_m12px" id="redemptionLot"></span>&nbsp;份
					    	    </p>  
					    </li>
					    <li>
					    	    <p>
					    	    	<span class="input_lbg">如遇巨额赎回</span>
					    	        <span class="input_m12px" id="largerRedemption"></span>
					    	    </p>  
					    </li>
				    </ul>
			    </div>
			</div>
			
			
			<div class="content_box5px">
				<div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">密码信息</p>
			   </div>			    
				<div class="backbox_th p_lr10px bg_br2px" data-security="needPassword|needAuth">
				    <ul>
	   
				    </ul>				    
			    </div>
			</div>
		</div>

			<div class="btn_bg_f2">
				<button class="but_315px but_red" id="nextButton">下一步</button>
			</div>	
		
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/smart.poppicker.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript" src="../../js/core/utils.js"></script>
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script> 
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 		
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/fundRedemptionNext');
		</script>			
	</body>
</html>
