<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的定投</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/public.css"/>
		<link rel="stylesheet" href="../../css/style.css" />
		<style>
			.mui-scroll-wrapper {
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%
			}		
	        .mui-scroll{
	        	position: relative;
	        }
		</style>
	</head>
	<body>
		<div class="bg_screen content_box5px">
		    <div class="backbox_th p_lr10px">
				<ul>
					<li class="b_das" id="changeAccount">
					    	<span class="input_lbg">请选择账号</span>
					    	<span class="input_m14px" id="accountNo"></span>
					    	<a class="link_rbg_red_d"></a>
					</li>
				</ul>
		    </div>
		</div>
		<div id="pullrefresh" class="mui-scroll-wrapper" style="margin-top: 62px;">
			<div class="mui-scroll" style="padding-bottom: 1px;">		
				<div class="backbox_fundmarket m_top10px" style="display: none;" id="titleDiv">
					<ul class="fundmarket_tabtit">
						<li class="fundmarket_tableft"><span class="fund_tabtitle">基金名称</span></li>
						<li class="fundmarket_tabm"><span class="fund_tabtitle">定投周期</span></li>
						<li class="fundmarket_tabright"><span class="fund_tabtitle">定投金额</span></li>
					</ul>
					<div id="investmentList">
						<!--<ul class="fundmarket_tabcont" id="investmentList">
							<li class="fundmarket_tableft"><p>测试基金</p><p class="color_6 fz_15">950001</p></li>
							<li class="fundmarket_tabm"><p class="m_top5px" style="margin-top: 10px;">每周星期一</p></li>
							<li class="fundmarket_tabright"><p class="color_red m_top5px" style="margin-top: 12px;">¥1000</p> </li>
						</ul>-->
					</div>
				</div>
	  		</div>
		</div>
		<div class="content_box5px m_top130px" id="showMsgDiv" style="display: none;"></div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/smart.poppicker.js"></script>
		<script src="../../js/core/param.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('fund/myInvestmentList')
		</script>
	</body>
</html>
