<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>无卡预约取款</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">
		    <div class="header_wraper">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
				<h1 class="mui-title hb-title">无卡预约取款</h1>
		    </div>
		</header>
		<div class="content_BOXall hb_cont">
		    <p class="backbox_tit2">确认预约信息</p>
			<div class="backbox_th p_lr10px">
			    <ul class="p_lr30px">
		    	        <li>
		    	    	        <span class="input_lbg">预约账号：</span><span class="input_m14px" id="cardNo"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="input_lbg">我的手机号：</span><span class="input_m14px" id="mobileNo"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="input_lbg">预约金额：</span><span class="input_m14px" id="orderMoney"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="input_lbg">预约时间：</span><span class="input_m14px" id="orderDate"></span>
		    	        </li>
		    	        <li>
		    	    	        <span class="input_lbg">有效期：</span><span class="input_m14px">24小时内有效</span>
		    	        </li>
		       </ul>
		   </div>
		   <div class="content_box5px">
		   	    <div class="backbox_tit_bg">
				    <p class="backbox_tit_ico"></p>
				    <p class="backbox_tit">验证信息</p>
			    </div>
			    <div class="backbox_th p_lr10px" data-security="needPassword|needAuth">
				    <ul>
					    <!--<li>
					    	    <span class="input_lbg">短信验证码：</span>
					    	    <input class="input_m14px" type="number" placeholder="请输入短信验证码" id="identifyCode"></input>
					    	    <button class="but_rh28px" id="getIdentifyCode">获取验证码</button>
					    </li>-->
				    </ul>
			    </div>
		   </div>
		   <div class="content_box5px p_lr10px box_top15px p_down66px">
				
		   </div>
		   <div class="btn_bg_f2" id="abc">
				<button class="but_315px but_red" data-checkAuth='true' path="cardTransfer_Success.html" noCheck="true" id="cardTransfer_Success">确&nbsp;&nbsp;定</button>
		   </div>
		</div>
		<script type="text/javascript" src="../../js/common/jquery-1.12.0.min.js"></script>
		<script type="text/javascript" src="../../js/common/mui.min.js"></script>
		<script type="text/javascript" src="../../js/common/sea.js"></script>
		<script src="../../js/core/param.js"></script> 
		<script src="../../js/core/utils.js"></script>   
		<script type="text/javascript" src="../../js/core/initSecurityContent.js"></script>
		<script type="text/javascript" src="../../js/common/keyboard/plugin-wtxc-keyboard.js"></script> 
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('drawWithoutCard/drawInfo_confirm');
		</script>			
	</body>
</html>
