<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
        <link href="../../css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../../css/public.css"/>
		<!--<link rel="stylesheet" href="../../css/style_zhr.css"/>-->
	  
	</head>
	<body>
	<!--<div class="mui-bar mui-bar-nav" style="background: none; box-shadow: none;">
		<div class="main_user_logo"><a class="logo"></a></div>
		<a class="nav_code"></a>
		<a class=""></a>
	</div>-->
	<div class="mui-content"></div>
		<script src="../../js/common/mui.min.js"></script>
		<!--<script src="../../js/common/jquery-1.12.0.min.js"></script>-->
		<!--<script type="text/javascript" src="../../js/common/jquery.touchSlider.js"></script>-->
		<!--<script type="text/javascript" src="../../js/common/slideMove.js"></script>-->
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('main/main');
		</script>
		
	</body>
</html>
