<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>湖北银行首页</title>
	</head>

	<body>
		<!--广告图片src需要配置为访问WEB服务器图片资源路径:http/https:xxxx/xx.png-->
		<div id="slider" class="banner_bg mui-slider" >
			<div class="mui-slider-group mui-slider-loop">
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a onclick="jumPage('http://192.168.10.162:8090/perbank/mbank/html/mbank.html|金融广告1')"><img src="../../img/h_banner1_1.png"></a>
				</div>
				<div class="mui-slider-item">
					<a onclick="jumPage('http://192.168.10.162:8090/perbank/mbank/html/mbank.html|金融广告1')"><img src="../../img/h_banner1_1.png"></a>
				</div>
				 
				<div class="mui-slider-item">
					<a onclick="jumPage('http://192.168.10.162:8090/perbank/mbank/html/mbank.html|金融广告4')"><img src="../../img/h_banner2.png"></a>
				</div>
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a onclick="jumPage('http://192.168.10.162:8090/perbank/mbank/html/mbank.html|金融广告1')"> <img src="../../img/h_banner1_1.png"></a>
				</div>
			</div>
			<div class="mui-slider-indicator rollbox">
				<div class="mui-indicator rollone mui-active"></div>
				 
				<div class="mui-indicator rollone"></div>
			</div>
		</div>
	</body>
</html>