<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>新增缴费账户</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link href="../../css/global.css" rel="stylesheet" />
		<link href="../../css/style-custom.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">金融资讯</h1>
			<a class="mui-pull-right fz_14 cor_fff code-cancel p-left15 payBill-local">湖北银行市</a>
		</header>
		<!--<iframe src="http://www.uphsh.com/wap/credit/d70afe6e8e754c0caad76b40d76427c2" height="100%"></iframe>-->
		
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/jquery.touchwipe.min.js"></script>
		<script src="../../js/common/sea.js"></script>
		<script type="text/javascript">
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('main/messageTwo');
		</script>
	</body>

</html>