<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>在线客服</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<div class="mui-content"> 
			<div style="width: 100%; text-align: center; padding-top: 40%;"> <span style="font-size: 20px;" id="waiting"></span> </div>
             
		
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/param.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/controllers/main/md5.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('main/onlineAgentDetail'); 
		</script>
	</body>
</html>
