<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>在线客服</title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/public.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav hb-header">	
		        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left hb_back"></a>
		        <h1 class="mui-title hb-title" id="test">在线客服</h1>
		</header>
		
			
		<div class="mui-content"> 
			<div style="width: 100%; text-align: center; padding-top: 40%;"> <!--<span style="font-size: 20px;">敬请期待！</span>--> </div>
             
		
		</div>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/common/sea.js"></script>

		
		
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('main/onlineAgent'); 
		</script>
	</body>
</html>