<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>消息</title>
		<link rel="stylesheet" href="../../css/mui.min.css">	
        <link rel="stylesheet" href="../../css/public.css" />
        <link rel="stylesheet" href="../../css/index.css" />
        <link rel="stylesheet" href="../../css/style.css" />
  <!--      <link rel="stylesheet" href="../../css/global.css"/>-->
		<script src="../../js/common/mui.min.js"></script>
        <script src="../../js/common/jquery-1.12.0.min.js"></script>
	</head>
	<body>
		<div class="mui-scroll-wrapper" id="pullrefresh">
			<div class="content_box5px m_top5px">
				<div id="sysMsg"></div>
			</div>
		</div>
		<script src="../../js/core/support.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery-1.12.0.min.js"></script>
		<script src="../../js/core/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/sea.js"></script>
		<script>
			seajs.config({
				base: "../../js/controllers/"
			});
			seajs.use('message/systemMessage');
		</script>
		
	</body>
</html>
